.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 991px) {
  .container {
    padding: 0 24px;
  }
}

.add-banner {
  position: relative;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0) 0%,
    rgb(0, 0, 0) 25%,
    rgb(0, 0, 0) 50%,
    rgb(0, 0, 0, 0) 95%,
    rgba(0, 0, 0, 0) 100%
  );
}

.add-banner .img {
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
}

.add-banner .add-banner-cont {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 2;
}

.add-banner .add-banner-h3 {
  font-size: 70px;
  font-weight: normal;
  color: #000;
  line-height: 1.2;
  margin: 0;
}

.add-banner .add-banner-p {
  font-size: 20px;
  line-height: 1.2;
  color: #000;
  margin: 0;
}

@media (max-width: 1400px) {
  .add-banner .img-icon {
    width: 340px;
  }

  .add-banner .add-banner-h3 {
    font-size: 50px;
  }

  .add-banner .add-banner-p {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .add-banner {
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0) 0%,
      rgb(0, 0, 0) 25%,
      rgb(0, 0, 0) 75%,
      rgb(0, 0, 0, 0) 95%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .add-banner .add-banner-cont {
    top: 30px;
    transform: translateY(0);
  }

  .add-banner .img-icon {
    display: block;
    margin: 0 auto;
    width: 70%;
    max-width: 460px;
  }

  .add-banner .add-banner-h3 {
    font-size: 28px;
    text-align: center;
    margin-top: 10px;
  }

  .add-banner .add-banner-p {
    font-size: 14px;
    text-align: center;
  }
}

.add-swiper {
  padding: 100px 0;
  overflow: hidden;
}

.add-swiper .add-swiper-p {
  font-size: 50px;
  color: #000;
  margin: 0;
  text-align: center;
  line-height: 1.2;
}

.add-swiper .add-swiper-cont {
  margin-top: 150px;
}

.add-swiper .add-swiper-list {
  display: flex;
}

.add-swiper .add-swiper-item {
  flex-shrink: 0;
  overflow: hidden;
  width: auto;
  max-width: max-content;
}

.add-swiper .add-swiper-item:nth-child(even) {
  padding-top: 130px;
}

.add-swiper .img {
  display: block;
  border-radius: 10px;
}

@media (max-width: 991px) {
  .add-swiper {
    padding: 50px 0;
  }
  .add-swiper .add-swiper-p {
    font-size: 28px;
  }
  .add-swiper .add-swiper-cont {
    margin-top: 70px;
  }
  .add-swiper .img {
    width: auto;
    height: 200px;
  }
  .add-swiper .add-swiper-item:nth-child(even) {
    padding-top: 30px;
  }
}

.add-position {
  padding: 100px 0;
}

.add-position .add-position-cont {
  display: flex;
  border-radius: 15px;
  overflow: hidden;
}

.add-position .add-position-left,
.add-position .add-position-right {
  width: 50%;
  position: relative;
}

.add-position .add-position-left svg {
  position: absolute;
  width: 5.83%;
  height: auto;
  display: block;
  z-index: 2;
  top: 15%;
  left: 30%;
  animation: bounce 1.5s infinite linear;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.add-position .img {
  display: block;
  width: 100%;
}

.add-position .add-position-right {
  background: linear-gradient(90deg, rgba(236, 239, 242, 1) 8%, #fff 92%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.add-position .add-position-title {
  color: #000;
  font-size: 50px;
  line-height: 1.2;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

.add-position .add-position-p {
  color: #000;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  margin-top: 25px;
}

.add-position .code-img {
  display: block;
  width: 140px;
  margin: 30px auto;
}

.add-position .add-position-num {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.add-position .add-position-num svg {
  display: block;
}

.add-position .add-position-num-txt {
  color: #000;
  font-size: 40px;
  line-height: 1.2;
}

.add-position .add-position-num-txt p {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.add-position .add-position-num-txt strong {
  font-weight: normal;
  font-family: var(--heading-font-family);
}

@media (max-width: 1400px) {
  .add-position .add-position-left svg {
    top: 14%;
    left: 32%;
  }
}

@media (max-width: 1300px) {
  .add-position .add-position-title {
    font-size: 30px;
  }
  .add-position .add-position-p {
    font-size: 14px;
    margin-top: 15px;
  }
  .add-position .add-position-right {
    padding: 15px;
  }
  .add-position .add-position-num-txt {
    font-size: 25px;
  }
  .add-position .code-img {
    width: 130px;
    margin: 20px auto;
  }
  .add-position .add-position-num svg {
    width: 35px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .add-position {
    padding: 50px 0;
  }
  .add-position .add-position-cont {
    flex-direction: column;
    border-radius: 10px;
  }
  .add-position .add-position-left,
  .add-position .add-position-right {
    width: 100%;
  }
  .add-position .add-position-right {
    padding: 30px 15px;
    background: linear-gradient(180deg, rgba(236, 239, 242, 1) 8%, #fff 92%);
  }
  .add-position .add-position-title {
    font-size: 28px;
  }
  .add-position .add-position-p {
    margin-top: 10px;
  }
  .add-position .add-position-num {
    gap: 10px;
  }
  .add-position .add-position-num-txt {
    font-size: 22px;
  }
  .add-position .add-position-num svg {
    width: 30px;
  }
}

.add-Technology {
  padding: 80px 0;
  background: linear-gradient(180deg, rgba(236, 239, 242, 1) 8%, #fff 92%);
  overflow: hidden;
}

.add-Technology .add-Technology-top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.add-Technology .add-Technology-top-title {
  color: #000;
  font-size: 60px;
  line-height: 1.2;
  font-family: var(--heading-font-family);
  font-weight: normal;
  margin: 0;
}

.add-Technology .add-Technology-top-p {
  color: #000;
  font-size: 18px;
  line-height: 1.2;
  max-width: 540px;
  margin: 0;
  margin-top: 20px;
}

.add-Technology .add-Technology-box {
  position: relative;
  padding-top: 1px;
}

.add-Technology .add-Technology-top-arraws {
  display: flex;
  align-items: center;
  gap: 40px;
  position: absolute;
  right: 0;
  top: -30px;
  z-index: 3;
}

.add-Technology .add-Technology-top-arraw {
  width: 40px;
  cursor: pointer;
  outline: 0;
}

.add-Technology .swiper-button-disabled {
  opacity: 0.25;
}

.add-Technology .add-Technology-top-arraw svg {
  display: block;
  width: 100%;
  height: auto;
}

.add-Technology .dd-Technology-cont {
  margin-top: 50px;
}

.add-Technology .dd-Technology-list {
  display: flex;
}

.add-Technology .dd-Technology-item {
  flex-shrink: 0;
  width: 49.34%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.add-Technology .dd-Technology-item .img {
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
}

.add-Technology .img-icon {
  display: block;
  width: 70px;
}

.add-Technology .dd-Technology-item-text {
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  width: calc(100% - 80px);
  z-index: 2;
  padding-bottom: 20px;
  border-bottom: 2px solid #fff;
}

.add-Technology .dd-Technology-item-title {
  color: #fff;
  font-size: 30px;
  line-height: 1.2;
  font-family: var(--heading-font-family);
  font-weight: normal;
  margin: 0;
  margin-top: 10px;
}

.add-Technology .dd-Technology-item-p {
  color: #fff;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
  margin-top: 20px;
}

@media (max-width: 1400px) {
  .add-Technology .add-Technology-top-title {
    font-size: 40px;
  }
  .add-Technology .add-Technology-top-p {
    font-size: 14px;
    margin-top: 10px;
  }
  .add-Technology .dd-Technology-item-title {
    font-size: 24px;
  }
  .add-Technology .dd-Technology-item-p {
    font-size: 14px;
    margin-top: 10px;
  }
  .add-Technology .dd-Technology-item-text {
    width: calc(100% - 40px);
    bottom: 20px;
  }
  .add-Technology .img-icon {
    width: 50px;
  }
}

@media (max-width: 991px) {
  .add-Technology {
    padding: 50px 0;
  }

  .add-Technology .add-Technology-top {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .add-Technology .add-Technology-top-title {
    font-size: 28px;
  }
  .add-Technology .dd-Technology-cont {
    margin-top: 30px;
  }
  .add-Technology .dd-Technology-item {
    width: 100%;
    max-width: 450px;
  }
  .add-Technology .add-Technology-box {
    padding-bottom: 50px;
  }
  .add-Technology .add-Technology-top-arraws {
    top: auto;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    gap: 20px;
  }
  .add-Technology .add-Technology-top-arraw {
    width: 30px;
  }
  .add-Technology .img-icon {
    width: 40px;
  }
  .add-Technology .dd-Technology-item-title {
    font-size: 18px;
  }
  .add-Technology .dd-Technology-item-p {
    font-size: 12px;
    margin-top: 5px;
  }
  .add-Technology .dd-Technology-item-text {
    padding-bottom: 10px;
  }
}

.add-logo {
  padding: 80px 0;
  overflow: hidden;
  border-bottom: 1px solid #000;
}

.add-logo .add-logo-title {
  color: #000;
  font-size: 60px;
  line-height: 1.2;
  font-family: var(--heading-font-family);
  text-align: center;
  font-weight: normal;
  margin: 0;
}

.add-logo .add-logo-cont {
  margin-top: 50px;
}

.add-logo .add-logo-list {
  display: flex;
  gap: 30px;
}

.add-logo .add-logo-item {
  width: 186px;
  flex-shrink: 0;
}

.add-logo .add-logo-item img {
  display: block;
  width: 100%;
}

.add-logo .add-logo-p {
  color: #000;
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 991px) {
  .add-logo {
    padding: 50px 0;
  }
  .add-logo .add-logo-title {
    font-size: 28px;
  }
  .add-logo .add-logo-cont {
    margin-top: 30px;
  }
  .add-logo .add-logo-list {
    gap: 20px;
  }
  .add-logo .add-logo-item {
    width: 170px;
  }
  .add-logo .add-logo-p {
    font-size: 12px;
  }
}

.add-product-box {
  padding-top: 100px;
  overflow: hidden;
}

.add-product-box .add-product-list {
  display: flex;
  gap: 45px;
}

.add-product-box .add-product-item {
  flex-shrink: 0;
  width: calc(33.333% - 30px);
  border-radius: 10px;
  border: 1px solid #000;
}

.add-product-box .add-product-item-img {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.add-product-box .add-product-item-img .img {
  display: none;
  width: 100%;
  position: relative;
  z-index: 1;
}

.add-product-box .add-product-item-img .active {
  display: block;
}

.add-product-box .add-product-tag {
  position: absolute;
  background: #e7004c;
  font-size: 12px;
  font-family: var(--heading-font-family);
  color: #fff;
  top: 20px;
  left: 20px;
  z-index: 3;
  padding: 5px 10px;
  border-radius: 30px;
  line-height: 1;
  overflow: hidden;
}

.add-product-box .add-product-tag::after {
  position: absolute;
  content: '';
  display: block;
  width: 200%;
  height: 240%;
  z-index: 2;
  background: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  animation: scanning 3s linear infinite;
}

@keyframes scanning {
  0% {
    transform: translate(-100%, -100%);
  }
  100% {
    transform: translate(100%, 100%);
  }
}

.add-product-box .add-product-time {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  color: #000;
  font-size: 16px;
  line-height: 1;
  padding: 5px;
  padding-bottom: 10px;
  border-radius: 5px;
  background: #fff;
  z-index: 2;
}

.add-product-box .add-product-time p {
  margin: 0;
}

.add-product-box .add-product-time strong {
  font-size: 37px;
}

.add-product-box .add-product-item-text {
  padding: 20px;
  padding-bottom: 30px;
}

.add-product-box .add-product-item-text-top {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.add-product-box .add-product-item-text-title {
  color: #000;
  font-size: 30px;
  line-height: 1.2;
  margin: 0;
  font-weight: normal;
}

.add-product-box .add-product-item-text-p {
  color: #575757;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
  margin-top: 6px;
}

.add-product-box .add-product-item-text-price {
  color: #a8a8a8;
  font-size: 23px;
  line-height: 1.2;
  margin-top: 15px;
}

.add-product-box .n-price {
  color: #e0004d;
  font-family: var(--heading-font-family);
}

.add-product-box .d-price {
  text-decoration: line-through;
}

.add-product-box .add-product-item-text-right {
  display: flex;
  gap: 10px;
}

.add-product-box .add-product-item-color {
  width: 26px;
  height: 26px;
  border-radius: 0 0 50% 50%;
  cursor: pointer;
}

.add-product-box .add-product-item-color.active {
  border: 1px solid #000;
}

.add-product-box .add-product-btn {
  display: flex;
  margin-top: 40px;
  gap: 16px;
}

.add-product-box .add-product-btn-item {
  flex: 1;
  height: 44px;
  font-size: 21px;
  color: #fff;
  background: #000;
  border-radius: 40px;
  cursor: pointer;
}

.add-product-box .add-product-btn-item:first-child {
  border: 1.5px solid #000;
}

.add-product-box .add-product-btn-item:first-child .btn-txt::before {
  color: #000;
}

.add-product-box .add-product-btn-item:nth-child(2) {
  background: linear-gradient(180deg, #e0004d -25%, #ff7595 125%);
}

.add-product-box .add-product-btn-item:nth-child(2)::after {
  background: #000;
}

@media (max-width: 1300px) {
  .add-product-box .add-product-tag {
    top: 10px;
    left: 10px;
  }
  .add-product-box .add-product-time {
    font-size: 14px;
    right: 10px;
    bottom: 10px;
  }
  .add-product-box .add-product-time strong {
    font-size: 27px;
  }
  .add-product-box .add-product-item-text-title {
    font-size: 26px;
  }
  .add-product-box .add-product-item-text-p {
    font-size: 14px;
  }
  .add-product-box .add-product-item-text-price {
    font-size: 18px;
    margin-top: 10px;
  }
  .add-product-box .add-product-item-color {
    width: 20px;
    height: 20px;
  }
  .add-product-box .add-product-btn-item {
    font-size: 14px;
  }
  .add-product-box .add-product-list {
    gap: 30px;
  }
  .add-product-box .add-product-item {
    width: calc(33.333% - 20px);
  }
}

@media (max-width: 991px) {
  .add-product-box {
    padding-top: 50px;
  }
  .add-product-box .add-product-list {
    flex-direction: column;
  }
  .add-product-box .add-product-item {
    width: 100%;
  }
}

.add-support {
  padding-top: 100px;
}

.add-support .add-support-title {
  color: #000;
  font-size: 60px;
  font-family: var(--heading-font-family);
  line-height: 1.2;
  font-weight: normal;
  max-width: 730px;
  margin: 0;
  margin: 0 auto;
  text-align: center;
}

.add-support .add-support-list {
  display: flex;
  margin-top: 70px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.add-support .add-support-item {
  position: relative;
  flex: 1;
}
.add-support .add-support-item:first-child {
  border-right: 1px solid #000;
}
.add-support .add-support-item .img {
  display: block;
  width: 100%;
  position: relative;
  z-index: 0;
}

.add-support .add-support-text {
  position: absolute;
  width: 100%;
  padding: 60px;
  left: 0;
  bottom: 0;
  z-index: 2;
  color: #fff;
}

.add-support .add-support-text-title {
  font-size: 40px;
  line-height: 1.2;
  font-family: var(--heading-font-family);
  font-weight: normal;
  margin: 0;
}

.add-support .add-support-p {
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
  margin-top: 10px;
  max-width: 450px;
}

.add-support .add-support-btn {
  width: 180px;
  height: 46px;
  font-size: 14px;
  color: #fff;
  background: #000;
  border-radius: 46px;
  border: 1.5px solid #000;
  cursor: pointer;
  margin-top: 30px;
}

.add-support .add-support-btn .btn-txt::before {
  color: #000;
}

@media (max-width: 1400px) {
  .add-support .add-support-text {
    padding: 30px;
  }
  .add-support .add-support-text-title {
    font-size: 30px;
  }
  .add-support .add-support-p {
    font-size: 14px;
  }
  .add-support .add-support-btn {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .add-support {
    padding-top: 50px;
  }
  .add-support .add-support-title {
    font-size: 28px;
  }
  .add-support .add-support-list {
    margin-top: 30px;
    flex-direction: column;
  }
  .add-support .add-support-item:first-child {
    border-right: 0;
    border-bottom: 1px solid #000;
  }
  .add-support .add-support-text {
    padding: 24px;
  }
  .add-support .add-support-text-title {
    font-size: 20px;
  }
  .add-support .add-support-p {
    font-size: 12px;
    margin-top: 5px;
  }
  .add-support .add-support-btn {
    margin-top: 10px;
    font-size: 12px;
    height: 40px;
    width: 140px;
  }
}

.add-spotlight {
  padding: 100px 0;
}

.add-spotlight .add-spotlight-title {
  color: #000;
  font-size: 60px;
  font-family: var(--heading-font-family);
  line-height: 1.2;
  font-weight: normal;
  text-align: center;
}

.add-spotlight .add-spotlight-list {
  display: flex;
  gap: 21px;
  margin-top: 60px;
}

.add-spotlight .add-spotlight-item {
  width: calc(33.333% - 14px);
}

.add-spotlight .add-spotlight-item .img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.add-spotlight .add-spotlight-text {
  padding: 14px;
  color: #000;
}

.add-spotlight .add-spotlight-p {
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
}

.add-spotlight .add-spotlight-text-title {
  font-family: var(--heading-font-family);
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  margin: 0;
  margin-top: 5px;
}

.add-spotlight .add-spotlight-btn {
  width: 180px;
  height: 46px;
  font-size: 14px;
  color: #fff;
  background: #000;
  border-radius: 46px;
  border: 1.5px solid #000;
  cursor: pointer;
  margin-top: 25px;
}

.add-spotlight .add-spotlight-btn .btn-txt::before {
  color: #000;
}

@media (max-width: 991px) {
  .add-spotlight {
    padding: 50px 0;
  }

  .add-spotlight .add-spotlight-title {
    font-size: 28px;
  }

  .add-spotlight .add-spotlight-list {
    margin-top: 30px;
    flex-direction: column;
  }

  .add-spotlight .add-spotlight-item {
    width: 100%;
  }
  .add-spotlight .add-spotlight-p {
    font-size: 14px;
  }
  .add-spotlight .add-spotlight-text-title {
    font-size: 14px;
  }
  .add-spotlight .add-spotlight-btn {
    font-size: 12px;
    width: 140px;
    height: 40px;
    margin-top: 15px;
  }
}

.add-about {
  padding: 60px 0 30px 0;
  color: #fff;
  background: var(--bg-url) no-repeat;
  background-size: cover;
}

.add-about .container {
  max-width: 1400px;
}

.add-about .add-about-title {
  font-size: 60px;
  line-height: 1.2;
  font-weight: normal;
  margin: 0;
  text-align: center;
  font-family: var(--heading-font-family);
}

.add-about .add-about-p {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 850px;
}

.add-about .add-about-list {
  display: flex;
  gap: 20px;
  margin-top: 45px;
  justify-content: space-between;
}

.add-about .add-about-item {
  text-align: center;
  line-height: 1.2;
}

.add-about .add-about-num {
  font-size: 80px;
}

.add-about .add-about-item-p {
  font-size: 20px;
  margin-top: 5px;
}

.add-about .add-about-msg {
  color: #f3f3f3;
  font-size: 12px;
  line-height: 1.2;
  max-width: 735px;
  margin-top: 80px;
}

@media (max-width: 1200px) {
  .add-about .add-about-num {
    font-size: 60px;
  }
  .add-about .add-about-item-p {
    font-size: 16px;
  }
  .add-about .add-about-msg {
    margin-top: 40px;
  }
}

@media (max-width: 991px) {
  .add-about {
    padding-top: 50px;
    background: var(--bg-url-m) no-repeat;
    background-size: cover;
  }
  .add-about .add-about-title {
    font-size: 28px;
  }
  .add-about .add-about-p {
    font-size: 14px;
    margin-top: 15px;
  }
  .add-about .add-about-list {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .add-about .add-about-item {
    width: calc(50% - 10px);
  }
  .add-about .add-about-num {
    font-size: 36px;
  }
  .add-about .add-about-item-p {
    font-size: 14px;
  }
  .add-about .add-about-msg {
    margin-top: 30px;
  }
}
