.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 991px) {
  .container {
    padding: 0 24px;
  }
}

.ulike-blog-list {
  padding-top: 80px;
}

.ulike-blog-list .ulike-blog-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 63px;
}

.ulike-blog-list .ulike-blog-h3 {
  color: #190a0a;
  font-size: 50px;
  line-height: 1.16;
  font-family: var(--heading-font-family);
  font-weight: normal;
  margin: 0;
}

.ulike-blog-list .ulike-blog-link {
  border-radius: 2px;
  border: 1px solid #190a0a;
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 50px;
  color: #000;
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--heading-font-family);
}

.ulike-blog-list .ulike-blog-cont {
  display: flex;
  gap: 32px;
}

.ulike-blog-list .ulike-blog-li {
  flex: 1;
  display: flex;
  row-gap: 20px;
  column-gap: 32px;
  flex-wrap: wrap;
}

.ulike-blog-list .ulike-blog-item {
  display: flex;
  gap: 16px;
  width: calc(50% - 16px);
}

.ulike-blog-list .ulike-blog-img {
  width: 243px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  flex-shrink: 0;
}

.ulike-blog-list .ulike-blog-img::before {
  width: 100%;
  padding-top: 75%;
  content: '';
  display: block;
  position: relative;
  z-index: 1;
}

.ulike-blog-list .img {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: all 0.4s ease-out;
}

.ulike-blog-list .ulike-blog-img:hover .img {
  transform: scale(1.08);
}

.ulike-blog-list .ulike-blog-info {
  position: relative;
  z-index: 1;
  flex: 1;
}

.ulike-blog-list .ulike-blog-info::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background: #ebebeb;
  bottom: -10px;
  transform: translateY(-50%);
  left: 0;
  z-index: 1;
}

.ulike-blog-list .ulike-blog-item:nth-last-child(2) .ulike-blog-info::after,
.ulike-blog-list .ulike-blog-item:last-child .ulike-blog-info::after {
  display: none;
}

.ulike-blog-list .ulike-blog-item-h3 {
  overflow: hidden;
  color: #190a0a;
  font-size: 24px;
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ulike-blog-list .ulike-blog-item-p {
  overflow: hidden;
  color: #190a0a;
  font-size: 14px;
  line-height: 1.57;
  margin: 0;
  margin-bottom: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ulike-blog-list .ulike-blog-item-time {
  color: #756b6e;
  font-size: 14px;
  line-height: 1.57;
}

.ulike-blog-list .ulike-blog-adv {
  display: none;
  gap: 32px;
}

.ulike-blog-list .ulike-blog-adv-item {
  width: 237px;
}

.ulike-blog-list .ulike-blog-adv-item:nth-child(2) {
  display: none;
}

.ulike-blog-list .ulike-blog-adv-img {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.ulike-blog-list .ulike-blog-adv-img::before {
  width: 100%;
  padding-top: 75%;
  content: '';
  display: block;
  position: relative;
  z-index: 1;
}

.ulike-blog-list .adv-img {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: all 0.4s ease-out;
}

.ulike-blog-list .ulike-blog-adv-img:hover .adv-img {
  transform: scale(1.08);
}

.ulike-blog-list .ulike-blog-adv-info {
  padding: 24px 8px 40px 8px;
  border-radius: 0 0 4px 4px;
  background: rgba(216, 216, 216, 0.3);
}

.ulike-blog-list .ulike-blog-adv-h3 {
  color: #190a0a;
  font-size: 18px;
  line-height: 1.33;
  font-family: var(--heading-font-family);
  font-weight: normal;
  margin: 0;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ulike-blog-list .ulike-blog-adv-p {
  color: #190a0a;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  margin-bottom: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ulike-blog-list .ulike-blog-adv-more {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  color: #e0004d;
  font-size: 12px;
  line-height: 1.33;
  background: linear-gradient(0deg, #e0004d 0%, #e0004d 100%) no-repeat;
  background-size: 100% 1px;
  background-position: left bottom;
}

.ulike-blog-list .ulike-type2 .ulike-blog-adv {
  display: flex;
}

.ulike-blog-list .ulike-type3 .ulike-blog-adv {
  display: flex;
}

.ulike-blog-list .ulike-type3 .ulike-blog-img {
  display: none;
}

.ulike-blog-list .ulike-type4 .ulike-blog-adv {
  display: flex;
}

.ulike-blog-list .ulike-type4 .ulike-blog-adv-item:nth-child(2) {
  display: block;
}

.ulike-blog-list .ulike-type5 .ulike-blog-adv {
  display: flex;
}

.ulike-blog-list .ulike-type5 .ulike-blog-img {
  display: none;
}

.ulike-blog-list .ulike-type5 .ulike-blog-adv-item:nth-child(2) {
  display: block;
}

.ulike-blog-list .ulike-type6 .ulike-blog-img {
  display: none;
}

.ulike-blog-list .ulike-type7 .ulike-blog-img {
  display: none;
}

.ulike-blog-list .ulike-type7 .ulike-blog-item {
  width: calc(33.333% - 21.4px);
}

.ulike-blog-list .ulike-type8 .ulike-blog-item {
  width: calc(33.333% - 21.4px);
}

.ulike-blog-list .ulike-type9 .ulike-blog-item {
  width: calc(25% - 24px);
  display: flex;
  flex-direction: column;
}

.ulike-blog-list .ulike-type9 .ulike-blog-img {
  width: 100%;
}

.ulike-blog-list .ulike-type10 .ulike-blog-li {
  display: grid;
  grid-template-columns: 742px 1fr;
  gap: 32px;
  row-gap: 20px;
}

.ulike-blog-list .ulike-type10 .ulike-blog-item {
  width: auto;
}

.ulike-blog-list .ulike-type10 .ulike-blog-item:first-child {
  grid-row: 1 / span 4;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.ulike-blog-list .ulike-type10 .ulike-blog-item:nth-child(n + 2) {
  grid-column: 2;
}

.ulike-blog-list .ulike-type10 .ulike-blog-item:first-child .ulike-blog-img {
  width: 100%;
}

.ulike-blog-list
  .ulike-type10
  .ulike-blog-item:first-child
  .ulike-blog-info::after {
  display: none;
}

.ulike-blog-list .ulike-type10 .ulike-blog-item:first-child .ulike-blog-info {
  padding: 16px;
  background: #f6f6f6;
}

.ulike-blog-list
  .ulike-type11
  .ulike-blog-item:nth-child(n + 2)
  .ulike-blog-img {
  display: none;
}

.ulike-market {
  padding: 100px 0;
}

.ulike-market .ulike-market-cont {
  display: flex;
}

.ulike-market .ulike-market-img {
  width: 536px;
  position: relative;
  flex-shrink: 0;
}

.ulike-market .ulike-market-img::before {
  width: 100%;
  padding-top: 75%;
  content: '';
  display: block;
  position: relative;
}

.ulike-market .ulike-market-img .market-img {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.ulike-market .ulike-market-info {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 32px;
  background: #f6f6f6;
}

.ulike-market .ulike-market-h3 {
  color: #190a0a;
  font-size: 40px;
  line-height: 1.2;
  font-family: var(--heading-font-family);
  font-weight: normal;
  margin: 0;
  margin-bottom: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ulike-market .ulike-market-p {
  color: #190a0a;
  font-size: 24px;
  line-height: 1.33;
  margin: 0;
  margin-bottom: 24px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ulike-market .ulike-market-link {
  display: flex;
  width: 218px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #190a0a;
  color: #fbfaf4;
  font-family: var(--heading-font-family);
  font-size: 14px;
  line-height: 1.57;
}
