.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 991px) {
  .container {
    padding: 0 24px;
  }
}

.ulike-blog-list {
  padding-top: 80px;
  position: relative;
  z-index: 1;
}

.ulike-blog-list .ulike-blog-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 63px;
}

.ulike-blog-list .ulike-blog-h3 {
  color: #190a0a;
  font-size: 50px;
  line-height: 1.16;
  font-family: var(--heading-font-family);
  font-weight: normal;
  margin: 0;
}

.ulike-blog-list .ulike-blog-link {
  border-radius: 2px;
  border: 1px solid #190a0a;
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 50px;
  color: #000;
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--heading-font-family);
}

.ulike-blog-list .ulike-blog-cont {
  display: flex;
  gap: 32px;
}

.ulike-blog-list .ulike-blog-li {
  flex: 1;
  display: flex;
  row-gap: 20px;
  column-gap: 32px;
  flex-wrap: wrap;
}

.ulike-blog-list .ulike-blog-item {
  display: flex;
  gap: 16px;
  width: calc(50% - 16px);
}

.ulike-blog-list .ulike-blog-img {
  width: 243px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  flex-shrink: 0;
}

.ulike-blog-list .ulike-blog-img::before {
  width: 100%;
  padding-top: 75%;
  content: '';
  display: block;
  position: relative;
  z-index: 1;
}

.ulike-blog-list .img {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: all 0.4s ease-out;
}

.ulike-blog-list .ulike-blog-img:hover .img {
  transform: scale(1.08);
}

.ulike-blog-list .ulike-blog-info {
  position: relative;
  z-index: 1;
  flex: 1;
}

.ulike-blog-list .ulike-blog-info::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background: #ebebeb;
  bottom: -10px;
  transform: translateY(-50%);
  left: 0;
  z-index: 1;
}

.ulike-blog-list .ulike-blog-item:nth-last-child(2) .ulike-blog-info::after,
.ulike-blog-list .ulike-blog-item:last-child .ulike-blog-info::after {
  display: none;
}

.ulike-blog-list .ulike-blog-item-h3 {
  color: #190a0a;
  font-size: 24px;
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ulike-blog-list .ulike-blog-item-p {
  color: #190a0a;
  font-size: 14px;
  line-height: 1.57;
  margin: 0;
  margin-bottom: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ulike-blog-list .ulike-blog-item-time {
  color: #756b6e;
  font-size: 14px;
  line-height: 1.57;
}

.ulike-blog-list .ulike-blog-adv {
  display: none;
  gap: 32px;
}

.ulike-blog-list .ulike-blog-adv-item {
  width: 237px;
}

.ulike-blog-list .ulike-blog-adv-item:nth-child(2) {
  display: none;
}

.ulike-blog-list .ulike-blog-adv-img {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.ulike-blog-list .ulike-blog-adv-img::before {
  width: 100%;
  padding-top: 75%;
  content: '';
  display: block;
  position: relative;
  z-index: 1;
}

.ulike-blog-list .adv-img {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: all 0.4s ease-out;
}

.ulike-blog-list .ulike-blog-adv-img:hover .adv-img {
  transform: scale(1.08);
}

.ulike-blog-list .ulike-blog-adv-info {
  padding: 24px 8px 40px 8px;
  border-radius: 0 0 4px 4px;
  background: rgba(216, 216, 216, 0.3);
}

.ulike-blog-list .ulike-blog-adv-h3 {
  color: #190a0a;
  font-size: 18px;
  line-height: 1.33;
  font-family: var(--heading-font-family);
  font-weight: normal;
  margin: 0;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ulike-blog-list .ulike-blog-adv-p {
  color: #190a0a;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  margin-bottom: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ulike-blog-list .ulike-blog-adv-more {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  color: #e0004d;
  font-size: 12px;
  line-height: 1.33;
  background: linear-gradient(0deg, #e0004d 0%, #e0004d 100%) no-repeat;
  background-size: 100% 1px;
  background-position: left bottom;
}

.ulike-blog-list .ulike-type2 .ulike-blog-adv {
  display: flex;
}

.ulike-blog-list .ulike-type3 .ulike-blog-adv {
  display: flex;
}

.ulike-blog-list .ulike-type3 .ulike-blog-img {
  display: none;
}

.ulike-blog-list .ulike-type4 .ulike-blog-adv {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.ulike-blog-list .ulike-type4 .ulike-blog-adv-item:nth-child(2) {
  display: block;
}

.ulike-blog-list .ulike-type5 .ulike-blog-adv {
  display: flex;
}

.ulike-blog-list .ulike-type5 .ulike-blog-img {
  display: none;
}

.ulike-blog-list .ulike-type5 .ulike-blog-adv-item:nth-child(2) {
  display: block;
}

.ulike-blog-list .ulike-type6 .ulike-blog-img {
  display: none;
}

.ulike-blog-list .ulike-type7 .ulike-blog-img {
  display: none;
}

.ulike-blog-list .ulike-type7 .ulike-blog-item {
  width: calc(33.333% - 21.4px);
}

.ulike-blog-list .ulike-type8 .ulike-blog-item {
  width: calc(33.333% - 21.4px);
}

.ulike-blog-list .ulike-type9 .ulike-blog-item {
  width: calc(25% - 24px);
  min-width: 320px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.ulike-blog-list .ulike-type9 .ulike-blog-img {
  width: 100%;
}

.ulike-blog-list .ulike-type10 .ulike-blog-li {
  display: grid;
  grid-template-columns: 742px 1fr;
  gap: 32px;
  row-gap: 20px;
}

.ulike-blog-list .ulike-type10 .ulike-blog-item {
  width: auto;
}

.ulike-blog-list .ulike-type10 .ulike-blog-item:first-child {
  grid-row: 1 / span 4;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.ulike-blog-list .ulike-type10 .ulike-blog-item:nth-child(n + 2) {
  grid-column: 2;
}

.ulike-blog-list .ulike-type10 .ulike-blog-item:first-child .ulike-blog-img {
  width: 100%;
}

.ulike-blog-list
  .ulike-type10
  .ulike-blog-item:first-child
  .ulike-blog-info::after {
  display: none;
}

.ulike-blog-list .ulike-type10 .ulike-blog-item:first-child .ulike-blog-info {
  padding: 16px;
  background: #f6f6f6;
}

.ulike-blog-list
  .ulike-type11
  .ulike-blog-item:nth-child(n + 2)
  .ulike-blog-img {
  display: none;
}

/* ulike-type9 */
.ulike-blog-list .ulike-type9 .ulike-blog-li {
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 20px;
}

.ulike-blog-list .ulike-type9 .ulike-blog-li::-webkit-scrollbar {
  height: 6px;
}

.ulike-blog-list .ulike-type9 .ulike-blog-li::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 4px;
}

.ulike-blog-list .ulike-type9 .ulike-blog-info::after {
  display: none !important;
}
/* ulike-type9 */

/* ulike-type4 */
@media (max-width: 1500px) {
  .ulike-blog-list .ulike-type4 .ulike-blog-item {
    width: 100%;
  }
}
/* ulike-type4 */

/* ulike-type8 */
@media (max-width: 1450px) {
  .ulike-blog-list .ulike-type8 .ulike-blog-item {
    width: calc(50% - 16px);
  }
}
/* ulike-type8 */

/* ulike-type10 */
@media (max-width: 1300px) {
  .ulike-blog-list .ulike-type10 .ulike-blog-li {
    grid-template-columns: 500px 1fr;
  }
  .ulike-blog-list .ulike-type10 .ulike-blog-img {
    width: 200px;
  }
  .ulike-blog-list .ulike-type10 .ulike-blog-item-h3 {
    font-size: 18px;
  }
}
/* ulike-type10 */

/* ulike-type2 */
@media (max-width: 1250px) {
  .ulike-blog-list .ulike-type2 .ulike-blog-item {
    width: 100%;
  }
}
/* ulike-type2  end*/

@media (max-width: 991px) {
  .ulike-blog-list {
    padding-top: 50px;
    padding-bottom: 98px;
  }

  .ulike-blog-list .ulike-blog-top {
    margin-bottom: 46px;
  }

  .ulike-blog-list .ulike-blog-h3 {
    font-size: 28px;
  }

  .ulike-blog-list .ulike-blog-link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 24px;
    height: 42px;
    font-size: 15px;
    padding: 0 11px;
    border-radius: 1.2px;
    z-index: 1;
  }

  .ulike-blog-list .ulike-blog-cont {
    flex-direction: column;
  }

  .ulike-blog-list .ulike-blog-li {
    gap: 32px;
  }

  .ulike-blog-list .ulike-blog-item {
    width: 100%;
    gap: 8px;
  }

  .ulike-blog-list .ulike-blog-info::after {
    bottom: -16px;
    width: calc(100vw - 48px);
    left: auto;
    right: 0;
  }
  .ulike-blog-list .ulike-blog-item:nth-last-child(2) .ulike-blog-info::after,
  .ulike-blog-list .ulike-blog-item:last-child .ulike-blog-info::after {
    display: block;
  }
  .ulike-blog-list .ulike-blog-item-h3 {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .ulike-blog-list .ulike-blog-item-p {
    font-size: 12px;
    margin-bottom: 8px;
  }
  .ulike-blog-list .ulike-blog-item-time {
    font-size: 12px;
  }
  .ulike-blog-list .ulike-blog-img {
    width: 155px;
  }

  .ulike-blog-list .ulike-blog-adv-item {
    width: 100%;
  }

  /* ulike-type7 */
  .ulike-blog-list .ulike-type7 .ulike-blog-item {
    width: 100%;
  }

  .ulike-blog-list .ulike-type7 .ulike-blog-info::after {
    width: 100%;
  }
  /* ulike-type7 */

  /* ulike-type8 */
  .ulike-blog-list .ulike-type8 .ulike-blog-item {
    width: 100%;
  }
  /* ulike-type8 */

  /* ulike-type10 */
  .ulike-blog-list .ulike-type10 .ulike-blog-li {
    grid-template-columns: 1fr;
    column-gap: 0;
  }

  .ulike-blog-list .ulike-type10 .ulike-blog-item:first-child {
    grid-row: auto;
    grid-column: auto;
  }

  .ulike-blog-list .ulike-type10 .ulike-blog-item:nth-child(n + 2) {
    grid-column: auto;
  }
  .ulike-blog-list .ulike-type10 .ulike-blog-img {
    width: 155px;
  }
  .ulike-blog-list .ulike-type10 .ulike-blog-item-h3 {
    font-size: 16px;
  }
  /* ulike-type10 */
}

.ulike-market {
  padding: 100px 0;
}

.ulike-market .ulike-market-cont {
  display: flex;
}

.ulike-market .ulike-market-img {
  width: 536px;
  position: relative;
  flex-shrink: 0;
}

.ulike-market .ulike-market-img::before {
  width: 100%;
  padding-top: 75%;
  content: '';
  display: block;
  position: relative;
}

.ulike-market .ulike-market-img .market-img {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.ulike-market .ulike-market-info {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 32px;
  background: #f6f6f6;
}

.ulike-market .ulike-market-h3 {
  color: #190a0a;
  font-size: 40px;
  line-height: 1.2;
  font-family: var(--heading-font-family);
  font-weight: normal;
  margin: 0;
  margin-bottom: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ulike-market .ulike-market-p {
  color: #190a0a;
  font-size: 24px;
  line-height: 1.33;
  margin: 0;
  margin-bottom: 24px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ulike-market .ulike-market-link {
  display: flex;
  width: 218px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #190a0a;
  color: #fbfaf4;
  font-family: var(--heading-font-family);
  font-size: 14px;
  line-height: 1.57;
}

@media (max-width: 991px) {
  .ulike-market {
    padding: 30px 0;
  }
  .ulike-market .ulike-market-cont {
    flex-direction: column;
  }
  .ulike-market .ulike-market-img {
    width: 100%;
  }

  .ulike-market .ulike-market-info {
    padding: 16px 8px 24px 8px;
  }

  .ulike-market .ulike-market-h3 {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .ulike-market .ulike-market-p {
    font-size: 12px;
    margin-bottom: 24px;
  }

  .ulike-market .ulike-market-link {
    margin: 0 auto;
  }
}

.ulike-blog-head .ulike-blog-head-cont {
  display: flex;
}

.ulike-blog-head .ulike-blog-head-img {
  width: 536px;
  position: relative;
  z-index: 1;
  flex-shrink: 0;
  overflow: hidden;
}

.ulike-blog-head .ulike-blog-head-img::before {
  width: 100%;
  padding-top: 75%;
  content: '';
  display: block;
  position: relative;
  z-index: 1;
}

.ulike-blog-head .ulike-blog-head-img .img {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.ulike-blog-head .ulike-blog-head-info {
  padding: 30px 32px;
  flex: 1;
  background: #f6f6f6;
  position: relative;
  z-index: 1;
}

.ulike-blog-head .ulike-blog-head-tag {
  display: inline-block;
  padding: 4px;
  background: #fce8ec;
  color: #e0004d;
  font-size: 12px;
  line-height: 1.3;
  margin-bottom: 8px;
}

.ulike-blog-head .ulike-blog-head-h1 {
  color: #190a0a;
  font-size: 60px;
  line-height: 1.2;
  font-family: var(--heading-font-family);
  font-weight: normal;
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 8px;
}

.ulike-blog-head .ulike-blog-head-sub {
  color: #190a0a;
  font-size: 24px;
  line-height: 1.33;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 16px;
}

.ulike-blog-head .ulike-blog-head-time {
  color: #756b6e;
  font-size: 14px;
  line-height: 1.57;
  margin-bottom: 8px;
}

.ulike-blog-head .ulike-blog-head-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ulike-blog-head .ulike-blog-head-link {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 48px;
  border-radius: 4px;
  background: #190a0a;
  color: #fbfaf4;
  font-size: 14px;
  line-height: 1.57;
  font-family: var(--heading-font-family);
  padding: 0 80px;
}

.ulike-blog-head .ulike-blog-head-share {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #190a0a;
  font-size: 14px;
  line-height: 1.57;
  font-family: var(--heading-font-family);
}

.ulike-blog-head .ulike-blog-head-icon {
  display: flex;
  border: 1px solid #d9d9d9;
}

.ulike-blog-head .ulike-blog-share-item {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #d9d9d9;
}

.ulike-blog-head .ulike-blog-share-item:last-child {
  border-right: none;
}

.ulike-blog-head .ulike-blog-share-item svg {
  display: block;
  margin: 0;
}

.ulike-blog-head-adv {
  position: absolute;
  right: 32px;
  bottom: -20px;
  z-index: 2;
  width: 345px;
  padding: 4px;
  border-radius: 4px;
  background: #fff;
  display: flex;
  gap: 20px;
}

.ulike-blog-head-adv .ulike-blog-head-adv-close {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 4px;
  right: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ulike-blog-head-adv .ulike-blog-head-adv-close svg {
  display: block;
  margin: 0;
  width: 18px;
  height: auto;
}

.ulike-blog-head-adv .ulike-blog-head-adv-img {
  width: 175px;
  position: relative;
  z-index: 1;
  flex-shrink: 0;
  border-radius: 4px;
  overflow: hidden;
}

.ulike-blog-head-adv .ulike-blog-head-adv-img::before {
  width: 100%;
  padding-top: 65%;
  content: '';
  display: block;
  position: relative;
  z-index: 1;
}

.ulike-blog-head-adv .ulike-blog-head-adv-img .img {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.ulike-blog-head-adv .ulike-blog-head-adv-info {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.ulike-blog-head-adv .ulike-blog-adv-h3 {
  color: #190a0a;
  font-size: 14px;
  line-height: 1.78;
  margin: 0;
}

.ulike-blog-head-adv .ulike-blog-adv-link {
  color: #e0004d;
  font-size: 14px;
  line-height: 1.5;
  background: linear-gradient(0deg, #e0004d 0%, #e0004d 100%) no-repeat;
  background-size: 100% 1px;
  background-position: left bottom;
  width: fit-content;
}

@media (max-width: 1300px) {
  .ulike-blog-head-adv {
    width: 260px;
    gap: 15px;
  }

  .ulike-blog-head-adv .ulike-blog-head-adv-img {
    width: 120px;
  }

  .ulike-blog-head-adv .ulike-blog-head-adv-info {
    padding: 5px 0;
    gap: 5px;
  }

  .ulike-blog-head-adv .ulike-blog-adv-h3 {
    font-size: 12px;
  }

  .ulike-blog-head-adv .ulike-blog-adv-link {
    font-size: 12px;
  }
}

@media (max-width: 1200px) {
  .ulike-blog-head .ulike-blog-head-img {
    width: 460px;
  }
  .ulike-blog-head .ulike-blog-head-h1 {
    font-size: 40px;
  }
  .ulike-blog-head .ulike-blog-head-sub {
    font-size: 18px;
  }
  .ulike-blog-head .ulike-blog-head-link {
    padding: 0 24px;
  }
}

@media (max-width: 991px) {
  .ulike-blog-head .ulike-blog-head-cont {
    flex-direction: column;
  }

  .ulike-blog-head .ulike-blog-head-img {
    width: 100%;
  }

  .ulike-blog-head .ulike-blog-head-info {
    padding: 16px 8px;
    text-align: center;
  }

  .ulike-blog-head .ulike-blog-head-h1 {
    font-size: 36px;
  }

  .ulike-blog-head .ulike-blog-head-sub {
    font-size: 12px;
  }

  .ulike-blog-head .ulike-blog-head-time {
    font-size: 12px;
  }

  .ulike-blog-head .ulike-blog-head-bottom {
    flex-direction: column;
    gap: 16px;
  }

  .ulike-blog-head .ulike-blog-head-link {
    padding: 0 80px;
  }

  .ulike-blog-head-adv {
    position: relative;
    margin: 0 auto;
    right: auto;
    margin-bottom: 16px;
    text-align: left;
  }
}

.ulike-blog-post {
  padding: 60px 0;
}

.ulike-blog-post .ulike-blog-post-cont {
  display: flex;
  gap: 40px;
}

.ulike-blog-post .ulike-blog-post-left {
  flex: 1;
}

.ulike-blog-post .ulike-blog-post-toc {
  position: relative;
  z-index: 1;
  min-width: 225px;
  width: fit-content;
  border-radius: 4px;
  border: 1px solid #190a0a;
  padding: 9px 16px;
}

.ulike-blog-post .ulike-blog-post-toc-tab {
  color: #190a0a;
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--heading-font-family);
  display: flex;
  align-items: center;
  gap: 23px;
  cursor: pointer;
  width: fit-content;
}

.ulike-blog-post .ulike-blog-post-toc-list {
  margin-top: 8px;
  display: none;
}

.ulike-blog-post .ulike-blog-post-toc-list a {
  display: block;
  color: #e0004d;
  font-size: 14px;
  line-height: 1.57;
  padding-left: 10px;
}

.ulike-blog-post .ulike-blog-post-toc-list a::before {
  content: '';
  display: inline-block;
  margin-left: -10px;
  margin-right: 5px;
  line-height: 1;
  width: 8px;
  height: 8px;
  background: #e0004d;
  border-radius: 0 0 4px 4px;
}

.ulike-blog-post .ulike-blog-post-toc-list span {
  background: linear-gradient(0deg, #e0004d 0%, #e0004d 100%) no-repeat;
  background-size: 100% 1px;
  background-position: left bottom;
}

.ulike-blog-post .ulike-blog-post-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

.ulike-blog-post .ulike-blog-post-nav-item {
  max-width: 295px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.ulike-blog-post .ulike-blog-post-nav-item:nth-child(2) {
  align-items: flex-end;
}

.ulike-blog-post .ulike-blog-post-nav-icon {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #000;
  font-size: 14px;
  line-height: 1.57;
  font-family: var(--heading-font-family);
}

.ulike-blog-post .ulike-blog-post-nav-title {
  color: #000;
  font-size: 16px;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ulike-blog-post .ulike-blog-post-article {
  margin-top: 56px;
  color: #190a0a;
  font-size: 16px;
  line-height: 1.5;
}

.ulike-blog-post .ulike-blog-post-article h2 {
  font-size: 50px;
  line-height: 1.16;
  font-family: var(--heading-font-family);
  font-weight: normal;
}

.ulike-blog-post .ulike-blog-post-article h3 {
  font-size: 32px;
  line-height: 1.25;
  font-family: var(--heading-font-family);
  font-weight: normal;
}
.ulike-blog-post .ulike-blog-post-article h4 {
  font-size: 28px;
  line-height: 1.28;
  font-family: var(--heading-font-family);
  font-weight: normal;
}
.ulike-blog-post .ulike-blog-post-article h5 {
  font-size: 24px;
  line-height: 1.3;
  font-family: var(--heading-font-family);
  font-weight: normal;
}
.ulike-blog-post .ulike-blog-post-article h6 {
  font-size: 20px;
  line-height: 1.4;
  font-family: var(--heading-font-family);
  font-weight: normal;
}

.ulike-blog-post .article-img {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: #d9d9d9;
}

.ulike-blog-post .article-img::before {
  width: 100%;
  padding-top: 75%;
  content: '';
  display: block;
  position: relative;
  z-index: 1;
}

.ulike-blog-post .article-img img {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  background: #fff;
}

.ulike-blog-post .ulike-blog-head-share {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #190a0a;
  font-size: 14px;
  line-height: 1.57;
  font-family: var(--heading-font-family);
  margin-top: 32px;
}

.ulike-blog-post .ulike-blog-head-icon {
  display: flex;
  border: 1px solid #d9d9d9;
}

.ulike-blog-post .ulike-blog-share-item {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #d9d9d9;
}

.ulike-blog-post .ulike-blog-share-item:last-child {
  border-right: none;
}

.ulike-blog-post .ulike-blog-share-item svg {
  display: block;
  margin: 0;
}

.ulike-blog-post .ulike-blog-post-right {
  width: 297px;
  flex-shrink: 0;
}

.ulike-blog-post .ulike-blog-post-right-title {
  color: #190a0a;
  font-size: 24px;
  line-height: 1.33;
  font-family: var(--heading-font-family);
  font-weight: normal;
  margin: 0;
  margin-bottom: 20px;
}

.ulike-blog-post .ulike-blog-post-right-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.ulike-blog-post .ulike-blog-post-right-item {
  padding-bottom: 24px;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ulike-blog-post .ulike-blog-post-right-img {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  flex-shrink: 0;
  background: #d9d9d9;
}

.ulike-blog-post .ulike-blog-post-right-img::before {
  width: 100%;
  padding-top: 75%;
  content: '';
  display: block;
  position: relative;
  z-index: 1;
}
.ulike-blog-post .ulike-blog-post-right-img img {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  background: #fff;
  transition: all 0.4s ease-out;
}

.ulike-blog-post .ulike-blog-post-right-img:hover img {
  transform: scale(1.08);
}

.ulike-blog-post .ulike-blog-post-right-h3 {
  color: #190a0a;
  font-size: 24px;
  line-height: 1.33;
  font-family: var(--heading-font-family);
  font-weight: normal;
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ulike-blog-post .ulike-blog-post-right-sub {
  color: #190a0a;
  font-size: 14px;
  line-height: 1.57;
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ulike-blog-post .ulike-blog-post-right-time {
  color: #756b6e;
  font-size: 14px;
  line-height: 1.57;
}

.ulike-blog-post .ulike-blog-post-right-product {
  margin-top: 40px;
}

.ulike-blog-post .ulike-blog-post-right-product-item {
  background: #fafafa;
  display: block;
}

.ulike-blog-post .ulike-blog-post-right-product-img {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background: #d9d9d9;
}

.ulike-blog-post .ulike-blog-post-right-product-img::before {
  width: 100%;
  padding-top: 75%;
  content: '';
  display: block;
  position: relative;
  z-index: 1;
}
.ulike-blog-post .ulike-blog-post-right-product-img img {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  background: #fff;
  transition: all 0.4s ease-out;
}
.ulike-blog-post .ulike-blog-post-right-product-img:hover img {
  transform: scale(1.08);
}

.ulike-blog-post .ulike-blog-post-right-product-info {
  padding: 8px 8px 24px;
}

.ulike-blog-post .ulike-blog-post-right-product-h3 {
  color: #190a0a;
  font-size: 20px;
  line-height: 1.5;
  font-family: var(--heading-font-family);
  font-weight: normal;
  margin: 0;
  margin-bottom: 11px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ulike-blog-post .ulike-blog-post-right-product-btn {
  border-radius: 4px;
  background: #190a0a;
  color: #fbfaf4;
  font-size: 14px;
  line-height: 1;
  font-family: var(--heading-font-family);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
}

@media (max-width: 1400px) {
  .ulike-blog-post .ulike-blog-post-right {
    width: 240px;
  }

  .ulike-blog-post .ulike-blog-post-right-item {
    gap: 10px;
    padding-bottom: 16px;
  }
  .ulike-blog-post .ulike-blog-post-right-h3 {
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  .ulike-blog-post .ulike-blog-post-right {
    display: none;
  }

  .ulike-blog-post .ulike-blog-post-article {
    margin-top: 48px;
  }

  .ulike-blog-post .ulike-blog-post-article h2 {
    font-size: 28px;
    line-height: 1.21;
  }

  .ulike-blog-post .ulike-blog-post-article h3 {
    font-size: 24px;
    line-height: 1.33;
  }

  .ulike-blog-post .ulike-blog-post-article h4 {
    font-size: 20px;
    line-height: 1.4;
  }

  .ulike-blog-post .ulike-blog-post-article h5 {
    font-size: 16px;
    line-height: 1.5;
  }

  .ulike-blog-post .ulike-blog-post-article h6 {
    font-size: 12px;
    line-height: 1.6;
  }

  .ulike-blog-post .ulike-blog-post-nav {
    margin-top: 40px;
  }

  .ulike-blog-post .ulike-blog-post-nav-title {
    display: none;
  }
}

.product-blog-cont {
  overflow: hidden;
}

.product-blog-det {
  max-width: calc(100% - 337px);
}

.product-blog-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.product-blog-arraws {
  display: flex;
  gap: 60px;
}

.product-blog-arraw {
  cursor: pointer;
  width: 40px;
}

.product-blog-arraws svg {
  width: 100px;
  height: auto;
  display: block;
}
