.compare-banner{
    position: relative;
}
.compare-banner img{
    width: 100%;
    display: block;
    margin: 0;
    position: relative;
    z-index: 1;
}
.compare-banner .mb-box{
    display: none;
}
.compare-banner .compare-banner-text{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 2;
}
.compare-banner .compare-banner-title{
    font-size: 50px;
    font-family: var(--heading-font-family);
    color: #000;
    line-height: 1.2;
}
.compare-banner .compare-banner-p{
    font-size: 20px;
    color: #000;
    line-height: 1.2;
    margin-top: 15px; 
}

@media (max-width:1400px) {
    .compare-banner .compare-banner-title{
        font-size: 40px;
    }
}

@media (max-width:991px) {
    .compare-banner .mb-box{
        display: block;
    }
    .compare-banner .pc-box{
        display: none;
    }
    .compare-banner .compare-banner-text{
        top: auto;
        bottom: 60px;
        transform: translateY(0);
    }
    .compare-banner .compare-banner-title{
        font-size: 28px;
        color: #fff;
    }
    .compare-banner .compare-banner-p{
        font-size: 16px;
        color: #fff;
    }
}

.product-area-box {
    position: relative;
    z-index: 1;
    padding: 80px 0;
    background: #fff;
  }
  .product-area-box .product-area-list {
    display: flex;
  }
  .product-area-box .product-area-item {
    position: relative;
    overflow: hidden;
    flex: 1;
  }
  .product-area-box .product-area-item:first-child {
    margin-right: 36px;
  }
  
  .product-area-box .product-area-img-list {
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 67%;
    margin: 0 auto;
  }
  
  .product-area-box .product-area-img-item {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
  }
  .product-area-box .product-area-img-item.active {
    position: relative;
    display: block;
  }
  .product-area-box .product-area-img-item.close {
    z-index: 3;
    transition: width 0.6s ease;
    width: 0%;
    height: 100%;
    display: block;
    transform-origin: left;
  }
  .product-area-box .product-area-img-item.close .img {
    width: auto;
    max-width: none;
    height: 100%;
  }
  .product-area-box .product-area-item .img {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
  }
  
  .product-area-box .product-area-cont {
    padding: 35px 25px;
    position: relative;
  }
  
  .product-area-box .product-area-dot {
    position: relative;
    margin-top: 20px;
    justify-content: center;
    z-index: 3;
    display: flex;
  }
  
  .product-area-box .product-area-dot .product-area-dot-item {
    position: relative;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
    background: linear-gradient(to bottom, #fff 80%, rgba(0, 0, 0, 0.1) 100%);
    box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.05),
      inset 0px 0px 2px 1px rgba(255, 255, 255, 0.05);
  }
  .product-area-box .product-area-dot .product-area-dot-item::after {
    border-radius: inherit;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 10%);
    content: "";
    display: block;
    height: inherit;
    position: absolute;
    width: inherit;
  }
  .product-area-box .product-area-dot .product-area-dot-item.active::before {
    position: absolute;
    content: "";
    display: block;
    width: 120%;
    height: 120%;
    border-radius: 50%;
    border: 1px solid #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .product-area-box .product-area-h3 {
    font-size: 30px;
    font-family: var(--heading-font-family);
    color: #000;
    line-height: 1.2;
    margin: 0;
    text-align: center;
    font-weight: normal;
  }
  
  .product-area-box .product-area-p {
    font-size: 18px;
    color: #636363;
    line-height: 1.2;
    text-align: center;
    margin-top: 20px;
  }
  
  .product-area-box .product-area-price {
    font-size: 30px;
    color: #e7004c;
    line-height: 1.2;
    display: inline-block;
    padding-left: 20px;
    margin-left: 20px;
    border-left: 1px solid #dfdfdf;
  }
  
  .product-area-box .product-area-price span {
    color: #bcbcbc;
    font-weight: normal;
    text-decoration: line-through;
    display: inline-block;
    margin-left: 15px;
  }
  
  .product-area-box .product-area-btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    overflow: hidden;
  }
  
  .product-area-box .product-area-btn-item {
    background: #000;
    color: #fff;
    font-size: 16px;
    width: 320px;
    height: 66px;
    line-height: 1;
    border: 2px solid #000;
  }
  
  .product-area-box .product-area-btn-item:hover span,
  .product-area-box .product-area-btn-item:hover .btn-txt::before{
    color: #000;
  }

  @media (max-width:1600px) {
    .product-area-box .product-area-img-list{
        width: 60%;
        margin: 0 auto;
    }
  }
  
  @media (max-width: 1400px) {
    .product-area-box .product-area-h3 {
      font-size: 25px;
    }
    .product-area-box .product-area-p {
      font-size: 16px;
    }
    .product-area-box .product-area-btn-item {
      height: 55px;
    }
  }

  @media (max-width:1300px) {
    .product-area-box .product-area-img-list{
        max-width: 57%;
        margin: 0 auto;
    }
  }
  
  @media (max-width: 991px) {
    .product-area-box {
      padding: 50px 0;
    }
    .product-area-box .product-area-list {
      /* flex-wrap: wrap; */
    }

    .product-area-box .product-area-img-list{
        max-width: 100%;
    }
    /* .product-area-box .product-area-item {
      flex: auto;
      width: 100%;
    } */
    .product-area-box .product-area-item:first-child {
      /* margin-bottom: 30px;
      margin-right: 0; */
    }
  
    .product-area-box .product-area-cont {
      padding: 25px 15px;
    }
  
    .product-area-box .product-area-h3 {
      font-size: 17px;
      text-align: center;
    }
    .product-area-box .product-area-p {
      font-size: 12px;
      text-align: center;
    }
  
    .product-area-box .product-area-price {
      font-size: 17px;
      padding-left: 10px;
      margin-left: 10px;
    }
    .product-area-box .product-area-btn {
      margin-top: 30px;
    }
    .product-area-box .product-area-btn-item {
      height: 45px;
    }
    .product-area-box .product-area-dot {
      top: 0;
      right: 0;
      position: relative;
      justify-content: center;
      margin-top: 20px;
    }
    .product-area-box .product-area-dot .product-area-dot-item {
      width: 30px;
      height: 30px;
      margin: 0 8px;
    }
    .product-area-box .product-area-tag {
      font-size: 12px;
      padding: 1px 8px;
    }
  }

  @media (max-width:640px) {
    .product-area-box .product-area-img-item{
        width: 140%;
        left: -20%;
    }
    .product-area-box .product-area-item .img{
        max-width: none;
        object-fit: cover;
    }
    .product-area-box .product-area-img-item.close .img {
        width: auto;
        max-width: none;
        height: 100%;
    }
    .product-area-box .product-area-cont {
        padding: 25px 0;
      }
  }
  
.compare-list-box .compare-item-title{
    font-size: 35px;
    font-family: var(--heading-font-family);
    color: #000;
    background: #f6f6f6;
    line-height: 1.2;
    padding: 20px 0;
    text-align: center;
}
.compare-list-box .compare-item-slist{
    background: #fff;
}
.compare-list-box .compare-item-cont{
    display: flex;
}
.compare-list-box .compare-sitem{
    flex: 1;
    padding: 125px 30px;
    text-align: center;
    font-size: 30px;
    color: #000;
    line-height: 1.4;
    text-align: center;
}

.compare-list-box .compare-sitem:first-child{
    padding-left: 0;
}

.compare-list-box .compare-sitem:last-child{
    padding-right: 0;
}

.compare-list-box .compare-sitem-txt{
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    font-family: var(--heading-font-family);
}
.compare-list-box .compare-sitem-p{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 30px;
    line-height: 1.2;
}
.compare-list-box .sm-padding .compare-sitem{
    padding-top: 80px;
}
.compare-list-box .sm-bottom .compare-sitem{
    padding-bottom: 70px;
}
.compare-list-box .compare-sitem:first-child{
    border-right: 1px solid #f6f6f6;
}

.compare-list-box .compare-sitem img{
    margin-bottom: 50px;
    max-height:110px;
}
.compare-list-box .sticky {
    position: sticky;
    top: var(--top);
    z-index: 2;
}

@media (max-width:1600px) {
    .compare-list-box .compare-item-title{
        font-size: 25px;
    }
    .compare-list-box .compare-sitem{
        font-size: 23px;
    }
    .compare-list-box .compare-sitem-p{
        font-size: 16px;
        margin-top: 10px;
    }
    .compare-list-box .compare-sitem img{
        max-height: 80px;
        margin-bottom: 30px;
    }
    .compare-list-box .compare-sitem{
        padding: 80px 20px;
    }
}

@media (max-width:640px) {
    .compare-list-box .compare-sitem{
        padding: 106px 15px !important;
    }
    .compare-list-box .compare-sitem img{
        max-height: 50px;
    }
    .compare-list-box .compare-sitem{
        font-size: 16px;
    }
    .compare-list-box .compare-item-title{
        font-size: 23px;
    }
    .compare-list-box .compare-sitem:first-child{
        padding-left: 0 !important;
    }
    .compare-list-box .compare-sitem:last-child{
        padding-right: 0 !important;
    }
    .compare-list-box .compare-item-title span{
        display: block;
    }
}

.product-cat{
    position: fixed;
    width: 100%;
    background: #fff;
    left: 0;
    top: -100%;
    z-index: 3;
    transition: all .8s linear;
}
.product-cat.show{
    transition: all .4s ease;
    top: var(--cat-top);
}
.product-cat .product-cat-cont{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    padding: 50px 0;
}
.product-cat .product-cat-item{
    flex: 1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}
.product-cat .product-cat-item:last-child{
    margin-right: 0;
}
.product-cat .product-cat-item img{
    display: block;
}
.product-cat .product-cat-text{
    flex: 1;
}

.product-cat .product-cat-title{
    font-size: 30px;
    color: #000;
    line-height: 1.2;
    font-family: var(--heading-font-family);
}

.product-cat .product-cat-price{
    font-size: 30px;
    color: #e7004c;
    line-height: 1.2;
    margin-top: 20px;
    font-family: var(--heading-font-family);
}

.product-cat .product-cat-p{
    font-size: 18px;
    color: #636363;
    line-height: 1.2;
    margin-top: 16px;
}

.product-cat .product-cat-btn{
    width: 100%;
    max-width: 330px;
    height: 66px;
    cursor: pointer;
    background: #000;
    color: #fff;
    border: 2px solid #000;
    font-size: 25px;
    margin: 0 auto;
    margin-top: 25px;
}
.product-cat .product-cat-btn:hover span,.product-cat .product-cat-btn:hover .btn-txt::before{
    color: #000;
}

@media (max-width:1920px) and (min-width:1600px){
  .product-cat .product-cat-cont{
    padding:34px 0;
  }
  .product-cat .product-cat-item img{
    width: 55px;
  }
  .product-cat .product-cat-item{
    padding: 0 115px;
  }
  .product-cat .product-cat-title{
    font-size: 22px;
  }
  .product-cat .product-cat-price{
    font-size: 23px;
    margin-top: 10px;
  }
  .product-cat .product-cat-btn{
    max-width: 217px;
    height: 45px;
    font-size: 18px;
    margin-top: 13px;
  }
  .product-cat .product-cat-p{
    font-size: 14px;
    margin-top: 9px;
  }
}

@media (max-width:1600px) {
    .product-cat .product-cat-cont{
        padding:20px 0;
    }
    .product-cat .product-cat-item img{
        height: 139px;
        margin-right: 40px;
    }
    .product-cat .product-cat-title{
        font-size: 20px;
    }
    .product-cat .product-cat-price{
        font-size: 20px;
        margin-top: 10px;
    }
    .product-cat .product-cat-btn{
        font-size: 16px;
        height: 45px;
        margin-top: 10px;
    }
    .product-cat .product-cat-p{
        font-size: 14px;
    }
    .product-cat .product-cat-text{
        flex: none;
    }
}

@media (max-width:740px) {
    .product-cat .product-cat-item img{
        width: auto;
        height: 100px;
    }
    .product-cat .product-cat-title{
        font-size: 16px;
    }
    .product-cat .product-cat-price{
        font-size: 16px;
        margin-top: 5px;
    }
    .product-cat .product-cat-btn{
        font-size: 14px;
        height: 40px;
        margin-top: 10px;
    }
    .product-cat .product-cat-p{
        font-size: 12px;
        margin-top: 5px;
    }
    .product-cat .product-cat-item{
        margin-right: 20px;
    }
}

@media (max-width:640px) {
    .product-cat .product-cat-p{
        zoom: .9;
    }
    .product-cat .product-cat-item{
        position: relative;
    }
    .product-cat .product-cat-text{
        flex: 1;
    }
    .product-cat .product-cat-item img{
        position: absolute;
        height: 77px;
        top: 0px;
        left: 0;
    }
    .product-cat .product-cat-title{
        /* text-align: left; */
        padding-left: 20px;
        margin-top: 15px;
    }
    .product-cat .product-cat-price{
        /* text-align: left; */
        padding-left: 20px;
    }
    .product-cat .product-cat-cont{
        padding: 10px 0;
    }

    .product-cat .product-cat-btn{
        margin-top: 30px;
    }
}

.compare-image-link{
  position: relative;
  z-index: 1;
}

.compare-image-link .compare-img{
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
}

.compare-image-link .mb-box{
  display: none;
}

.compare-image-link .compare-image-cont{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  left: 0;
  z-index: 3;
}

.compare-image-link .compare-image-txt{
  max-width: 450px;
  margin-right: 50px;
}

.compare-image-link .compare-image-p{
  font-size: 60px;
  color: #fff;
  line-height: 1;
  font-family: var(--heading-font-family);
}

.compare-image-link .compare-image-btn{
  width: 200px;
  height: 60px;
  font-size: 18px;
  background: #000;
  color: #fff;
  margin-top: 40px;
}
.compare-image-link .compare-image-btn:hover .btn-txt::before,.compare-image-link .compare-image-btn:hover span{
  color: #000;
}
.compare-image-link .container{
  display: flex;
  justify-content: flex-end;
}

@media (max-width:1300px) {
  .compare-image-link .compare-image-txt{
    max-width: 340px;
  }
  .compare-image-link .compare-image-p{
    font-size: 46px;
  }
  .compare-image-link .compare-image-btn{
    margin-top: 30px;
  }
}

@media (max-width:991px) {
  .compare-image-link .pc-box{
    display: none;
  }
  .compare-image-link .mb-box{
    display: block;
  }
  .compare-image-link .compare-image-txt{
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  .compare-image-link .compare-image-p{
    font-size: 28px;
  }
  .compare-image-link .compare-image-p span{
    display: block;
  }
  .compare-image-link .compare-image-cont{
    position: absolute;
    top: auto;
    transform: translateY(0);
    bottom: 20px;
  }
  .compare-image-link .compare-image-btn{
    margin: 0 auto;
    margin-top: 25px;
    height: 45px;
    font-size: 14px;
    width: 160px;
  }
}

.faq-box{
    padding: 80px 0;
    background: #f9f9f9;
    position: relative;
    z-index: 1;
}

.faq-box .faq-cont{
    margin: 0 auto;
    margin-top: 60px;
    max-width: 1070px;
}

.faq-box .faq-item{
    padding: 0 15px;
    border-bottom: 2px solid #f0f0f0;
}

.faq-box .faq-item-title{
    font-size: 20px;
    color: #000;
    font-family: var(--heading-font-family);
    line-height: 1.2;
    min-height: 58px;
    position: relative;
    padding-right: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.faq-box .faq-item-title .span{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all .4s ease;
}
.faq-box .faq-item-title .span::before,.faq-box .faq-item-title .span::after{
    position: absolute;
    content: '';
    display: block;
    background: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all .4s ease;
}

.faq-box .faq-item-title .span::before{
    width: 10px;
    height: 2px;
}

.faq-box .faq-item-title .span::after{
    width: 2px;
    height: 10px;
}

.faq-box .active .faq-item-title .span{
    transform: translateY(-50%) rotate(180deg);
}

.faq-box .active .faq-item-title .span::after{
    transform: translate(-50%,-50%) rotate(90deg);
}

.faq-box .faq-item-cont{
    font-size: 16px;
    color: #000;
    line-height: 1.4;
    padding-bottom: 30px;
    display: none;
}
.faq-box .active .faq-item-cont{
  display: block;
}
.faq-box .faq-item-cont p{
  margin-bottom: 0;
}

.faq-box .faq-item-cont img{
    display: block;
    margin: 0;
    width: 100%;
}

.faq-box .faq-item-cont .mb-box{
    display: none;
}

@media (min-width:992px) {
    .open-active.faq-box .faq-cont{
        align-items: flex-start;
    }
}

@media (max-width:1500px) {
    .faq-box .faq-item-title{
        /* font-size: 16px; */
        /* min-height: 55px; */
    }
}

@media (max-width:1280px) {
    .faq-box .faq-item-title{
        /* min-height: 52px; */

    }
}

@media (max-width:991px) {
    .faq-box{
        padding: 50px 0;
        overflow: hidden;
    }
    .faq-box .faq-cont{
        display: block;
        margin-top: 40px;
    }
    .faq-box .faq-item-title{
        font-size: 15px;
        /* min-height: 50px; */
    }
    .faq-box .faq-item{
        padding-right: 0;
        position: relative;
    }
    .faq-box .faq-item::before{
        position: absolute;
        content: '';
        display: block;
        height: 2px;
        width: 150%;
        left: 50%;
        transform: translateX(-50%);
        background: #f0f0f0;
        bottom: -2px;
    }

    .faq-box .faq-item-cont .mb-box{
        display: block;
    }
    .faq-box .faq-item-cont .pc-box{
        display: none;
    }
    .faq-box .faq-item-cont{
        font-size: 14px;
    }
}


.sgs-box .big-box{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 3;
}

.sgs-box .big-box .container{
  position: relative;
  height: 100%;
}

.before-after-box .bottom-text{
  position: relative;
  font-size: 12px;
  color: #fff;
  width: 100%;
  padding: 0;
  left: 0;
  transform: translateX(0%);
  bottom: 0px;
  text-align: center;
  z-index: 3;
  line-height: 1.2;
}