@media (min-width:1600px) {
  .container{
    max-width:calc(100% - 40px);
  }
}
.container{
    padding: 0 40px;
    margin: 0 auto;
  }
@media (max-width:1600px) {
  .container{
    max-width:none;
  }
}

@media (max-width:991px) {
  .container{
    padding: 0 24px;
  }
}

.comparison-banner{
  position: relative;
}
.comparison-banner::before{
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 3;
}
.comparison-banner .img{
  position: relative;
  z-index: 1;
  width: 100%;
  display: block;
}

.comparison-banner .mb-box{
  display: none;
}

.comparison-banner .comparison-banner-text{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 65px;
  z-index: 4;
}

.comparison-banner .container{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 30px;
}

.comparison-banner .comparison-banner-text-left{
  max-width: 770px;
  color: #fff;
}

.comparison-banner .comparison-banner-tag{
  color: #FBFAF4;
  font-size: 16px;
  font-family: var(--heading-font-family);
  line-height: 1.5;
  display: inline-block;
  background: #E0004D;
  padding: 3px 17px;
  overflow: hidden;
  position: relative;
  border-radius: 30px;
}

.comparison-banner .comparison-banner-tag::before {
  position: absolute;
  content: "";
  display: block;
  width: 200%;
  height: 200%;
  z-index: 2;
  background: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  animation: scanning 3s linear infinite;
}
@keyframes scanning {
  0% {
    transform: translate(-100%, -100%);
  }
  100% {
    transform: translate(100%, 100%);
  }
}

.comparison-banner .comparison-banner-sub{
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.24px;
  margin-top: 18px;
}

.comparison-banner .comparison-banner-title{
  font-size: 80px;
  line-height: 1;
  letter-spacing: 0.8px;
  margin-top: 18px;
}

.comparison-banner .comparison-banner-p{
  color: #190A0A;
  font-size: 60px;
  line-height: 1.2;
  letter-spacing: 0.6px;
}

.comparison-banner .comparison-banner-btn{
  width: 200px;
  height: 42px;
  font-size: 14px;
  border-radius: 42px;
  background: #fff;
  cursor: pointer;
  border:2px solid #fff;
}
.comparison-banner .comparison-banner-btn span{
  color: #190A0A;
}

.comparison-banner .comparison-banner-btn .btn-txt::before{
  color: #fff;
}

.comparison-banner .comparison-banner-btn::after{
  background: #190A0A;
}

@media (max-width:991px) {
  .comparison-banner .comparison-banner-sub{
    font-size: 14px;
    color: #fff;
    line-height: 1.5;
    margin-top: 5px;
  }
  .comparison-banner .comparison-banner-title{
    font-size: 28px;
    color: #fff;
    line-height: 1.3;
  }
  .comparison-banner .mb-box{
    display: block;
  }
  .comparison-banner .pc-box{
    display: none;
  }
  .comparison-banner .container{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  .comparison-banner .comparison-banner-text-left{
    text-align: center;
  }
  .comparison-banner .comparison-banner-text{
    bottom: 0;
    height: 100%;
    padding: 38px 0 48px 0;
  }
  .comparison-banner .comparison-banner-btn{
    width: 185px;
    font-size: 12px;
  }
}

.ipl-results{
  background: #fff;
  padding: 95px 0 108px 0;
}

.ipl-results .ipl-results-top{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.ipl-results .ipl-results-title{
  color: #3F3636;
  font-size: 48px;
  line-height:1.2;
}

.ipl-results .ipl-results-sub{
  color: #190A0A;
  font-size: 18px;
  line-height: 1.5;
  max-width: 600px;
}

.ipl-results .ipl-results-cont{
  margin-top: 75px;
  display: flex;
  align-items: flex-end;
  gap: 80px;
}
.ipl-results .ipl-results-left{
  width: 47.78%;
}
.ipl-results .ipl-results-progress{
  display: flex;
  justify-content: space-between;
}

.ipl-results .ipl-results-compare{
  flex: 1;
  display: flex;
  gap: 20px;
}

.ipl-results .ipl-progress-item:last-child{
  margin-bottom: 0;
}

.ipl-results .ipl-progress-num{
  font-size: 34px;
  line-height: 1;
  color: #E0004D;
}

.ipl-results .ipl-progress-num span{
  font-size: 70px;
}

.ipl-results .ipl-results-p{
  font-size: 16px;
  color: #190A0A;
  line-height: 1.2;
  margin-top: 14px;
}

.ipl-results .ipl-results-text{
  border-radius: 0px 0px 20px 20px;
  background: #FBFAF4;
  padding:60px 75px;
  display: flex;
  align-items: center;
  gap: 70px;
  margin-top: 120px;
}

.ipl-results .img-icon{
  width: 170px;
}

.ipl-results .ipl-results-text-p{
  color: #190A0A;
  font-size: 14px;
  line-height: 1.3;
  margin-top: 7px;
}

.ipl-results .ipl-results-text-right{
  flex: 1;
  color: #3F3636;
  font-size: 12px;
  line-height: 1.5;
}

.ipl-results .before-after-img-wrapper{
  position: relative;
  --img-width: 0px;
  --left-num: 100%;
  --time-num:1s;
  overflow: hidden;
  flex: 1;
}

.ipl-results .before-after-img-item{
  position: relative;
  z-index: 1;
  pointer-events: none;
  height: 100%;
}

.ipl-results .before-after-img-box{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}

.ipl-results .before-after-img-item .img{
  /* display: none; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
  user-drag: none;
  -moz-user-drag: none;
  -webkit-user-drag: none;
}

.ipl-results .before-after-img-item .img.active{
  display: block;
}
.ipl-results .before-after-img-box.close{
  z-index: 3;
  width: 0;
  transition: width 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.ipl-results .before-after-img-box.close .img{
  height: 100%;
  width: var(--img-width);
  max-width: none;
}
.ipl-results .before-after-img-box.active{
  position: relative;
  z-index: 2;
}

.ipl-results .before-after-img-right{
  position: absolute;
  width: calc(100% - var(--left-num));
  height: 100%;
  overflow: hidden;
  z-index: 2;
  right: 0;
  top: 0;
  transition: all var(--time-num) cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.ipl-results .before-after-img-right .img{
  height: 100%;
  width: var(--img-width);
  max-width: none;
  position: absolute;
  right: 0;
  top: 0;
}

.ipl-results .before-after-tag{
  position: absolute;
  padding: 5px 15px;
  font-size: 14px;
  color: #fff;
  backdrop-filter: blur(16px);
  background: rgba(251, 250, 244, .5);
  border-radius: 20px;
  border: 1px solid #fff;
  top: 15px;
  left: 15px;
  z-index: 4;
}

.ipl-results .before-after-img-right .before-after-tag{
  left: auto;
  right: 15px;
}

.ipl-results .before-after-img-handle{
  position: absolute;
  z-index: 5;
  top: 0;
  height: 100%;
  left: var(--left-num);
  transition: all var(--time-num) cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.ipl-results .before-after-img-handle::before,.ipl-results .before-after-img-handle::after{
  position: absolute;
  content: '';
  display: block;
  width: 2px;
  height: calc(50% - 25px);
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
}

.ipl-results .before-after-img-handle::before{
  top: 0;
}

.ipl-results .before-after-img-handle::after{
  bottom: 0;
}

.ipl-results .before-after-img-handle-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  cursor: col-resize;
  border-radius: 50%;
  border: 2px solid #fff;
  overflow: hidden;
  width: 50px;
  height: 50px;
}

.ipl-results .before-after-img-handle-btn span{
  position: absolute;
  width: 200%;
  height: 200%;
  background: rgba(255, 255, 255, .5);
  filter: blur(10px);
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.ipl-results .before-after-img-handle-btn::before,.ipl-results .before-after-img-handle-btn::after{
  position: absolute;
  content: '';
  display: block;
  border: 12px solid transparent;
  border-color: transparent #fff transparent transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
}

.ipl-results .before-after-img-handle-btn::before{
  margin-left: -16px;
}

.ipl-results .before-after-img-handle-btn::after{
  transform: translate(-50%,-50%) scale(-1,-1);
  margin-left: 16px;
}

.ipl-results .ipl-results-compare-sm{
  display: flex;
  gap: 11px;
  flex-direction: column;
  width: 78px;
}

.ipl-results .ipl-results-sm-item{
  width: 100%;
  position: relative;
  cursor: pointer;
  flex: 1;
}

.ipl-results .ipl-results-sm-item::before{
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(255, 255, 255, .5);
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(0.4, 0.2, 0.2, 1);

}

.ipl-results .ipl-results-sm-item.active::before{
  opacity: 0;
}

.ipl-results .ipl-results-sm-item .img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.ipl-results .mb-box{
  display: none;
}

@media (max-width:1600px) {
  .ipl-results .ipl-results-text{
    padding: 40px;
    gap: 40px;
  }
}

@media (max-width:1400px) {
  .ipl-results .ipl-results-cont{
    gap: 40px;
  }
  .ipl-results .ipl-progress-num{
    font-size: 28px;
  }
  .ipl-results .ipl-progress-num span{
    font-size: 50px;
  }
  .ipl-results .ipl-results-p{
    font-size: 14px;
    margin-top: 10px;
  }
  .ipl-results .ipl-results-lin{
    margin-top: 10px;
  }
  .ipl-results .ipl-results-text{
    margin-top: 70px;
  }
}

@media (max-width:991px) {
  .ipl-results{
    padding: 50px 0;
  }
  .ipl-results .pc-box{
    display: none;
  }
  .ipl-results .mb-box{
    display: block;
  }
  .ipl-results .ipl-results-top{
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
  }
  
  .ipl-results .ipl-results-title{
    font-size: 24px;
  }
  .ipl-results .ipl-results-sub{
    font-size: 14px;
  }
  .ipl-results .ipl-results-cont{
    flex-direction: column;
    gap: 25px;
    align-items: normal;
    margin-top: 40px;
  }
  .ipl-results .ipl-results-left{
    width: 100%;
  }
  .ipl-results .ipl-progress-num{
    font-size: 14px;
  }
  .ipl-results .ipl-progress-num span{
    font-size: 34px;
  }
  .ipl-results .before-after-img-wrapper{
    width: 100%;
  }
  .ipl-results .ipl-results-compare{
    width: 100%;
    flex-direction: column;
    gap: 9px;
  }
  .ipl-results .before-after-img-handle-btn{
    width: 40px;
    height: 40px;
  }
  .ipl-results .before-after-img-handle::before, .ipl-results .before-after-img-handle::after{
    height: calc(50% - 20px);
  }
  .ipl-results .before-after-img-handle-btn::before, .ipl-results .before-after-img-handle-btn::after{
    zoom: .7;
  }
  .ipl-results .ipl-results-compare-sm{
    gap: 7px;
    flex-direction: row;
    width: 100%;
  }
  .ipl-results .ipl-results-sm-item{
    width: auto;
    flex: 1;
  }
  .ipl-results .before-after-tag{
    zoom: .8;
    padding: 3px 10px;
  }

  .ipl-results .ipl-results-p{
    margin-top: 6px;
    font-size: 12px;
    line-height: 1;
  }

  .ipl-results .ipl-results-lin{
    height: 4px;
  }

  .ipl-results .ipl-progress-item{
    margin-bottom: 20px;
  }

  .ipl-results .ipl-results-text.mb-box{
    margin-top: 0;
    display: flex;
    gap: 20px;
    padding: 21px 14px;
    align-items: flex-start;
  }
  .ipl-results .ipl-results-text-right{
    zoom: 0.75;
  }

  .ipl-results .img-icon{
    width: 70px;
  }

  .ipl-results .ipl-results-text-p{
    margin-top: 3px;
    font-size: 12px;
    zoom: 0.48;
  }


}


.hair-ads-tabs{
  padding: 82px 0;
}

.hair-ads-tabs .hair-ads-tabs-top{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  color: #3F3636;
}

.hair-ads-tabs .hair-ads-tabs-title{
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: -0.26px;
  max-width: 570px;
}

.hair-ads-tabs .hair-ads-tabs-sub{
  font-size: 18px;
  line-height: 1.5;
}

.hair-ads-tabs .hair-ads-tabs-list-top{
  margin-top: 54px;
  display: flex;
  gap: 12px;

}
.hair-ads-tabs .hair-ads-tabs-list-item{
  display: flex;
  align-items: center;
  padding: 0 70px;
  height: 67px;
  color: #3F3636;
  font-size: 24px;
  line-height: 1.4;
  background: #F8F8F8;
  position: relative;
  z-index: 1;
  border-radius: 16px 16px 0 0;
  border: 1.68px solid #E4DDDD;
  border-bottom: 0;
  cursor: pointer;
  padding-top: 8px;
}

.hair-ads-tabs .hair-ads-tabs-list-item.active{
  color: #E0004D;
  font-family: var(--heading-font-family);
  background: #FBFAF4;
  z-index: 3;
}

.hair-ads-tabs .hair-ads-tabs-cont{
  position: relative;
  top: -1.68px;
  z-index: 2;
  background: #FBFAF4;
  display: flex;
  gap: 20px;
  padding: 43px;
  border: 1.68px solid #E4DDDD;
  border-radius: 0 16px 16px 16px;
}

.radius-left.hair-ads-tabs .hair-ads-tabs-cont{
  border-radius: 16px;
}

.hair-ads-tabs .hair-ads-tabs-left,
.hair-ads-tabs .hair-ads-tabs-right{
  flex: 1;
}

.hair-ads-tabs .hair-ads-tabs-p{
  color: #3F3636;
  font-size: 28px;
  line-height: 1.5;
  border-bottom: 0.7px solid #3F3636;
  margin-top: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  padding-bottom: 12px;
  position: relative;
  --left-num:0;
  --width-num:0;
}

.hair-ads-tabs .hair-ads-tabs-p-item{
  cursor: pointer;
}

.hair-ads-tabs .hair-ads-tabs-left .hair-ads-tabs-p{
  color: #E0004D;
}

.hair-ads-tabs .hair-ads-tabs-flex-m{
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 12px;
}

.hair-ads-tabs .hair-ads-tabs-text-p{
  color: #3F3636;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.24px;
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 17px 0;
  border-bottom: 0.7px solid #E4DDDD;
  
}

.hair-ads-tabs .img{
  width: 100%;
}

.hair-ads-tabs .mb-box{
  display: none;
}

.hair-ads-tabs .hair-ads-tabs-img-list .img-box{
  display: none;
}

.hair-ads-tabs .hair-ads-tabs-img-list .active{
  display: block;
}

.hair-ads-tabs .hair-ads-tabs-item{
  display: none;
}

.hair-ads-tabs .hair-ads-tabs-item.active{
  display: block;
}

.hair-ads-tabs .hair-ads-tabs-p-span{
  position: absolute;
  height: 4px;
  width: var(--width-num);
  left: var(--left-num);
  bottom: 0;
  background: #3F3636;
  transition: all .4s ease;
}

.hair-ads-tabs .svg-icon{
  position: absolute;
  bottom: 0.3px;
  width: 16px;
  height: 16px;
  overflow: hidden;
  pointer-events: none;
}
.hair-ads-tabs .svg-left{
  transform: scale(-1,1);
  left: -16px;
}
.hair-ads-tabs .svg-right{
  right: -16px;
}
.hair-ads-tabs .hair-ads-tabs-list-item:first-child .svg-left{
  opacity: 0;
}
.hair-ads-tabs .hair-ads-tabs-list-item:first-child::before{
  content: '';
  position: absolute;
  width: 15px;
  height: 50px;
  background: #F8F8F8;
  pointer-events: none;
  left: -1.6px;
  border-left: 1.68px solid #E4DDDD;
  bottom: -30px;
  z-index: 1;
}

.hair-ads-tabs .hair-ads-tabs-list-item.active::before{
  display: none;
}

@media (max-width:1600px) {
  .hair-ads-tabs .hair-ads-tabs-p{
    font-size: 20px;
  }
  .hair-ads-tabs .hair-ads-tabs-text-p{
    font-size: 20px;
  }
  .hair-ads-tabs .hair-ads-tabs-list-item{
    font-size: 18px;
    height: 55px;
    padding: 0 40px;
  }
}

@media (max-width:1280px) {
  .hair-ads-tabs .hair-ads-tabs-p{
    font-size: 16px;
  }
  .hair-ads-tabs .hair-ads-tabs-text-p{
    font-size: 14px;
    gap: 15px;
  }
  .hair-ads-tabs .hair-ads-tabs-text-p svg{
    zoom: .7;
  }
  .hair-ads-tabs .hair-ads-tabs-p-span{
    height: 2px;
  }
}

@media (max-width:991px) {
  .hair-ads-tabs{
    padding: 50px 0;
  }
  .hair-ads-tabs .pc-box{
    display: none;
  }
  .hair-ads-tabs .mb-box{
    display: block;
  }
  .hair-ads-tabs .hair-ads-tabs-title{
    max-width: none;
    font-size: 24px;
  }
  .hair-ads-tabs .hair-ads-tabs-sub{
    font-size: 14px;
  }
  .hair-ads-tabs .hair-ads-tabs-top{
    flex-direction: column;
  }
  .hair-ads-tabs .hair-ads-tabs-cont{
    gap: 11px;
    padding: 18px;
    border-radius: 0 10px 10px 10px;
  }
  .radius-left.hair-ads-tabs .hair-ads-tabs-cont{
    border-radius: 10px;
  }
  .hair-ads-tabs .hair-ads-tabs-flex-m{
    margin-bottom: 0;
  }
  .hair-ads-tabs .hair-ads-tabs-p{
    margin-bottom: 0;
    margin-top: 7px;
    padding-bottom: 12px;
    font-size: 14px;
    border: 0;
  }
  .hair-ads-tabs .hair-ads-tabs-p-span{
    display: none;
  }

  .hair-ads-tabs .hair-ads-tabs-text-p{
    font-size: 12px;
    gap: 14px;
    position: relative;
    min-height: 49px;
  }
  .hair-ads-tabs .hair-ads-tabs-text-p svg{
    zoom: .6;
  }
  .hair-ads-tabs .hair-ads-tabs-left .hair-ads-tabs-text-p::before{
    position: absolute;
    content: '';
    display: block;
    width: calc(200% + 11px);
    height: 0.7px;
    background: #E4DDDD;
    left:0;
    bottom: -0.7px;
  }
  .hair-ads-tabs .hair-ads-tabs-text{
    position: relative;
  }
  .hair-ads-tabs .hair-ads-tabs-left .hair-ads-tabs-text::before{
    position: absolute;
    content: '';
    display: block;
    width: calc(200% + 11px);
    height: 0.7px;
    background: #E4DDDD;
    left:0;
    top: 0;
  }
  .hair-ads-tabs .hair-ads-tabs-text-p{
    padding: 12px 0;
    border: 0;
  }
  .hair-ads-tabs .hair-ads-tabs-list-top{
    gap: 7px;
    margin-top: 40px;
  }
  .hair-ads-tabs .hair-ads-tabs-list-item{
    height: 34px;
    font-size: 12px;
    padding: 0 20px;
    padding-top: 5px;
    border-radius: 10px 10px 0 0;
  }
  .hair-ads-tabs .svg-icon{
    width: 10px;
    height: 10px;
  }
  .hair-ads-tabs .svg-left{
    left: -10px;
  }
  .hair-ads-tabs .svg-right{
    right: -10px;
  }
}

.comparison-image-text{
  padding: 108px 0;
}

.comparison-image-text .comparison-image-text-list{
  display: flex;
  flex-direction: column;
  gap:64px;
}

.comparison-image-text .comparison-image-text-item{
  display: flex;
  align-items: center;
}

.comparison-image-text .reverse-box{
  flex-direction: row-reverse;
}

.comparison-image-text .comparison-image-text-txt,.comparison-image-text .comparison-image-text-img{
  width: 50%;
}

.comparison-image-text .comparison-image-text-txt{
  padding: 0 40px;
}

.comparison-image-text .comparison-image-text-cont{
  max-width: 478px;
  margin: 0 auto;
}

.comparison-image-text .comparison-image-text-title{
  color: #190A0A;
  font-family: Saans;
  font-size: 40px;
  line-height: 1.2;
}

.comparison-image-text .comparison-image-text-p{
  color: #3F3636;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 30px;
}

.comparison-image-text .comparison-image-text-btn{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 280px;
  height: 48px;
  border-radius: 48px;
  border: 1px solid #3F3636;
  color: #3F3636;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 30px;
}

@media (max-width:991px) {
  .comparison-image-text{
    padding: 60px 0;
  }
  .comparison-image-text .comparison-image-text-list{
    gap: 94px;
  }
  .comparison-image-text .comparison-image-text-item{
    flex-direction: column;
    gap: 30px;
  }
  .comparison-image-text .comparison-image-text-txt,
  .comparison-image-text .comparison-image-text-img{
    width: 100%;
  }
  .comparison-image-text .comparison-image-text-txt{
    padding: 0;
  }
  .comparison-image-text .comparison-image-text-cont{
    max-width: none;
  }
  .comparison-image-text .comparison-image-text-title{
    font-size: 24px;
  }
  .comparison-image-text .comparison-image-text-p{
    font-size: 14px;
    margin-top: 20px;
  }
  .comparison-image-text .comparison-image-text-btn{
    width: 220px;
    height: 42px;
    font-size: 12px;
    margin-top: 20px;
  }

}

.comparison-image{
  position: relative;
}

.comparison-image .img{
  width: 100%;
  position: relative;
  z-index: 1;
}

.comparison-image .mb-box{
  display: none;
}

.comparison-image .comparison-image-cont{
  position: absolute;
  top: 34.1%;
  right: 7.5%;
  max-width: 35.67%;
  z-index: 2;
}

.comparison-image .comparison-image-sub{
  color:#6C6AB4;
  font-size: 20px;
  line-height: 1.2;
}

.comparison-image .comparison-image-title{
  color: #190A0A;
  font-size: 48px;
  line-height: 1.2;
  margin-top: 14px;
}

.comparison-image .comparison-image-p{
  color: #3F3636;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 25px;
}

.comparison-image .comparison-image-btn{
  position: absolute;
  z-index: 3;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.comparison-image .comparison-image-btn svg{
  display: block;
}

.comparison-image .comparison-image-btn::after,
.comparison-image .comparison-image-btn:before {
  content: "";
  position: absolute;
  display: block;
  width: 160%;
  height: 160%;
  border: 1px solid #fff;
  border-radius: 50%;
  animation: bounce-circle 1.8s infinite;
  box-sizing: border-box;
  left: -30%;
  top: -30%;
  pointer-events: none;
}

.comparison-image .comparison-image-btn::after{
  animation-delay: 400ms;
}

.comparison-image .comparison-image-btn:hover:after,
.comparison-image .comparison-image-btn:hover:before{
  display: none;
}

@keyframes bounce-circle {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  20% {
    opacity: 1;
  }

  80%,
  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}

.comparison-image .comparison-image-btn-left{
  left: 48%;
  top: 59.43%;
}
.comparison-image .comparison-image-btn-right{
  left: 82.24%;
  top: 34.51%;
}

.comparison-image-product .comparison-image-cont{
  max-width: 29.43%;
  right: auto;
  left: 8.75%;
  top: 31.43%;
}

.comparison-image-product .comparison-image-title{
  font-size: 44px;
}

@media (max-width:1700px) {
  .comparison-image .comparison-image-title{
    font-size: 38px;
  }
}


@media (max-width:1500px) {
  .comparison-image .comparison-image-cont{
    right: 0;
    max-width: 42.67%;
  }
  .comparison-image-product .comparison-image-cont{
    left: 0;
  }
}

@media (max-width:1300px) {
  .comparison-image .comparison-image-title{
    font-size: 30px;
    margin-top: 10px;
  }
  .comparison-image .comparison-image-sub{
    font-size: 16px;
  }
  .comparison-image .comparison-image-p{
    font-size: 14px;
    margin-top: 15px;
  }
}


@media (max-width:991px) {
  .comparison-image .pc-box {
    display: none;
  }
  .comparison-image .mb-box {
    display: block;
  }
  .comparison-image .comparison-image-title{
    font-size: 24px;
  }
  .comparison-image .comparison-image-sub{
    margin-top: 7px;
  }
  .comparison-image .comparison-image-p{

    margin-top: 20px;
  }
  .comparison-image .comparison-image-cont{
    width: 100%;
    right: auto;
    left: 0;
    top: 60px;
    max-width: none;
  }
  .comparison-image .comparison-image-btn{
    width: 29px;
    height: 29px;
  }
  .comparison-image .comparison-image-btn-left{
    left: 18.67%;
    top: auto;
    bottom: 21.19%;
  }
  .comparison-image .comparison-image-btn-right{
    right: 18.67%;
    left: auto;
    top: auto;
    bottom: 35.93%;
  }
}

.comparison-top-sticky{
  position: sticky;
  top: 80px;
  z-index: 6;
  background: #fff;
  padding: 16px 0;
  border-top: 1px solid rgba(63, 54, 54, .25);
  border-bottom: 1px solid rgba(63, 54, 54, .25)
}

.comparison-top-sticky .comparison-top-sticky-cont{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.comparison-top-sticky .comparison-top-sticky-left{
  display: flex;
  align-items: center;
  gap: 25px;
}

.comparison-top-sticky .comparison-top-sticky-item{
  color: #190A0A;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.32px;
  cursor: pointer;
  opacity: .5;
  transition: color 0.3s ease;
}

.comparison-top-sticky .comparison-top-sticky-item::first-letter {
  font-size: 12px;
  vertical-align: super;
}
.comparison-top-sticky .comparison-top-sticky-item.active,
.comparison-top-sticky .comparison-top-sticky-item:hover{
  color: #E0004D;
  opacity: 1;
}

.comparison-top-sticky .hair-ads-sticky-cont{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}

.comparison-top-sticky .hair-ads-sticky-left{
  display: flex;
  gap: 30px;
  align-items: center;
  color: #190A0A;
  font-size: 28px;
  line-height: 1.3;
}

.comparison-top-sticky .hair-ads-sticky-countdown{
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 18px;
  font-family: var(--heading-font-family);
  line-height: 1;
}

.comparison-top-sticky .hair-ads-sticky-num{
  display: flex;
  align-items: center;
  gap: 5px;
}

.comparison-top-sticky .hair-ads-sticky-num .time{
  width: 36px;
  height: 36px;
  background: #190A0A;
  color: #FFF;
  font-size: 21px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comparison-top-sticky .hair-ads-sticky-price{
  color: #190A0A;
  font-size: 28px;
  line-height: 1.25;
  display: flex;
  align-items: center;
}

.comparison-top-sticky .hair-ads-sticky-price .n{
  color: #E0004D;
}
.comparison-top-sticky .hair-ads-sticky-price .d{
  text-decoration: line-through;
  color: #6A6A6A;
}
.comparison-top-sticky .hair-ads-sticky-btn{
  width: 150px;
  height: 37px;
  color: #FFF;
  font-size: 14px;
  background: #190A0A;
  border-radius: 37px;
  cursor: pointer;
  border: 2px solid #190A0A;
  font-family: var(--heading-font-family);
}

.comparison-top-sticky .hair-ads-sticky-btn .btn-txt::before{
  color: #000;
}

@media (max-width:1300px) {
  .comparison-top-sticky .comparison-top-sticky-item{
    font-size: 14px;
  }
  .comparison-top-sticky .hair-ads-sticky-cont{
    gap: 15px;
  }
  .comparison-top-sticky .hair-ads-sticky-left{
    gap: 15px;
  }
  .comparison-top-sticky .hair-ads-sticky-price{
    font-size: 20px;
  }
  .comparison-top-sticky .hair-ads-sticky-num .time{
    font-size: 16px;
    width: 30px;
    height: 30px;
  }
  .comparison-top-sticky .hair-ads-sticky-countdown{
    font-size: 14px;
  }
  .comparison-top-sticky .hair-ads-sticky-btn{
    width: 130px;
  }
}


@media (max-width:991px) {
  .comparison-top-sticky {
    top: 60px;
    padding: 10px 0;
    overflow: hidden;
  }
  .comparison-top-sticky .comparison-top-sticky-cont{
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
  }
  .comparison-top-sticky .comparison-top-sticky-left{
    width: 100%;
    justify-content: space-between;
    padding-top: 10px;
    gap: 0;
    position: relative;
  }
  .comparison-top-sticky .comparison-top-sticky-left::before{
    content: '';
    display: block;
    position: absolute;
    width: 120vw;
    height: 1px;
    background: rgba(63, 54, 54, .25);
    top: -1px;
    left: -10vw;
  }
  .comparison-top-sticky .comparison-top-sticky-item{
    font-size: 12px;
  }
  .comparison-top-sticky .comparison-top-sticky-item::first-letter {
    zoom:.3;
  }
  .comparison-top-sticky .comparison-top-sticky-right{
    width: 100%;
  }
  .comparison-top-sticky .hair-ads-sticky-btn{
    width: 105px;
    height: 30px;
    font-size: 12px;
  }
  .comparison-top-sticky .hair-ads-sticky-cont{
    justify-content: space-between;
    gap: 10px;
  }
  .comparison-top-sticky .hair-ads-sticky-left{
    flex: 1;
    justify-content: space-between;
  }
  .comparison-top-sticky .hair-ads-sticky-price{
    gap: 0;
    flex-direction: column;
  }
  .comparison-top-sticky .hair-ads-sticky-price .n{
    font-size: 12px;
    color: #E0004D;
  }
  .comparison-top-sticky .hair-ads-sticky-price .d{
    color: #A1A1A1;
    font-size: 12px;
  }
  .comparison-top-sticky .txt{
    display: none;
  }

  .comparison-top-sticky .hair-ads-sticky-countdown{
    font-family: var(--text-font-family);
    gap: 10px;
    font-size: 12px;
  }

  .comparison-top-sticky .hair-ads-sticky-num .time{
    font-size: 12px;
    width: 25px;
    height: 25px;
  }
  .comparison-top-sticky .hair-ads-sticky-num{
    
    gap: 3px;
  }

  .comparison-top-sticky .hair-ads-sticky-p{
    display: none;
  }

}



