.container {
  padding: 0 40px;
  margin: 0 auto;
  max-width: 1600px;
}

@media (max-width: 991px) {
  .container {
    padding: 0 24px;
  }
}

.member-benefits {
  padding: 80px 0;
}

.member-benefits .member-benefits-title {
  color: #190a0a;
  text-align: center;
  font-size: 48px;
  line-height: 1.2;
  font-family: var(--heading-font-family);
  margin: 0;
  margin-bottom: 48px;
  font-weight: normal;
}

.member-benefits .member-benefits-cont {
  display: flex;
  gap: 24px;
}

.member-benefits .member-benefits-left,
.member-benefits .member-benefits-right {
  width: calc(50% - 12px);
}

.member-benefits .member-benefits-right {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.member-benefits .member-benefits-item {
  width: calc(50% - 12px);
  position: relative;
}
.member-benefits .member-benefits-right .member-benefits-item:first-child {
  width: 100%;
}

.member-benefits .img {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
}

.member-benefits .member-benefits-text {
  position: absolute;
  z-index: 2;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  top: 8%;
}

.member-benefits .member-benefits-h4 {
  color: #190a0a;
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--heading-font-family);
  font-weight: normal;
  margin: 0;
}

.member-benefits .member-benefits-h4 p {
  margin: 0;
}

.member-benefits .member-benefits-item:first-child .member-benefits-h4 {
  font-size: 32px;
}

.member-benefits
  .member-benefits-right
  .member-benefits-item:first-child
  .member-benefits-text {
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  width: auto;
}

.member-benefits .member-benefits-p {
  color: #9c9c9c;
  font-size: 24px;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}

.member-benefits .member-benefits-left .member-benefits-p {
  color: #e0004d;
  font-family: var(--heading-font-family);
}

@media (max-width: 1300px) {
  .member-benefits .member-benefits-h4 {
    font-size: 20px;
  }
  .member-benefits .member-benefits-item:first-child .member-benefits-h4 {
    font-size: 28px;
    line-height: 1.3;
  }
  .member-benefits .member-benefits-p {
    font-size: 20px;
  }
}

@media (max-width: 991px) {
  .member-benefits {
    padding: 50px 0;
  }

  .member-benefits .member-benefits-title {
    font-size: 26px;
    margin-bottom: 26px;
  }

  .member-benefits .member-benefits-cont {
    flex-direction: column;
    gap: 10px;
  }

  .member-benefits .member-benefits-left,
  .member-benefits .member-benefits-right {
    width: 100%;
  }

  .member-benefits .member-benefits-h4 {
    font-size: 12px;
  }

  .member-benefits .member-benefits-item:first-child .member-benefits-h4 {
    font-size: 14px;
    text-align: left;
    line-height: 1.5;
  }

  .member-benefits .member-benefits-left .member-benefits-h4 {
    max-width: 125px;
  }

  .member-benefits .member-benefits-p {
    font-size: 12px;
    line-height: 1.5;
  }

  .member-benefits .member-benefits-left .member-benefits-text {
    top: 50%;
    transform: translateY(-50%);
    left: 26px;
    width: auto;
  }

  .member-benefits
    .member-benefits-right
    .member-benefits-item:first-child
    .member-benefits-text {
    left: 26px;
  }

  .member-benefits .member-benefits-left .member-benefits-p {
    text-align: left;
  }
}

.register-account {
  padding: 80px 0;
  overflow: hidden;
}

.register-account .register-account-title {
  color: #190a0a;
  text-align: center;
  font-size: 48px;
  line-height: 1.2;
  font-family: var(--heading-font-family);
  margin: 0;
  margin-bottom: 48px;
  font-weight: normal;
}

.register-account .register-account-list {
  display: flex;
}

.register-account .register-account-item {
  width: calc(33.333% - 16.67px);
}

.register-account .register-account .img {
  display: block;
  width: 100%;
}

.register-account .register-account-text {
  margin-top: 24px;
  display: flex;
  gap: 20px;
}

.register-account .register-account-left {
  color: #e0004d;
  font-size: 20px;
  line-height: 1.5;
  flex-shrink: 0;
}

.register-account .register-account-h4 {
  color: #190a0a;
  font-size: 20px;
  line-height: 1.5;
  font-weight: normal;
  font-family: var(--heading-font-family);
  margin: 0;
}

.register-account .register-account-p {
  color: #190a0a;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  margin-top: 10px;
}

@media (max-width: 1300px) {
  .register-account .register-account-text {
    margin-top: 15px;
  }
  .register-account .register-account-h4,
  .register-account .register-account-left {
    font-size: 16px;
  }
  .register-account .register-account-p {
    font-size: 14px;
    line-height: 1.3;
    margin-top: 8px;
  }
}

@media (max-width: 991px) {
  .register-account {
    padding: 50px 0;
  }

  .register-account .register-account-title {
    font-size: 26px;
    margin-bottom: 26px;
  }

  .register-account .register-account-item {
    width: calc(33.333% - 10px);
    min-width: 265px;
    flex-shrink: 0;
  }

  .register-account .register-account-h4,
  .register-account .register-account-left {
    font-size: 12px;
  }

  .register-account .register-account-p {
    font-size: 12px;
    line-height: 1.5;
    margin-top: 6px;
  }
}

.member-banner {
  position: relative;
  overflow: hidden;
}

.member-banner .img {
  width: 100%;
  position: relative;
  z-index: 1;
  display: block;
}

.member-banner .member-banner-cont {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 2;
}

.member-banner .member-banner-title {
  color: #190a0a;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: 0.44px;
  font-family: var(--heading-font-family);
  margin: 0;
  font-weight: normal;
}

.member-banner .member-banner-text-p {
  color: #190a0a;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  margin-top: 15px;
}

.member-banner .member-banner-form {
  margin-top: 30px;
  max-width: 470px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.member-banner .member-banner-form-item {
  position: relative;
}

.member-banner .member-banner-input {
  height: 55px;
  padding: 0 30px;
  border: 1px solid #3f3636;
  background: #fff;
  color: #190a0a;
  font-size: 16px;
  width: 100%;
  outline: none;
}

.member-banner .member-banner-input::placeholder {
  color: #9c9c9c;
}

.member-banner .member-banner-Verify {
  color: #2194ff;
  font-size: 16px;
  line-height: 1;
  font-family: var(--heading-font-family);
  position: absolute;
  right: 30px;
  height: 53px;
  top: 1px;
  padding: 0 5px;
  background: #fff;
  cursor: pointer;
  z-index: 2;
  display: flex;
  align-items: center;
  user-select: none;
}

.member-banner .member-banner-msg {
  color: #e0004d;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.14px;
  margin-top: 5px;
  display: none;
}

.member-banner .member-banner-form-g {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.member-banner .member-banner-form-checkbox {
  position: relative;
  overflow: hidden;
  width: 15px;
  height: 15px;
  cursor: pointer;
  border-radius: 1.53px;
  border: 0.612px solid #3f3636;
  background: rgba(255, 255, 255, 0.2);
  flex-shrink: 0;
  margin-top: 3px;
}

.member-banner .member-banner-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.member-banner
  .member-banner-form-checkbox
  .member-banner-checkbox:checked
  + span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 9px;
  margin-left: -3px;
  margin-top: -1.5px;
  border-bottom: 0.612px solid #3f3636;
  border-right: 0.612px solid #3f3636;
  transform: rotate(45deg) translate(-50%, -50%);
  pointer-events: none;
}

.member-banner .member-banner-form-text {
  color: #3f3636;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.196px;
}

.member-banner .member-banner-form-text p {
  margin: 0;
}

.member-banner .member-banner-form-text a {
  color: #3f3636;
  text-decoration: underline;
}

.member-banner .member-banner-form-btn {
  height: 47px;
  width: 200px;
  background: #e0004d;
  color: #fff;
  font-size: 16px;
  line-height: 1;
  font-family: var(--heading-font-family);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.member-banner .member-banner-form-btn:hover {
  opacity: 0.7;
}

.member-banner .member-banner-success {
  position: relative;
  max-width: 500px;
  display: none;
}

.member-banner .su-bg {
  position: absolute;
  top: 58%;
  left: 53%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 160%;
  max-width: none;
  animation: gs 15s linear infinite;
}

@keyframes gs {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.member-banner .member-banner-success-text {
  position: relative;
  z-index: 2;
  text-align: center;
}

.member-banner .member-banner-success-text svg {
  width: 46px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.member-banner .member-banner-success-h3 {
  color: #e0004d;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: 0.44px;
  font-family: var(--heading-font-family);
  margin-top: 30px;
}

.member-banner .member-banner-success-p {
  color: #190a0a;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  margin-top: 15px;
}

@media (max-width: 991px) {
  .member-banner .member-banner-cont {
    transform: translateY(0);
    top: 55px;
  }

  .member-banner .member-banner-form {
    margin: 0 auto;
    margin-top: 20px;
  }

  .member-banner .member-banner-title {
    font-size: 24px;
    text-align: center;
  }

  .member-banner .member-banner-text-p {
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
    margin-top: 10px;
    max-width: 261px;
  }

  .member-banner .member-banner-input {
    height: 42px;
    font-size: 12px;
    padding: 0 20px;
  }

  .member-banner .member-banner-Verify {
    font-size: 12px;
    height: 40px;
    right: 20px;
  }

  .member-banner .member-banner-msg,
  .member-banner .member-banner-form-text {
    font-size: 12px;
  }

  .member-banner .member-banner-form-btn {
    font-size: 14px;
    height: 42px;
    width: 100%;
  }

  .member-banner .member-banner-success {
    margin: 0 auto;
    margin-top: 22%;
  }

  .member-banner .member-banner-success-text svg {
    width: 30px;
  }

  .member-banner .member-banner-success-h3 {
    font-size: 26px;
    margin-top: 20px;
  }

  .member-banner .member-banner-success-p {
    font-size: 12px;
    margin-top: 15px;
  }
  .member-banner .su-bg {
    top: 50%;
    width: 140%;
  }
}

.member-tab {
  border-top: 1px solid #e4dddd;
  border-bottom: 1px solid #e4dddd;
  background: #fbfaf4;
  position: sticky;
  top: 85px;
  z-index: 4;
}

.member-tab .member-tab-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.member-tab .member-tab-list {
  display: flex;
  gap: 30px;
}

.member-tab .member-tab-item {
  color: #3f3636;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.32px;
  opacity: 0.5;
  height: 69px;
  margin-bottom: -1px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.member-tab .member-tab-item.active {
  opacity: 1;
  color: #e0004d;
  font-family: var(--heading-font-family);
  border-bottom: 2px solid #e0004d;
}

.member-tab .member-tab-btn {
  color: #fbfaf4;
  font-size: 14px;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  height: 37px;
  padding: 0 30px;
  background: #e0004d;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.member-tab .member-tab-btn:hover {
  opacity: 0.7;
}

@media (max-width: 991px) {
  .member-tab .member-tab-list {
    gap: 20px;
  }

  .member-tab .member-tab-item {
    font-size: 12px;
    height: 50px;
  }

  .member-tab .member-tab-btn {
    height: 27px;
    font-size: 12px;
    padding: 0 20px;
  }
}
