@media (min-width:1600px) {
  .container{
    max-width:calc(100% - 40px);
  }
}
.container{
    padding: 0 40px;
    margin: 0 auto;
  }
@media (max-width:1600px) {
  .container{
    max-width:none;
  }
}

@media (max-width:991px) {
  .container{
    padding: 0 24px;
  }
}

.hair-ads-tabs{
  padding: 82px 0;
  background: #FBFAF4;
}

.hair-ads-tabs .hair-ads-tabs-top{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  color: #3F3636;
}

.hair-ads-tabs .hair-ads-tabs-title{
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: -0.26px;
  max-width: 570px;
}

.hair-ads-tabs .hair-ads-tabs-sub{
  font-size: 18px;
  line-height: 1.5;
}

.hair-ads-tabs .hair-ads-tabs-cont{
  display: flex;
  gap: 20px;
  margin-top: 52px;
}

.hair-ads-tabs .hair-ads-tabs-left,
.hair-ads-tabs .hair-ads-tabs-right{
  flex: 1;
}

.hair-ads-tabs .hair-ads-tabs-p{
  color: #3F3636;
  font-size: 28px;
  line-height: 1.5;
  border-bottom: 0.7px solid #3F3636;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  padding-bottom: 12px;
  position: relative;
  --left-num:0;
  --width-num:0;
}

.hair-ads-tabs .hair-ads-tabs-p-item{
  cursor: pointer;
}

.hair-ads-tabs .hair-ads-tabs-left .hair-ads-tabs-p,.hair-ads-tabs .hair-ads-tabs-p .active{
  font-family: var(--heading-font-family);
  color: #E0004D;
}

.hair-ads-tabs .hair-ads-tabs-p .active{
  color: #3F3636;
}

.hair-ads-tabs .hair-ads-tabs-flex-m{
  margin-bottom: 22px;
}

.hair-ads-tabs .hair-ads-tabs-select-txt{
  display: none;
}

.hair-ads-tabs .hair-ads-tabs-text-p{
  color: #3F3636;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.24px;
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 17px 0;
  border-bottom: 0.7px solid #E4DDDD;
  
}

.hair-ads-tabs .img{
  width: 100%;
}

.hair-ads-tabs .mb-box{
  display: none;
}

.hair-ads-tabs .hair-ads-tabs-img-list .img-box{
  display: none;
}

.hair-ads-tabs .hair-ads-tabs-img-list .active{
  display: block;
}

.hair-ads-tabs .hair-ads-tabs-item{
  display: none;
}

.hair-ads-tabs .hair-ads-tabs-item.active{
  display: block;
}

.hair-ads-tabs .hair-ads-tabs-p-span{
  position: absolute;
  height: 4px;
  width: var(--width-num);
  left: var(--left-num);
  bottom: 0;
  background: #3F3636;
  transition: all .4s ease;
}

@media (max-width:1600px) {
  .hair-ads-tabs .hair-ads-tabs-p{
    font-size: 20px;
  }
  .hair-ads-tabs .hair-ads-tabs-text-p{
    font-size: 20px;
  }
  .hair-ads-tabs .hair-ads-tabs-text-p svg{
    zoom: .8;
  }
}

@media (max-width:1280px) {
  .hair-ads-tabs .hair-ads-tabs-p{
    font-size: 16px;
  }
  .hair-ads-tabs .hair-ads-tabs-text-p{
    font-size: 14px;
    gap: 15px;
  }
  .hair-ads-tabs .hair-ads-tabs-text-p svg{
    zoom: .7;
  }
  .hair-ads-tabs .hair-ads-tabs-p-span{
    height: 2px;
  }
}

@media (max-width:991px) {
  .hair-ads-tabs{
    padding: 50px 0;
  }
  .hair-ads-tabs .pc-box{
    display: none;
  }
  .hair-ads-tabs .mb-box{
    display: block;
  }
  .hair-ads-tabs .hair-ads-tabs-title{
    max-width: none;
    font-size: 24px;
  }
  .hair-ads-tabs .hair-ads-tabs-sub{
    font-size: 14px;
  }
  .hair-ads-tabs .hair-ads-tabs-top{
    flex-direction: column;
  }
  .hair-ads-tabs .hair-ads-tabs-cont{
    margin-top: 25px;
    gap: 11px;
  }
  .hair-ads-tabs .hair-ads-tabs-flex-m{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 0;
    padding-top: 10px;
    border-top: 1px solid #3F3636;
  }
  .hair-ads-tabs .hair-ads-tabs-p{
    margin-bottom: 0;
    margin-top: 7px;
    padding-bottom: 12px;
    font-size: 14px;
    border: 0;
  }
  .hair-ads-tabs .hair-ads-tabs-p-span{
    display: none;
  }
  .hair-ads-tabs .hair-ads-tabs-select-txt{
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 12px;
    margin-top: 7px;
    font-family: var(--heading-font-family);
    font-size: 14px;
    line-height: 1.5;
    position: relative;
  }

  .hair-ads-tabs .hair-ads-tabs-select{
    position: relative;
  }

  .hair-ads-tabs .hair-ads-tabs-right .hair-ads-tabs-p{
    display: none;
    position: absolute;
    border: 0.5px solid #3F3636;
    background: #FBFAF4;
    z-index: 2;
    flex-direction: column;
    align-items: flex-start;
    padding: 13px 9px;
    top: -10px;
  }
  .hair-ads-tabs .hair-ads-tabs-p .active{
    border-bottom: 1px solid #3F3636;
  }
  .hair-ads-tabs .hair-ads-tabs-text-p{
    font-size: 12px;
    gap: 14px;
    position: relative;
    min-height: 49px;
  }
  .hair-ads-tabs .hair-ads-tabs-text-p svg{
    zoom: .6;
  }
  .hair-ads-tabs .hair-ads-tabs-left .hair-ads-tabs-text-p::before{
    position: absolute;
    content: '';
    display: block;
    width: calc(200% + 11px);
    height: 0.7px;
    background: #E4DDDD;
    left:0;
    bottom: -0.7px;
  }
  .hair-ads-tabs .hair-ads-tabs-text{
    position: relative;
  }
  .hair-ads-tabs .hair-ads-tabs-left .hair-ads-tabs-text::before{
    position: absolute;
    content: '';
    display: block;
    width: calc(200% + 11px);
    height: 0.7px;
    background: #E4DDDD;
    left:0;
    top: 0;
  }
  .hair-ads-tabs .hair-ads-tabs-text-p{
    padding: 12px 0;
    border: 0;
  }
}

.review-list-diy {
  padding: 80px 0;
  background: #FBFAF4;
}

.review-list-diy .review-list-top {
  display: flex;
  justify-content: space-between;
  color: #3F3636;
}

.review-list-diy .review-list-title {
  max-width: 580px;
  line-height: 1;
  text-align: left;
  font-size: 50px;
  line-height: 1.2;
}

.review-list-diy .review-list-sub{
  max-width: 506px;
  text-align: right;
  font-size: 16px;
  line-height: 1.5;
}

.review-list-diy .review-list-box {
  margin-top: 70px;
  display: flex;
  gap: 20px;
}

.review-list-diy .review-list-item {
  width: calc(25% - 15px);
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  border-top: 1px solid #3F3636;
}

.review-list-diy .review-list-item .img {
  display: block;
  margin: 0;
}

.review-list-diy .review-list-text {
  color: #3F3636;
  margin-top: 20px;
}

.review-list-diy .review-list-p {
  font-size: 18px;
  font-family: var(--heading-font-family);
  line-height: 1.5;
}

.review-list-diy .review-list-name {
  font-size: 16px;
  position: relative;
  line-height: 1.9;
  margin-top: 20px;
}

.review-list-diy .review-list-btn {
  width: 100%;
  height: 48px;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 48px;
  border: 1px solid #3F3636;
  line-height: 1.5;
  cursor: pointer;
}

.review-list-diy .review-list-btn:hover .btn-txt::before {
  color: #fff;
}

.review-list-diy .review-list-btn::after{
  background: #000;
}

.review-list-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 99;
  top: 0;
  left: 0;
  display: none;
}

.review-list-popup .review-list-popup-cont {
  background: #fff;
  width: 95%;
  max-width: 1000px;
  padding: 20px;
}

.review-list-popup .review-list-popup-title {
  font-size: 40px;
  font-family: var(--heading-font-family);
  color: #000;
  line-height: 1.2;
  text-align: center;
}

.review-list-popup .review-list-popup-img {
  display: flex;
  margin-top: 30px;
}

.review-list-popup .review-list-popup-item {
  flex: 1;
  margin-right: 20px;
  position: relative;
}

.review-list-popup .review-list-popup-item:last-child {
  margin-right: 0;
}

.review-list-popup .review-list-popup-item .img {
  display: block;
  position: relative;
  z-index: 1;
}

.review-list-popup .review-list-tag {
  position: absolute;
  font-size: 18px;
  white-space: nowrap;
  color: #fff;
  padding: 3px 10px;
  line-height: 1.2;
  background: rgba(0, 0, 0, 0.6);
  left: 50%;
  top: 30px;
  transform: translateX(-50%);
  z-index: 3;
}

.review-list-popup .review-list-popup-close {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 0 auto;
  margin-top: 30px;
  cursor: pointer;
  position: relative;
  transition: all 0.6s ease;
}

.review-list-popup .review-list-popup-close:hover {
  transform: rotate(360deg);
}

.review-list-popup .review-list-popup-close::after,
.review-list-popup .review-list-popup-close::before {
  position: absolute;
  content: '';
  display: block;
  width: 2px;
  height: 22px;
  background: #fff;
  top: 50%;
  left: 50%;
}

.review-list-popup .review-list-popup-close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.review-list-popup .review-list-popup-close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

@media (max-width:991px) {
  .review-list-diy{
    padding: 60px 0 50px 0;
    overflow: hidden;
  }
  .review-list-diy .review-list-top{
    flex-direction: column;
    gap: 10px;
  }
  .review-list-diy .review-list-title{
    margin-right: 15px;
    max-width: none;
    font-size: 24px;
  }
  .review-list-diy .review-list-sub{
    text-align: left;
    font-size: 14px;
    max-width: none;
  }
  .review-list-diy .review-list-box{
    margin-top: 30px;
    gap: 10px;
  }
  .review-list-diy .review-list-item{
    width: 300px;
    flex-shrink: 0;
  }

  .review-list-popup .review-list-popup-cont{
    padding-bottom: 0;
  }
  .review-list-popup .review-list-popup-title{
    font-size: 28px;
  }
  .review-list-popup .review-list-popup-img{
    flex-wrap: wrap;
  }
  .review-list-popup .review-list-popup-item{
    width: calc(50% - 10px);
    margin-bottom: 20px;
    flex: none;
  }
  .review-list-popup .review-list-popup-item .img{
    width: 100%;
  }
  .review-list-popup .review-list-popup-item:nth-child(2n){
    margin-right: 0;
  }
  .review-list-popup .review-list-tag{
    font-size: 16px;
    top: 20px;
  }
  .review-list-diy .review-list-p{
    font-size: 12px;
    line-height: 1.2;
  }
  .review-list-diy .review-list-name{
    font-size: 12px;
    margin-top: 10px;
  }
  .review-list-diy .review-list-btn{
    margin-top: 10px;
    height: 34px;
    font-size: 12px;
  }
}

.result-new-popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: flex-end;
  pointer-events: none;
  transition: all .4s ease;
  overflow: hidden;
}
.result-new-popup.active{
  background: rgba(0, 0, 0, .3);
  pointer-events: all;
}

.result-new-popup .result-new-popup-cont{
  width: 100%;
  height: 100%;
  max-width: 1280px;
  background: #FBFAF4;
  padding: 80px 15px 80px 60px;
  position: relative;
  transform: translateX(100%);
  transition: all .4s ease;
}

.result-new-popup.active .result-new-popup-cont{
  transform: translateX(0);
  transition: all .4s ease .1s;
}

.result-new-popup .result-new-popup-det{
  height: 100%;
  padding-right: 185px;
  overflow-y: auto;
  display: flex;
  gap: 145px;
  color: #3F3636;
  position: relative;
}
.result-new-popup .result-new-popup-det::-webkit-scrollbar {
    width: 10px;
}

.result-new-popup .result-new-popup-det::-webkit-scrollbar-track {
    background-color: none;
}

.result-new-popup .result-new-popup-det::-webkit-scrollbar-thumb {
    background-color: rgba(228, 221, 221, .3);
    border-radius: 5px;
}

.result-new-popup .result-new-popup-det::-moz-scrollbar {
  width: 10px;
}

.result-new-popup .result-new-popup-det::-moz-scrollbar-track {
  background: none;
}

.result-new-popup .result-new-popup-det::-moz-scrollbar-thumb {
  background: rgba(228, 221, 221, .3);
  border-radius: 5px;
}

.result-new-popup .result-new-popup-close{
  position: absolute;
  top: 80px;
  right: 70px;
  cursor: pointer;
  z-index: 3;
}

.result-new-popup .result-new-popup-left{
  width: 130px;
  flex-shrink: 0;
}

.result-new-popup .result-new-popup-sub{
  font-size: 24px;
  line-height: 1.2;
}

.result-new-popup .result-new-popup-title{
  font-size: 40px;
  line-height: 1.2;
}

.result-new-popup .result-new-popup-p{
  font-size: 18px;
  line-height: 1.2;
  margin-top: 20px;
}

.result-new-popup .result-new-popup-video{
  position: relative;
  margin-top: 60px;
}

/* .result-new-popup .result-new-popup-video .img{
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
} */

.result-new-popup .product-video{
  /* position: absolute; */
  width: 100%;
  /* height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 2; */
}

.result-new-popup .result-new-popup-list{
  display: flex;
  flex-wrap: wrap;
  max-width: 330px;
  gap: 60px;
  row-gap: 40px;
  margin-top: 60px;
}

.result-new-popup .result-new-popup-item{
  width: calc(50% - 30px);
}

.result-new-popup .result-new-popup-t{
  color: #6C6AB4;
  font-size: 48px;
  line-height: 1.2;
}

.result-new-popup .result-new-popup-d{
  color: #3F3636;
  font-size: 14px;
  line-height: 1.5;
}

.result-new-popup-two .result-new-popup-cont{
  background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, #D2D2DF 4.27%, #D1D2DE 100%);
}

.result-new-popup-two .result-new-popup-det{
  height: auto;
}

.result-new-popup-two .result-new-popup-item{
  width: auto;
}

.result-new-popup-two .result-new-popup-list{
  max-width: none;
  margin-top: 0;
  margin-bottom: 24px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.80);
  backdrop-filter: blur(10px);
  padding: 27px;
  gap: 10px;
  justify-content: space-between;
}

.result-new-popup .result-new-popup-box{
  max-width: 480px;
  margin-top: 113px;
}

.result-new-popup-two .product-img-two{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: -1;
}

.result-new-popup .result-new-popup-msg{
  color: #3F3636;
  font-size: 14px;
  line-height: 1.3;
  margin-top: 35px;
}

.result-new-popup .preheat-video-results-flex{
  display: flex;
  align-items: flex-end;
  gap: 80px;
  margin-top: 60px;
}

.result-new-popup .preheat-video-results-left{
  padding-right: 80px;
  border-right: 1px solid #3F3636;
}

.result-new-popup .results-left-img{
  width: 195px;
  display: block;
}

.result-new-popup .results-left-text{
  color: #190A0A;
  font-size: 16px;
  line-height: 1.3;
}

.result-new-popup .preheat-video-results-right{
  display: flex;
  align-items: center;
  gap: 68px;
}

.result-new-popup .results-right-sub{
  color: #190A0A;
  font-size: 14px;
  line-height: 1.2;
}

.result-new-popup .results-right-text{
  color: #190A0A;
  font-size: 32px;
  line-height: 1;
  font-family: var(--text-font-light-family);
}

.result-new-popup .results-right-text span{
  font-size: 60px;
}

.result-new-popup .officially-test-popup-det{
  margin-top: 80px;
  padding-top: 80px;
  border-top: 1px solid #E4DDDD;
}
.result-new-popup .officially-test-popup-det::-webkit-scrollbar {
    width: 10px;
}

.result-new-popup .officially-test-popup-det::-webkit-scrollbar-track {
    background-color: none;
}

.result-new-popup .officially-test-popup-det::-webkit-scrollbar-thumb {
    background-color: rgba(228, 221, 221, .3);
    border-radius: 5px;
}

.result-new-popup .officially-test-popup-det::-moz-scrollbar {
  width: 10px;
}

.result-new-popup .officially-test-popup-det::-moz-scrollbar-track {
  background: none;
}

.result-new-popup .officially-test-popup-det::-moz-scrollbar-thumb {
  background: rgba(228, 221, 221, .3);
  border-radius: 5px;
}
.result-new-popup .officially-test-popup-close{
  position: absolute;
  top: 80px;
  right: 70px;
  cursor: pointer;
  z-index: 3;
}

.result-new-popup .officially-test-popup-title{
  color: #3F3636;
  font-size: 40px;
  line-height: 1.2;
}

.result-new-popup .officially-test-popup-sub{
  color: #3F3636;
  font-size: 18px;
  line-height: 1.2;
  margin-top: 20px;
}

.result-new-popup .officially-test-popup-select{
  margin-top: 45px;
}

.result-new-popup .officially-test-popup-lebel{
  color: #190A0A;
  font-size: 20px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  gap: 10px;
}

.result-new-popup .officially-test-popup-lebel-span{
  width: 15px;
  height: 15px;
  border-radius: 0 0 10px 10px;
  border: 1px solid #000;
  background-size: cover;
}

.result-new-popup .officially-test-popup-list{
  display: flex;
  gap: 15px;
  margin-top: 15px;
  overflow-x: auto;
}

.result-new-popup .officially-test-popup-item{
  width: 115px;
  cursor: pointer;
  flex-shrink: 0;
}

.result-new-popup .officially-test-popup-img{
  position: relative;
}

.result-new-popup .officially-test-popup-img::before{
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  background: #fff;
  border: 4px solid #000;
  right: 4px;
  bottom: -4px;
  z-index: 2;
  opacity: 0;
  box-shadow: 0 0 0 4px #fff;
  transition: all .4s ease;
}
.result-new-popup .officially-test-popup-item.active .officially-test-popup-img::before,
.result-new-popup .officially-test-popup-item:hover .officially-test-popup-img::before{
  right: 8px;
  bottom: 4px;
  opacity: 1;
}
.result-new-popup .img{
  width: 100%;
  position: relative;
  z-index: 1;
}

.result-new-popup .officially-test-popup-p{
  color: #000;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 8px;
}

.officially-test-popup-btn-box{
  margin-top: 45px;
  display: flex;
  gap: 20px;
}
.result-new-popup .officially-test-popup-btn{
  width: 137px;
  height: 45px;
  border-radius: 45px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid #3F3636;
  color: #3F3636;
  font-size: 12px;
  line-height: 1.5;
  cursor: pointer;
}

.result-new-popup .officially-test-popup-submit{
  opacity: .3;
  pointer-events: none;
  transition: all .4s ease;
  display: flex;
}

.result-new-popup .officially-test-popup-btn.active{
  background: #3F3636;
  color: #fff;
  opacity: 1;
  pointer-events: all;
}

.result-new-popup .officially-test-popup-btn.active path{
  fill:#fff;
}

.result-new-popup .officially-test-popup-reset:not(.active){
  border: 0;
  width: auto;
}

.result-new-popup .officially-test-popup-msg{
  color: #3F3636;
  font-size: 14px;
  line-height: 1.5;
  max-width: 588px;
  margin-top: 30px;
}

.result-new-popup .officially-test-popup-results-item{
  display: flex;
  align-items: flex-start;
  gap: 20px;
  max-width: 746px;
  color: #3F3636;
  font-size: 18px;
  line-height: 1.5;
  margin-top: 45px;
  display: none;
}

.result-new-popup .officially-test-popup-results-item svg{
  display: block;
  width: 30px;
  flex-shrink: 0;
}

.result-new-popup-five .result-new-popup-det{
  padding-right: 65px;
}

.result-new-popup .result-new-popup-right-top{
  padding-right: 120px;
}

.result-new-popup .mb-box{
  display: none;
}

.result-new-popup-four .result-new-popup-left{
  width: 155px;
}
.result-new-popup .result-new-popup-top-p{
  color: #190A0A;
  text-align: center;
  font-size: 12px;
  line-height: 1.3;
}
@media (max-width:1280px) {
  .result-new-popup .result-new-popup-det{
    gap: 60px;
    padding-right: 100px;
  }
  .result-new-popup .result-new-popup-title{
    font-size: 35px;
  }
  .result-new-popup .result-new-popup-t{
    font-size: 38px;
  }
}

@media (max-width:991px) {
  .result-new-popup{
    display: flex;
    align-items: flex-end;
  }

  .result-new-popup .pc-box{
    display: none;
  }
  .result-new-popup .mb-box{
    display: block;
  }
  
  .result-new-popup .result-new-popup-cont{
    max-height: 80vh;
    height: auto;
    transform: translateY(100%);
    overflow-x: hidden;
  }

  .result-new-popup.active .result-new-popup-cont{
    transform: translateY(0);
  }
  .result-new-popup .result-new-popup-close{
    top: 18px;
    right: 18px;
  }
  .result-new-popup .result-new-popup-det{
    flex-direction: column;
    gap: 10px;
  }
  .result-new-popup .result-new-popup-left{
    width: auto;
  }
  .result-new-popup .result-new-popup-sub{
    font-size: 14px;
    color: #6C6AB4;
  }
  .result-new-popup-two .result-new-popup-sub{
    color: #190A0A;
  }
  .result-new-popup .result-new-popup-title{
    font-size: 24px;
    color: #190A0A;
  }
  .result-new-popup .result-new-popup-p{
    font-size: 12px;
    margin-top: 10px;
  }
  .result-new-popup .result-new-popup-video{
    margin-top: 35px;
  }
  .result-new-popup.active .result-new-popup-cont{
    padding: 50px 20px;
  }
  .result-new-popup .result-new-popup-det{
    padding-right: 0;
  }
  .result-new-popup .result-new-popup-list{
    margin-top: 45px;
    gap: 40px;
  }
  .result-new-popup .result-new-popup-t{
    font-size: 35px;
  }
  .result-new-popup .result-new-popup-d{
    font-size: 12px;
  }

  .result-new-popup-two .result-new-popup-list{
    gap: 0;
    margin-top: 0;
  }
  .result-new-popup-two .result-new-popup-box{
    margin-top: 57.5vh;
  }
  .result-new-popup-two .product-img-two{
    height: auto;
  }
  .result-new-popup .result-new-popup-right-top{
    padding-right: 0;
  }
  .result-new-popup .officially-test-popup-det{
    padding-top: 35px;
    margin-top: 35px;
  }
  .result-new-popup .officially-test-popup-title{
    font-size: 24px;
  }
  .result-new-popup .officially-test-popup-sub{
    font-size: 14px;
    margin-top: 10px;
  }
  .result-new-popup .officially-test-popup-select{
    margin-top: 40px;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
  }
  .result-new-popup .officially-test-popup-item{
    width: 69px;
  }
  .result-new-popup .officially-test-popup-lebel{
    font-size: 16px;
  }
  .result-new-popup .officially-test-popup-lebel-span{
    width: 12px;
    height: 12px;
  }
  .result-new-popup .officially-test-popup-list{
    gap: 11px;
  }
  .result-new-popup .officially-test-popup-p{
    font-size: 12px;
  }
  .result-new-popup .officially-test-popup-results-item{
    font-size: 12px;
  }
  .result-new-popup .officially-test-popup-msg{
    font-size: 12px;
  }
  .result-new-popup .officially-test-popup-results-item{
    margin-top: 30px;
  }
  .result-new-popup .officially-test-popup-btn-box{
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
  }
  .result-new-popup .officially-test-popup-btn{
    width: 100%;
    font-size: 12px;
  }
  .result-new-popup .officially-test-popup-reset:not(.active){
    height: auto;
  }

  .result-new-popup .officially-test-popup-img::before{
    zoom: .6;
  }

  .result-new-popup .preheat-video-results-flex{
    zoom: 1;
    align-items: flex-start;
    justify-content: space-between;
  }
  .result-new-popup .preheat-video-results-left{
    padding: 0;
    border: 0;
    width: 98px;
  }
  .result-new-popup .preheat-video-results-right{
    flex-direction: column;
    gap: 50px;
  }
  .result-new-popup .results-left-text{
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
  }
  .result-new-popup .results-right-sub{
    font-size: 12px;
  }
  .result-new-popup .results-right-text{
    font-size: 24px;
    line-height: 1.2;
  }

  .result-new-popup .results-right-text span {
    font-size: 45px;
  }
  .result-new-popup .result-new-popup-msg{
    margin-top: 40px;
  }
  
}

.hair-ads-sticky{
  position: sticky;
  top: 80px;
  z-index: 6;
  background: #F9F9F9;
  padding: 27px 0;
  border-top: 1px solid #E4DDDD;
  border-bottom: 1px solid #E4DDDD
}

.hair-ads-sticky .hair-ads-sticky-cont{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}

.hair-ads-sticky .hair-ads-sticky-left{
  display: flex;
  gap: 50px;
  align-items: center;
  color: #190A0A;
  font-size: 28px;
  line-height: 1.3;
}

.hair-ads-sticky .hair-ads-sticky-countdown{
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 24px;
  font-family: var(--heading-font-family);
  line-height: 1;
}

.hair-ads-sticky .hair-ads-sticky-num{
  display: flex;
  align-items: center;
  gap: 5px;
}

.hair-ads-sticky .hair-ads-sticky-num .time{
  width: 36px;
  height: 36px;
  background: #190A0A;
  color: #FFF;
  font-size: 21px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hair-ads-sticky .hair-ads-sticky-price{
  color: #190A0A;
  font-size: 28px;
  line-height: 1.25;
  display: flex;
  align-items: center;
}

.hair-ads-sticky .hair-ads-sticky-price .n{
  font-family: var(--heading-font-family);
}
.hair-ads-sticky .hair-ads-sticky-price .d{
  text-decoration: line-through;
  color: #6A6A6A;
}
.hair-ads-sticky .hair-ads-sticky-btn{
  width: 163px;
  height: 44px;
  color: #FFF;
  font-size: 16px;
  background: #000;
  border-radius: 44px;
  cursor: pointer;
  border: 2px solid #000;
  font-family: var(--heading-font-family);
}

.hair-ads-sticky .hair-ads-sticky-btn .btn-txt::before{
  color: #000;
}


@media (max-width:768px) {
  .hair-ads-sticky {
    top: 60px;
    padding: 10px 0;
  }
  .hair-ads-sticky .hair-ads-sticky-btn{
    width: 157px;
    height: 41px;
    font-size: 12px;
  }
  .hair-ads-sticky .hair-ads-sticky-cont{
    justify-content: space-between;
  }
  .hair-ads-sticky .hair-ads-sticky-left{
    flex-direction: column-reverse;
    gap: 0;
    align-items: flex-start;
  }
  .hair-ads-sticky .hair-ads-sticky-price{
    gap: 5px;
  }
  .hair-ads-sticky .hair-ads-sticky-price .n{
    font-size: 24px;
    color: #E0004D;
  }
  .hair-ads-sticky .hair-ads-sticky-price .d{
    color: #A1A1A1;
    font-size: 14px;
  }
  .hair-ads-sticky .txt{
    display: none;
  }

  .hair-ads-sticky .hair-ads-sticky-countdown{
    font-family: var(--text-font-family);
    gap: 10px;
    font-size: 12px;
  }

  .hair-ads-sticky .hair-ads-sticky-num .time{
    font-size: 12px;
    width: 25px;
    height: 25px;
  }
  .hair-ads-sticky .hair-ads-sticky-num{
    
    gap: 3px;
  }

  .hair-ads-sticky .hair-ads-sticky-p{
    width: 40px;
  }

}










