.container {
  max-width: 1600px;
  padding: 0 40px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .container {
    max-width: 1600px;
    padding: 0 24px;
  }
}

.header-new-popup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  position: fixed;
  z-index: 3;
}

.header-new-popup .header-new-cont {
  background: #fff;
  position: relative;
  top: var(--header-height);
  padding: 40px 0;
}

.header-new-popup .header-new-cont-list {
  max-height: 450px;
  overflow-y: auto;
}

.header-new-popup .header-new-cont-list::-webkit-scrollbar {
  width: 8px;
}

.header-new-popup .header-new-cont-list::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 4px;
}

.header-new-popup .header-new-item {
  display: none;
  gap: 20px;
  flex-wrap: wrap;
}

.header-new-popup .header-new-item.active {
  display: flex;
}

.header-new-popup .header-new-item-sm {
  width: calc(25% - 15px);
}

.header-new-popup .header-new-item-title {
  color: #190a0a;
  font-size: 24px;
  line-height: 2;
  font-family: var(--heading-font-family);
  margin-bottom: 20px;
}

.header-new-popup .header-new-item-sm-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.header-new-popup .header-new-product-item {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.header-new-popup .header-new-product-img {
  display: block;
  width: 100px;
}

.header-new-popup .header-new-product-img img {
  display: block;
  width: 100%;
}

.header-new-popup .header-new-product-info {
  flex: 1;
}

.header-new-popup .header-new-product-title {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #190a0a;
  font-size: 20px;
  line-height: 1.7;
  font-family: var(--heading-font-family);
}

.header-new-popup .header-new-product-title span {
  width: 32px;
  height: 16px;
  font-size: 12px;
  color: #fff;
  background: #e0004d;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.header-new-popup .header-new-product-star {
  color: #756b6e;
  font-size: 12px;
  line-height: 1.25;
}

.header-new-popup .header-new-product-price {
  color: #181a1d;
  font-size: 14px;
  line-height: 1.9;
}

.header-new-popup .header-new-product-btn {
  color: #e0004d;
  font-size: 14px;
  line-height: 1.5;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  background: linear-gradient(0deg, #e0004d, #e0004d) no-repeat;
  background-size: 100% 1.5px;
  background-position: left bottom;
}

.header-new-popup .header-new-product-btn svg {
  display: block;
  width: 14px;
  height: auto;
}

.header-new-popup .header-new-link-item {
  color: #190a0a;
  font-size: 20px;
  line-height: 1.5;
}

.header-new-popup .header-new-link-item:hover {
  background: linear-gradient(0deg, #190a0a, #190a0a) no-repeat;
  background-size: 100% 1.5px;
  background-position: left bottom;
}

.header-new-popup .header-new-all {
  color: #e0004d;
  font-size: 16px;
  line-height: 1.3;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: linear-gradient(0deg, #e0004d, #e0004d) no-repeat;
  background-size: 100% 1.5px;
  background-position: left bottom;
  margin-top: 20px;
}

.header-new-popup .header-new-operate-item {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  width: 100%;
}

.header-new-popup .header-new-operate-item .img {
  width: 100%;
  position: relative;
  z-index: 1;
}

.header-new-popup .header-new-operate-txt {
  position: absolute;
  top: 50%;
  right: 30px;
  max-width: 130px;
  transform: translateY(-50%);
  z-index: 2;
}

.header-new-popup .header-new-operate-title {
  color: #fff;
  font-size: 15px;
  line-height: 1.4;
  font-family: var(--heading-font-family);
}

.header-new-popup .header-new-operate-title p {
  margin: 0;
}

.header-new-popup .header-new-operate-btn {
  border-radius: 4px;
  background: #e0004d;
  width: 108px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fbfaf4;
  font-size: 12px;
  line-height: 1;
  font-family: var(--heading-font-family);
  margin-top: 5px;
}

@media (max-width: 1200px) {
  .header-new-popup .header-new-item-sm-list {
    gap: 16px;
  }

  .header-new-popup .header-new-item-sm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .header-new-popup .header-new-all {
    order: -1;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .header-new-popup .header-new-item-title {
    font-size: 16px;
    line-height: 1.5;
  }

  .header-new-popup .header-new-all {
    font-size: 14px;
  }

  .header-new-popup .header-new-operate-txt {
    right: 23px;
  }

  .header-new-popup .header-new-operate-title {
    font-size: 12px;
  }

  .header-new-popup .header-new-operate-btn {
    font-size: 12px;
    height: 26px;
    width: 90px;
  }
}
