html,
body {
  min-height: 100vh;
  background: #000;
  cursor: url('../images44/cu2.svg'), auto;
}
.container {
  padding: 0 40px;
  margin: 0 auto;
}
@media (min-width: 1600px) {
  .container {
    max-width: calc(100% - 40px);
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 1600px;
    padding: 0 24px;
    margin: 0 auto;
  }
}

.canvas-el {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9;
  width: 100vw;
  height: 100vh;
}

.canvas-box {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.bf-banner {
  position: relative;
}

.bf-banner .container {
  max-width: 1600px;
}

.bf-banner .img {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
}

.bf-banner .mb-box {
  display: none;
}

.bf-banner .bf-banner-txt {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.bf-banner .bf-banner-txt-cont {
  max-width: 665px;
  width: 43.75%;
}

.bf-banner .bf-banner-icon {
  position: relative;
}

.bf-banner .bf-banner-title-img {
  width: 100%;
  position: relative;
  z-index: 1;
}

.bf-banner .bf-banner-dd-img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  animation: twinkling 0.8s infinite ease-in-out;
}

@keyframes twinkling {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }
}

.bf-banner .bf-banner-icon-img {
  width: 35px;
  position: absolute;
  z-index: 3;
}

.bf-banner .icon-img-t {
  top: 30%;
  right: 25%;
  animation: jumpIcon 2.5s infinite ease-in-out;
}

.bf-banner .icon-img-b {
  bottom: 15%;
  left: 18%;
  animation: jumpIcon 2s infinite ease-in-out;
}

@keyframes jumpIcon {
  0%,
  100% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(5px);
  }
}

.bf-banner .bf-banner-h3 {
  font-size: 80px;
  font-family: var(--heading-font-family);
  line-height: 1;
  color: #fff;
  margin-top: 15px;
}

.bf-banner .bf-banner-h3 p {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.bf-banner .bf-banner-h3 strong {
  font-weight: normal;
  font-family: var(--text-font-family);
  font-size: 40px;
  width: 60px;
}

.bf-banner .bf-banner-p {
  font-size: 20px;
  color: #fff;
  line-height: 1;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 1600px) {
  .bf-banner .bf-banner-h3 {
    font-size: 60px;
  }
  .bf-banner .bf-banner-h3 strong {
    font-size: 30px;
    width: 40px;
  }
}

@media (max-width: 991px) {
  .bf-banner .mb-box {
    display: block;
  }
  .bf-banner .pc-box {
    display: none;
  }
  .bf-banner .bf-banner-txt {
    top: 30px;
    transform: translateY(0);
  }
  .bf-banner .bf-banner-txt-cont {
    width: 100%;
    margin: 0 auto;
  }
  .bf-banner .bf-banner-icon {
    width: 80%;
    margin: 0 auto;
  }
  .bf-banner .bf-banner-h3 {
    font-size: 40px;
    margin-top: 10px;
  }
  .bf-banner .bf-banner-h3 strong {
    font-size: 20px;
    width: 26px;
  }
  .bf-banner .bf-banner-p {
    font-size: 16px;
    margin-top: 10px;
  }
  .bf-banner .bf-banner-icon-img {
    width: 20px;
  }
  .bf-banner .icon-img-t {
    width: 16px;
    right: 24.5%;
  }
  .bf-banner .icon-img-b {
    width: 25px;
    left: 16%;
  }
}

.bf-tab-sticky {
  position: sticky;
  top: 0;
  z-index: 3;
  background: linear-gradient(
    180deg,
    rgba(244, 52, 90, 1) -13.5%,
    #b4003e 113.5%
  );
  padding: 28px 0;
}

.bf-tab-sticky .bf-tab-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  font-size: 20px;
  color: #fff;
  line-height: 1;
}

.bf-tab-sticky .bf-tab-item {
  cursor: pointer;
  cursor: url('../images44/cu3.svg'), auto;
}

.chances-tab-tap {
  padding-top: 80px;
}
.chances-tab-tap .chances-tab-top {
  display: flex;
  justify-content: center;
}
.chances-tab-tap .chances-tab-label {
  display: flex;
  background: linear-gradient(270deg, #ffe2ab 0.2%, #fffdf7 99.8%);
  border-radius: 50px;
  overflow: hidden;
  padding: 6px;
  position: relative;
  border: 1.5px solid transparent;
}
.chances-tab-tap .chances-tab-label::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000;
  top: 0;
  left: 0;
  border-radius: 50px;
  z-index: 1;
}

.chances-tab-tap .chances-tab-label-item {
  height: 50px;
  padding: 0 45px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  cursor: url('../images44/cu3.svg'), auto;
  position: relative;
  z-index: 3;
  transition: all 0.3s ease;
}

.chances-tab-tap .chances-tab-label-item.active {
  color: #000;
}

.chances-tab-tap .chances-tab-label-item:hover {
  color: #000 !important;
}
.chances-tab-tap .chances-tab-label:hover .chances-tab-label-item {
  color: #fff;
}

.chances-tab-tap .chances-tab-label span {
  position: absolute;
  height: calc(100% - 12px);
  width: 150px;
  background: linear-gradient(270deg, #ffe2ab 0.2%, #fffdf7 99.8%);
  border-radius: 50px;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
  z-index: 2;
}

@media (max-width: 991px) {
  .chances-tab-tap {
    padding-top: 60px;
  }
  .chances-tab-tap .chances-tab-label-item {
    height: 40px;
    font-size: 18px;
    padding: 0 25px;
  }
}

.chances-tab-new {
  padding: 40px 0 120px 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.chances-tab-new .container {
  max-width: 1600px;
}

.chances-tab-new .chances-tab-h3 {
  color: transparent;
  font-size: 60px;
  background: linear-gradient(0deg, #fff3d4 0%, #ffe2ab 100%);
  background-clip: text;
  font-family: var(--heading-font-family);
  font-weight: normal;
  text-align: center;
  line-height: 1.2;
}

.chances-tab-new .chances-tab-cont-box {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.chances-tab-new .chances-tab-box-item {
  position: relative;
  overflow: hidden;
  width: calc(50% - 15px);
  border-radius: 10px;
  padding: 100px 30px;
  border: 1.5px solid transparent;
  background: linear-gradient(270deg, #ffe2ab 0.2%, #fffdf7 99.8%);
}

.chances-tab-new .img {
  width: 55%;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 3;
  transform: translateY(-50%);
}

.chances-tab-new .chances-tab-box-item:first-child .img {
  width: 62%;
  right: -5%;
}
.chances-tab-new .chances-tab-box-item:last-child .img {
  width: 50%;
}
.chances-tab-new .chances-tab-box-item::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(
    140deg,
    #3e2f23 8.06%,
    #070401 50.78%,
    #3e2f23 92.93%
  );
  top: 0;
  left: 0;
  border-radius: 10px;
  z-index: 1;
}

.chances-tab-new .chances-tab-cont-txt {
  position: relative;
  z-index: 3;
}

.chances-tab-new .chances-tab-cont-p {
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
}

.chances-tab-new .chances-tab-cont-h4 {
  font-size: 40px;
  line-height: 1.2;
  margin-top: 10px;
  color: #ffefd3;
}

.chances-tab-new .icon {
  position: absolute;
  z-index: 2;
  display: block;
}

.chances-tab-new .icon-l {
  width: 90px;
  top: -25px;
  left: -25px;
}

.chances-tab-new .icon-c {
  width: 150px;
  top: 25px;
  left: 45%;
}

@media (max-width: 1600px) {
  .chances-tab-new .chances-tab-box-item {
    padding: 80px 30px;
  }
  .chances-tab-new .chances-tab-cont-h4 {
    font-size: 35px;
  }
  .chances-tab-new .chances-tab-cont-p {
    font-size: 26px;
  }
}

@media (max-width: 1400px) {
  .chances-tab-new .chances-tab-box-item:first-child .img {
    top: auto;
    transform: translateY(0);
    bottom: 0;
  }
  .chances-tab-new .chances-tab-cont-h4 {
    font-size: 30px;
  }
  .chances-tab-new .chances-tab-cont-p {
    font-size: 20px;
  }
  .chances-tab-new .icon-c {
    width: 100px;
  }
}

@media (max-width: 991px) {
  .chances-tab-new {
    padding: 40px 0 60px 0;
  }
  .chances-tab-new .chances-tab-cont-box {
    gap: 20px;
  }

  .chances-tab-new .img {
    width: 60%;
  }
  .chances-tab-new .chances-tab-h3 {
    font-size: 28px;
  }
  .chances-tab-new .chances-tab-box-item {
    padding: 50px 20px;
  }
  .chances-tab-new .chances-tab-cont-h4 {
    font-size: 18px;
    margin-top: 0px;
  }
  .chances-tab-new .chances-tab-cont-p {
    font-size: 14px;
  }
  .chances-tab-new .icon-c {
    width: 70px;
    top: 15px;
  }
  .chances-tab-new .icon-l {
    width: 50px;
    top: -10px;
    left: -10px;
  }
}

@media (max-width: 640px) {
  .chances-tab-new .chances-tab-box-item {
    width: 100%;
  }
}

.bf-icon-new {
  padding: 60px 0;
}

.bf-icon-new .bf-icon-new-cont {
  max-width: 1050px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 50px;
}

.bf-icon-new .bf-icon-new-img {
  width: 190px;
}

.bf-icon-new .bf-icon-new-img .img {
  display: block;
  width: 100%;
}

.bf-icon-new .bf-icon-new-text {
  flex: 1;
}

.bf-icon-new .bf-icon-new-h3 {
  font-size: 60px;
  font-family: var(--heading-font-family);
  line-height: 1;
  color: transparent;
  background: linear-gradient(90deg, #fff3d4 0%, #ffe2ab 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bf-icon-new .bf-icon-new-p {
  color: #fff;
  font-size: 18px;
  line-height: 1;
  margin-top: 15px;
}

@media (max-width: 991px) {
  .bf-icon-new {
    padding: 40px 0;
  }
  .bf-icon-new .bf-icon-new-cont {
    flex-direction: column;
    gap: 30px;
  }
  .bf-icon-new .bf-icon-new-img {
    width: 100px;
  }
  .bf-icon-new .bf-icon-new-text {
    text-align: center;
  }
  .bf-icon-new .bf-icon-new-h3 {
    font-size: 28px;
  }
  .bf-icon-new .bf-icon-new-p {
    font-size: 14px;
  }
}

.bf-product-block {
  overflow: hidden;
}

.bf-product-block .bf-product-cont {
  display: flex;
  align-items: center;
  gap: 5%;
}

.bf-product-block .bf-product-img {
  flex: 1;
}
.bf-product-block .bf-product-img .img {
  display: block;
  width: calc(100% + 60px);
  max-width: none;
  margin-left: -60px;
}
.bf-product-block .bf-product-text {
  width: 40%;
}
.bf-product-block .bf-product-tag {
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  height: 28px;
  border-radius: 28px;
  padding: 0 17px;
  background: #e0004d;
  margin-bottom: 8px;
}

.bf-product-block .bf-product-h3 {
  font-size: 40px;
  line-height: 1.2;
  font-family: var(--heading-font-family);
  color: transparent;
  background: linear-gradient(90deg, #fff3d4 0%, #ffe2ab 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bf-product-block .bf-product-p {
  color: #909090;
  font-size: 16px;
  line-height: 1.2;
  margin-top: 18px;
}

.bf-product-block .bf-product-desc {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #c2c2c2;
  color: #fff;
  font-size: 14px;
  line-height: 1.2;
}

.bf-product-block .bf-product-price {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #e0004d;
  font-size: 32px;
  line-height: 1;
  margin-top: 35px;
}

.bf-product-block .bf-product-price-d {
  color: #878787;
  text-decoration: line-through;
}

.bf-product-block .bf-product-label {
  display: flex;
  align-items: center;
  height: 42px;
  border-radius: 42px;
  border: 1px solid #707070;
  color: #ffe3af;
  font-size: 18px;
  line-height: 1;
  font-family: var(--heading-font-family);
  padding: 0 20px;
  margin-left: 20px;
}

.bf-product-block .bf-product-btn {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}

.bf-product-block .bf-product-btn-item {
  height: 50px;
  border-radius: 50px;
  background: linear-gradient(270deg, rgba(255, 226, 171, 1) 0%, #fff3d4 100%);
  color: #000;
  font-size: 18px;
  flex: 1;
}

.bf-product-block .bf-product-btn-item:nth-child(2) {
  background: linear-gradient(
    83deg,
    rgba(244, 52, 90, 1) 5.29%,
    #b4003e 94.92%
  );
  color: #fff;
}

.bf-product-block .bf-product-btn-item:last-child .btn-txt::before {
  color: #000;
}

@media (max-width: 1600px) {
  .bf-product-block .bf-product-img .img {
    width: calc(100% + 40px);
    margin-left: -40px;
  }
}

@media (max-width: 991px) {
  .bf-product-block .bf-product-cont {
    flex-direction: column;
    gap: 30px;
  }
  .bf-product-block .bf-product-img .img {
    width: 100%;
    margin-left: 0;
  }
  .bf-product-block .bf-product-text {
    width: 100%;
  }
  .bf-product-block .bf-product-tag {
    font-size: 12px;
  }
  .bf-product-block .bf-product-h3 {
    font-size: 28px;
  }
  .bf-product-block .bf-product-p {
    font-size: 14px;
    margin-top: 10px;
  }
  .bf-product-block .bf-product-price {
    margin-top: 30px;
    font-size: 24px;
  }
  .bf-product-block .bf-product-label {
    font-size: 14px;
    height: 32px;
    margin-left: 10px;
  }
  .bf-product-block .bf-product-btn {
    margin-top: 25px;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
  .bf-product-block .bf-product-btn-item {
    width: 100%;
    flex: none;
    height: 40px;
    font-size: 14px;
  }
}
