@media (min-width: 1600px) {
  .container {
    max-width: calc(100% - 40px);
  }
}
.container {
  padding: 0 40px;
  margin: 0 auto;
}
@media (max-width: 1600px) {
  .container {
    max-width: none;
  }
}

@media (max-width: 991px) {
  .container {
    padding: 0 24px;
  }
}

.sunmmer-banner {
  position: relative;
}
.sunmmer-banner::before {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 3;
}
.sunmmer-banner .img {
  position: relative;
  z-index: 1;
  width: 100%;
  display: block;
}

.sunmmer-banner .mb-box {
  display: none;
}

.sunmmer-banner .sunmmer-banner-text {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 65px;
  z-index: 4;
}

.sunmmer-banner .container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 30px;
}

.sunmmer-banner .sunmmer-banner-text-left {
  max-width: 770px;
  color: #fff;
}

.sunmmer-banner .sunmmer-banner-tag {
  color: #fbfaf4;
  font-size: 16px;
  font-family: var(--heading-font-family);
  line-height: 1.5;
  display: inline-block;
  background: #e0004d;
  padding: 3px 17px;
  overflow: hidden;
  position: relative;
  border-radius: 30px;
}

.sunmmer-banner .sunmmer-banner-tag::before {
  position: absolute;
  content: '';
  display: block;
  width: 200%;
  height: 200%;
  z-index: 2;
  background: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  animation: scanning 3s linear infinite;
}
@keyframes scanning {
  0% {
    transform: translate(-100%, -100%);
  }
  100% {
    transform: translate(100%, 100%);
  }
}

.sunmmer-banner .sunmmer-banner-sub {
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.24px;
  margin-top: 18px;
}

.sunmmer-banner .sunmmer-banner-title {
  font-size: 80px;
  line-height: 1;
  letter-spacing: 0.8px;
  margin-top: 18px;
}

.sunmmer-banner .sunmmer-banner-p {
  color: #190a0a;
  font-size: 60px;
  line-height: 1.2;
  letter-spacing: 0.6px;
}

.sunmmer-banner .sunmmer-banner-btn {
  width: 434px;
  height: 108px;
  border-radius: 12px;
  cursor: pointer;
  border: 1.33px solid rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  padding-left: 24px;
  padding-right: 35px;
}

.sunmmer-banner .sunmmer-banner-btn .img {
  position: absolute;
  width: 96px;
  right: 30px;
  bottom: 20px;
}

.sunmmer-banner .sunmmer-banner-t {
  color: #fffffc;
  font-size: 18px;
  line-height: 1.5;
  font-family: var(--heading-font-family);
}

.sunmmer-banner .sunmmer-banner-p {
  color: #fffffc;
  font-size: 15px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  gap: 24px;
}

.sunmmer-banner .sunmmer-banner-t span {
  color: #a4f1f4;
  font-size: 15px;
  line-height: 1.5;
  font-family: var(--text-font-family);
}

@media (max-width: 991px) {
  .sunmmer-banner .sunmmer-banner-sub {
    font-size: 14px;
    color: #fff;
    line-height: 1.5;
    margin-top: 5px;
  }
  .sunmmer-banner .sunmmer-banner-title {
    font-size: 28px;
    color: #fff;
    line-height: 1.2;
    margin-top: 11px;
    font-family: var(--heading-font-family);
  }
  .sunmmer-banner .mb-box {
    display: block;
  }
  .sunmmer-banner .pc-box {
    display: none;
  }
  .sunmmer-banner .container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  .sunmmer-banner .sunmmer-banner-text-left {
    text-align: center;
  }
  .sunmmer-banner .sunmmer-banner-text {
    bottom: 0;
    height: 100%;
    padding: 38px 0 48px 0;
  }
  .sunmmer-banner .sunmmer-banner-text-right {
    width: 100%;
  }
  .sunmmer-banner .sunmmer-banner-btn {
    width: 100%;
    height: 83px;
    justify-content: flex-start;
    padding-left: 18px;
  }
  .sunmmer-banner .sunmmer-banner-t {
    font-size: 14px;
    font-family: var(--text-font-family);
  }
  .sunmmer-banner .sunmmer-banner-p {
    font-size: 12px;
  }
  .sunmmer-banner .sunmmer-banner-t span {
    font-size: 12px;
  }
  .sunmmer-banner .sunmmer-banner-btn .img {
    width: 74px;
    right: 19px;
    bottom: 15px;
  }
}

.sunmmer-icon {
  padding: 98px 0 110px 0;
}

.sunmmer-icon .sunmmer-icon-cont {
  display: flex;
  align-items: center;
  gap: 9.22%;
}

.sunmmer-icon .sunmmer-icon-left {
  width: 26.333%;
}

.sunmmer-icon .sunmmer-icon-top {
  display: flex;
  align-items: flex-end;
  gap: 15px;
  position: relative;
}

.sunmmer-icon .title-img {
  width: 58.82%;
  position: absolute;
  bottom: 0;
  margin-left: 15px;
}

.sunmmer-icon .sunmmer-icon-title {
  color: #3f3636;
  font-size: 48px;
  line-height: 1.25;
  max-width: 60.97%;
  position: relative;
}

.sunmmer-icon .sunmmer-icon-sub {
  color: #190a0a;
  font-size: 18px;
  line-height: 1.5;
}

.sunmmer-icon .sunmmer-icon-right {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex: 1;
}

.sunmmer-icon .sunmmer-icon-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 220px;
  align-items: center;
  text-align: center;
  flex: 1;
}

.sunmmer-icon .sunmmer-icon-p {
  color: #190a0a;
  font-size: 18px;
  line-height: 1.25;
}

.sunmmer-icon .sunmmer-icon-dot {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

.sunmmer-icon .sunmmer-icon-dot-item {
  width: 5px;
  height: 5px;
  border-radius: 30px;
  background: #d9d9d9;
}

.sunmmer-icon .sunmmer-icon-dot-item.active {
  background: #7a7a7a;
}

@media (max-width: 1400px) {
  .sunmmer-icon .sunmmer-icon-title {
    font-size: 38px;
  }
  .sunmmer-icon .sunmmer-icon-item .icon-img {
    height: 90px;
  }
  .sunmmer-icon .sunmmer-icon-p {
    font-size: 16px;
  }
  .sunmmer-icon .sunmmer-icon-sub {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .sunmmer-icon {
    padding: 60px 0 40px 0;
    overflow: hidden;
  }
  .sunmmer-icon .sunmmer-icon-cont {
    flex-direction: column;
    gap: 60px;
    align-items: flex-start;
  }
  .sunmmer-icon .sunmmer-icon-left {
    width: 100%;
  }

  .sunmmer-icon .sunmmer-icon-title {
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: none;
    flex: 1;
  }
  .sunmmer-icon .title-img {
    width: 105px;
    bottom: auto;
    position: relative;
  }

  .sunmmer-icon .sunmmer-icon-sub {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }
  .sunmmer-icon .sunmmer-icon-p {
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  .sunmmer-icon .sunmmer-icon-right {
    gap: 40px;
  }
  .sunmmer-icon .sunmmer-icon-item {
    flex: none;
    width: 275px;
    flex-shrink: 0;
    flex-direction: row;
    text-align: left;
    max-width: none;
  }
  .sunmmer-icon .sunmmer-icon-dot {
    display: flex;
  }
}

.visible-results {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}

.visible-results .mb-box {
  display: none;
}

.visible-results .visible-results-left {
  width: 68.49%;
  position: relative;
}

.visible-results .visible-results-dot {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  bottom: 43px;
  border-radius: 50px;
  padding: 5px;
  background: rgba(251, 250, 244, 0.1);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  display: flex;
  gap: 5px;
  width: max-content;
}

.visible-results .visible-results-dot-item {
  background: rgba(251, 250, 244, 0.1);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-radius: 40px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  line-height: 1.2;
  flex-shrink: 0;
}

.visible-results .visible-results-dot-item.active {
  background: rgba(251, 250, 244, 1);
  backdrop-filter: blur(0px);
  color: #3f3636;
}

.visible-results .visible-results-arraw {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
}
.visible-results .visible-results-arraw-item {
  cursor: pointer;
}
.visible-results .visible-results-cont {
  position: relative;
  z-index: 1;
}

.visible-results .visible-results-img {
  position: relative;
  z-index: 0;
}

.visible-results .visible-results-img-item {
  position: absolute;
  z-index: 0;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.8s ease;
}

.visible-results-img-item.active {
  position: relative;
  opacity: 1;
}

.visible-results .visible-results-cont .img {
  position: relative;
  z-index: 0;
  width: 100%;
}

.visible-results .visible-results-top {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 30px;
}

.visible-results .visible-results-right {
  flex: 1;
  padding: 0 60px;
}

.visible-results .visible-results-box {
  max-width: 395px;
}

.visible-results .visible-results-title {
  color: #190a0a;
  font-size: 48px;
  line-height: 1.2;
}

.visible-results .visible-results-sub {
  color: #3f3636;
  font-size: 12px;
  line-height: 1.5;
  opacity: 0.5;
  margin-top: 30px;
}

.visible-results .visible-results-num {
  display: none;
  align-items: flex-end;
  gap: 15px;
  margin-top: 50px;
}

.visible-results .visible-results-num.active {
  display: flex;
}

.visible-results .visible-results-n {
  color: #e0004d;
  font-size: 34px;
  line-height: 1;
}

.visible-results .visible-results-n span {
  font-size: 70px;
}

.visible-results .visible-results-p {
  color: #190a0a;
  font-size: 16px;
}

.visible-results .visible-results-db {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 56px;
}

.visible-results .visible-results-db-item {
  position: relative;
  flex: 1;
}

.visible-results .visible-results-db-item:first-child {
  border-right: 1px solid #fff;
}
.visible-results .sm-box {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.8s ease;
}
.visible-results .sm-box.active {
  opacity: 1;
  position: relative;
  z-index: 1;
  width: auto;
  height: auto;
}
.visible-results .visible-results-db-item .sm-img {
  width: 100%;
  position: relative;
  z-index: 0;
}

.visible-results .visible-results-tag {
  position: absolute;
  z-index: 3;
  width: 70px;
  height: 25px;
  border-radius: 25px;
  background: rgba(251, 250, 244, 0.25);
  backdrop-filter: blur(9px);
  color: #fbfaf4;
  font-size: 12px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  left: 10px;
  border: 0.641px solid rgba(251, 250, 244, 0.25);
}

.visible-results .visible-results-db-item:last-child .visible-results-tag {
  left: auto;
  right: 10px;
}

@media (max-width: 1400px) {
  .visible-results .visible-results-right {
    padding-left: 30px;
  }
  .visible-results .visible-results-title {
    font-size: 38px;
  }

  .visible-results .visible-results-sub {
    margin-top: 20px;
  }

  .visible-results .visible-results-num {
    margin-top: 30px;
  }

  .visible-results .visible-results-n span {
    font-size: 55px;
  }
  .visible-results .visible-results-db {
    margin-top: 30px;
  }
  .visible-results .visible-results-dot-item {
    padding: 0 15px;
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  .visible-results .visible-results-title {
    font-size: 30px;
  }
  .visible-results .visible-results-n {
    font-size: 24px;
  }
  .visible-results .visible-results-n span {
    font-size: 40px;
  }
}

@media (max-width: 991px) {
  .visible-results {
    display: block;
    padding: 58px 24px;
    /* overflow: hidden; */
  }
  .visible-results .pc-box {
    display: none;
  }
  .visible-results .mb-box {
    display: block;
  }
  .visible-results .visible-results-left {
    width: 100%;
  }
  .visible-results .visible-results-arraw {
    display: none;
  }
  .visible-results .visible-results-dot {
    position: relative;
    background: none;
    bottom: auto;
    left: auto;
    transform: translateX(0);
    width: auto;
    gap: 10px;
    border-radius: 0;
    overflow-x: auto;
    padding: 0 24px;
    margin: 0 -24px;
    margin-top: 36px;
  }

  .visible-results .visible-results-dot::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .visible-results .visible-results-dot-item {
    height: 34px;
    border: 1px solid #d9d9d9;
    background: none;
    font-size: 12px;
    color: #333;
  }
  .visible-results .visible-results-dot-item.active {
    background: none;
    border-color: #333;
    font-family: var(--heading-font-family);
  }

  .visible-results .visible-results-cont {
    margin-top: 26px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
  }

  .visible-results .visible-results-top {
    top: 12px;
    left: 6px;
    width: 52px;
  }

  .visible-results .visible-results-title {
    font-size: 26px;
  }
  .visible-results .visible-results-sub {
    margin-top: 15px;
  }
  .visible-results .visible-results-right {
    padding: 16px 13px;
    border-radius: 0px 0px 10px 10px;
    background: #fbfaf4;
  }
  .visible-results .visible-results-box {
    max-width: none;
  }
  .visible-results .visible-results-num {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 0;
    margin-top: 0;
  }
  .visible-results .visible-results-det {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
  }
  .visible-results .visible-results-db {
    margin-top: 0;
  }
  .visible-results .visible-results-tag {
    background: none;
    border: 0;
    backdrop-filter: blur(0px);
    right: auto !important;
    left: 50% !important;
    transform: translateX(-50%);
    height: auto;
  }
  .visible-results .visible-results-p {
    font-size: 12px;
  }
  .visible-results .visible-results-n {
    font-size: 20px;
  }
  .visible-results .visible-results-n span {
    font-size: 36px;
  }

  .visible-results .visible-results-num-list {
    width: 110px;
    flex-shrink: 0;
  }
}
