.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 40px;
}

.mini-cont .container {
  max-width: 1396px;
}

@media (max-width: 991px) {
  .container {
    padding: 0 24px;
  }
}

.technology-tab {
  border-bottom: 2px solid #dbdbdb;
  background: #fdfdfd;
  position: sticky;
  top: 0;
  z-index: 6;
}

.technology-tab .technology-tab-list {
  display: flex;
  justify-content: center;
  gap: 120px;
}

.technology-tab .technology-tab-item {
  color: #212121;
  font-size: 26px;
  line-height: 1;
  height: 64px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid transparent;
  margin-bottom: -2px;
}

.technology-tab .technology-tab-item.active {
  border-bottom: 2px solid #000;
  font-family: var(--heading-font-family);
}

@media (max-width: 991px) {
  .technology-tab .technology-tab-list {
    gap: 30px;
  }

  .technology-tab .technology-tab-item {
    font-size: 16px;
  }
}

.technology-title {
  padding-top: 50px;
}

.technology-title .technology-h3 {
  color: #190a0a;
  text-align: center;
  font-size: 50px;
  line-height: 1.15;
  letter-spacing: -0.64px;
  font-weight: normal;
  font-family: var(--heading-font-family);
  margin: 0;
}

@media (max-width: 991px) {
  .technology-title .technology-h3 {
    font-size: 28px;
  }
}

.technology-pain {
  padding-top: 75px;
}

.technology-pain .technology-pain-h3 {
  color: #190a0a;
  text-align: center;
  font-size: 32px;
  line-height: 1.25;
  font-weight: normal;
  font-family: var(--heading-font-family);
  margin: 0;
}

.technology-pain .technology-pain-cont {
  margin-top: 40px;
  padding-bottom: 24px;
  border-bottom: 1px solid #86868b;
}

.technology-pain .technology-pain-text {
  padding: 24px 16px;
  border-radius: 4px;
  background: #f9f9f9;
  color: #190a0a;
  font-size: 20px;
  line-height: 1.6;
}

.technology-pain .technology-pain-text ul {
  padding-left: 20px;
}

.technology-pain .technology-pain-text li:not(:last-child) {
  margin-bottom: 25px;
}

.technology-pain .technology-pain-text strong {
  font-weight: normal;
  font-family: var(--heading-font-family);
}

@media (max-width: 991px) {
  .technology-pain {
    padding-top: 45px;
  }

  .technology-pain .technology-pain-h3 {
    font-size: 20px;
  }

  .technology-pain .technology-pain-cont {
    margin-top: 16px;
  }

  .technology-pain .technology-pain-text {
    padding: 24px 8px;
    border-radius: 0;
    font-size: 14px;
  }

  .technology-pain .technology-pain-text ul {
    padding-left: 15px;
  }
}

.technology-image-text {
  padding-top: 75px;
}

.technology-image-text .technology-image-text-h3 {
  color: #190a0a;
  text-align: center;
  font-size: 32px;
  line-height: 1.25;
  font-weight: normal;
  font-family: var(--heading-font-family);
  margin: 0;
}

.technology-image-text .technology-image-text-list {
  margin-top: 40px;
}

.technology-image-text .technology-image-text-item {
  display: flex;
  align-items: center;
}

.technology-image-text .technology-reverse {
  flex-direction: row-reverse;
}

.technology-image-text .technology-image-text-item:not(:last-child) {
  margin-bottom: 24px;
}

.technology-image-text .technology-image-text-txt,
.technology-image-text .technology-image-text-img {
  width: 50%;
}

.technology-image-text .img {
  display: block;
  width: 100%;
}

.technology-image-text .technology-image-text-txt {
  padding-right: 11%;
}

.technology-image-text .technology-reverse .technology-image-text-txt {
  padding-right: 0;
  padding-left: 11%;
}

.technology-image-text .technology-image-text-h4 {
  color: #190a0a;
  font-size: 24px;
  line-height: 1.5;
  font-weight: normal;
  font-family: var(--heading-font-family);
  margin: 0;
}

.technology-image-text .technology-image-text-p {
  color: #190a0a;
  font-size: 20px;
  line-height: 1.6;
  margin-top: 48px;
}

.technology-image-text .technology-image-text-p ul {
  padding-left: 20px;
}

.technology-image-text .technology-image-text-p p {
  margin: 0;
}

.technology-image-text .technology-image-text-p p:not(:first-child) {
  margin-top: 20px;
}

@media (max-width: 991px) {
  .technology-image-text {
    padding-top: 50px;
  }
  .technology-image-text .technology-image-text-h3 {
    font-size: 20px;
  }

  .technology-image-text .technology-image-text-item {
    flex-direction: column;
    gap: 24px;
  }

  .technology-image-text .technology-image-text-txt,
  .technology-image-text .technology-image-text-img {
    width: 100%;
  }

  .technology-image-text .technology-image-text-txt {
    padding: 0;
  }

  .technology-image-text .technology-image-text-h4 {
    font-size: 16px;
    text-align: center;
  }

  .technology-image-text .technology-image-text-p {
    font-size: 14px;
    margin-top: 24px;
  }

  .technology-image-text .technology-image-text-p p:not(:first-child) {
    margin-top: 10px;
  }

  .technology-image-text .technology-reverse .technology-image-text-txt {
    padding: 0;
  }

  .technology-image-text .technology-image-text-p ul {
    padding-left: 15px;
  }
}

.technology-skin {
  padding: 50px 0;
}

.technology-skin .technology-skin-h3 {
  color: #190a0a;
  text-align: center;
  font-size: 32px;
  line-height: 1.25;
  font-weight: normal;
  font-family: var(--heading-font-family);
  margin: 0;
}

.technology-skin .technology-skin-p {
  color: #190a0a;
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--heading-font-family);
  margin: 0;
  margin-top: 16px;
}

.technology-skin .technology-skin-silde {
  margin-top: 40px;
}

.technology-skin .technology-skin-list {
  display: flex;
  gap: 20px;
}

.technology-skin .technology-skin-item {
  width: calc(33.333% - 13px);
}

.technology-skin .img {
  width: 100%;
}

.technology-skin .technology-skin-txt {
  margin-top: 24px;
}

.technology-skin .technology-skin-h4 {
  color: #190a0a;
  font-size: 24px;
  line-height: 1.8;
  font-weight: normal;
  font-family: var(--heading-font-family);
  margin: 0;
}

.technology-skin .technology-skin-text-p {
  color: #190a0a;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  margin-top: 16px;
}

.technology-skin .technology-skin-arraws {
  display: none;
}

.border-skin .technology-skin-cont {
  padding-bottom: 24px;
  border-bottom: 1px solid #190a0a;
}

@media (max-width: 991px) {
  .technology-skin {
    overflow: hidden;
  }
  .border-skin {
    padding-bottom: 24px;
  }

  .technology-skin .technology-skin-h3 {
    font-size: 20px;
  }

  .technology-skin .technology-skin-p {
    font-size: 16px;
    margin-top: 32px;
  }

  .technology-skin .technology-skin-silde {
    margin-top: 16px;
  }
  .technology-skin .technology-skin-list {
    gap: 0;
  }
  .technology-skin .technology-skin-item {
    min-width: 320px;
    flex-shrink: 0;
  }

  .technology-skin .technology-skin-arraws {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 40px;
  }

  .technology-skin .technology-skin-arraw {
    width: 40px;
    cursor: pointer;
  }

  .technology-skin .technology-skin-arraw svg {
    display: block;
    width: 100%;
    height: auto;
  }

  .technology-skin .swiper-button-disabled {
    opacity: 0.25;
    cursor: default;
  }

  .technology-skin .technology-skin-txt {
    margin-top: 18px;
  }

  .technology-skin .technology-skin-h4 {
    font-size: 20px;
  }

  .technology-skin .technology-skin-text-p {
    font-size: 14px;
    margin-top: 12px;
  }
}

.technology-remark {
  padding-top: 50px;
  background: #f6f6f6;
}

.technology-remark .technology-remark-h3 {
  color: #190a0a;
  font-size: 32px;
  line-height: 1.25;
  text-align: center;
  font-weight: normal;
  font-family: var(--heading-font-family);
  margin: 0;
}

.technology-remark .technology-remark-arraws {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;
  gap: 60px;
}

.technology-remark .technology-remark-arraw {
  width: 40px;
  cursor: pointer;
}

.technology-remark .technology-remark-arraw svg {
  display: block;
  width: 100%;
  height: auto;
}

.technology-remark .swiper-button-disabled {
  opacity: 0.25;
  cursor: default;
}

.technology-remark .technology-remark-slide {
  overflow: hidden;
  margin-top: 40px;
}

.technology-remark .technology-remark-list {
  display: flex;
}

.technology-remark .technology-remark-item {
  width: 100%;
  flex-shrink: 0;
  padding: 30px 48px;
  background: #fff;
}

.technology-remark .img-star {
  max-width: 228px;
  display: block;
}

.technology-remark .technology-remark-p {
  color: #000;
  font-size: 36px;
  line-height: 1.5;
  font-family: var(--heading-font-family);
  text-align: center;
  margin: 0;
  margin-top: 16px;
}

.technology-remark .technology-remark-flex {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
}

.technology-remark .technology-remark-name {
  color: #000;
  font-size: 24px;
  line-height: 1;
}

.technology-remark .img-logo {
  max-width: 115px;
  display: block;
}

@media (max-width: 991px) {
  .technology-remark {
    padding-top: 46px;
    position: relative;
    padding-bottom: 80px;
  }

  .technology-remark .technology-remark-h3 {
    font-size: 20px;
  }

  .technology-remark .technology-remark-arraws {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    gap: 40px;
  }

  .technology-remark .technology-remark-slide {
    margin-top: 16px;
  }

  .technology-remark .technology-remark-item {
    padding: 24px 16px;
  }

  .technology-remark .technology-remark-p {
    font-size: 24px;
    text-align: left;
  }

  .technology-remark .technology-remark-flex {
    justify-content: flex-start;
    font-size: 16px;
    margin-top: 22px;
  }
}

.technology-media {
  padding: 50px 0 80px 0;
  background: #f6f6f6;
}

.technology-media .technology-media-h3 {
  color: #190a0a;
  text-align: center;
  font-size: 32px;
  line-height: 1.25;
  font-weight: normal;
  font-family: var(--heading-font-family);
  margin: 0;
}

.technology-media .technology-media-slide {
  margin-top: 40px;
}

.technology-media .technology-media-list {
  display: flex;
  gap: 20px;
}

.technology-media .technology-media-item {
  padding: 24px;
  padding-bottom: 16px;
  width: calc(33.333% - 13px);
  border: 1px solid #190a0a;
}

.technology-media .technology-media-p {
  color: #000;
  text-align: center;
  font-size: 24px;
  line-height: 1.8;
}

.technology-media .icon-img {
  display: block;
  margin: 0 auto;
  margin-top: 16px;
}

.technology-media .technology-media-dots {
  display: none;
}

@media (max-width: 991px) {
  .technology-media {
    padding: 24px 0;
    overflow: hidden;
  }
  .technology-media .technology-media-h3 {
    font-size: 20px;
  }

  .technology-media .technology-media-slide {
    margin-top: 16px;
  }

  .technology-media .technology-media-list {
    gap: 0;
  }

  .technology-media .technology-media-item {
    min-width: 212px;
    flex-shrink: 0;
    padding: 12px 8px;
  }

  .technology-media .technology-media-p {
    font-size: 12px;
  }

  .technology-media .icon-img {
    max-width: 180px;
    margin-top: 8px;
  }

  .technology-media .technology-media-dots {
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }

  .technology-media .swiper-pagination-bullet {
    background: #cdc6c7;
  }

  .technology-media .swiper-pagination-bullet-active {
    background: #190a0a;
  }
}

.technology-validated {
  padding: 70px 0 24px 0;
  background: #f6f6f6;
}

.technology-validated .technology-validated-h3 {
  color: #190a0a;
  font-size: 32px;
  line-height: 1.25;
  text-align: center;
  font-weight: normal;
  font-family: var(--heading-font-family);
  margin: 0;
}

.technology-validated .technology-validated-flex {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 40px 45px;
  background: #fff;
  margin-top: 40px;
}

.technology-validated .technology-validated-img {
  width: 50%;
  flex-shrink: 0;
}

.technology-validated .img-validated {
  width: 100%;
  display: block;
}

.technology-validated .technology-validated-text {
  flex: 1;
}

.technology-validated .technology-validated-p {
  color: #000;
  font-size: 30px;
  line-height: 1.25;
  margin: 0;
}

.technology-validated .technology-validated-num {
  color: #190a0a;
  font-size: 130px;
  line-height: 1.05;
  font-family: var(--heading-font-family);
  margin: 0;
}

.technology-validated .technology-validated-h4 {
  display: inline-block;
  color: #190a0a;
  font-size: 24px;
  line-height: 1.25;
  font-weight: normal;
  font-family: var(--heading-font-family);
  margin: 0;
  padding-bottom: 16px;
  border-bottom: 2px solid #190a0a;
}

.technology-validated .technology-validated-msg {
  color: #625959;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  margin-top: 16px;
}

@media (max-width: 991px) {
  .technology-validated {
    padding: 46px 0 0 0;
  }

  .technology-validated .technology-validated-h3 {
    font-size: 20px;
  }

  .technology-validated .technology-validated-flex {
    flex-direction: column-reverse;
    padding: 24px 16px;
    margin: 0 -24px;
    margin-top: 16px;
    gap: 20px;
  }

  .technology-validated .technology-validated-img {
    width: 100%;
  }

  .technology-validated .technology-validated-p {
    font-size: 20px;
  }

  .technology-validated .technology-validated-num {
    font-size: 85px;
  }

  .technology-validated .technology-validated-h4 {
    font-size: 16px;
    padding-bottom: 8px;
  }
  .technology-validated .technology-validated-msg {
    font-size: 12px;
  }
}

.technology-trusted {
  padding-top: 50px;
  background: #f6f6f6;
}

.technology-trusted .technology-trusted-h3 {
  color: #190a0a;
  font-size: 32px;
  line-height: 1.25;
  text-align: center;
  font-weight: normal;
  font-family: var(--heading-font-family);
  margin: 0;
}

.technology-trusted .technology-trusted-slide {
  padding: 24px 0;
  margin-top: 40px;
}

.technology-trusted .technology-trusted-list {
  display: flex;
}

.technology-trusted .technology-trusted-item {
  flex: 1;
  padding: 0 20px;
  height: auto;
}

.technology-trusted .technology-trusted-item:not(:last-child) {
  border-right: 1px solid rgba(68, 68, 68, 0.2);
}

.technology-trusted .img-num {
  display: block;
  margin: 0 auto;
  width: 240px;
}

.technology-trusted .technology-trusted-txt-h3 {
  color: #190a0a;
  text-align: center;
  font-size: 24px;
  line-height: 1.25;
  font-weight: normal;
  font-family: var(--heading-font-family);
  margin: 0;
  margin-top: 10px;
}

.technology-trusted .technology-trusted-p {
  color: #190a0a;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  margin-top: 12px;
}

.technology-trusted .technology-trusted-arraws {
  display: none;
}

@media (max-width: 991px) {
  .technology-trusted {
    padding: 46px 0;
    overflow: hidden;
  }

  .technology-trusted .technology-trusted-h3 {
    font-size: 20px;
  }

  .technology-trusted .technology-trusted-slide {
    margin-top: 34px;
    padding: 0;
  }

  .technology-trusted .technology-trusted-item {
    padding: 0 15px;
    min-width: 326px;
  }

  .technology-trusted .img-num {
    max-width: 180px;
  }

  .technology-trusted .technology-trusted-txt-h3 {
    font-size: 18px;
  }

  .technology-trusted .technology-trusted-p {
    font-size: 12px;
    margin-top: 8px;
  }

  .technology-trusted .technology-trusted-arraws {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 34px;
    gap: 40px;
  }

  .technology-trusted .technology-trusted-arraw {
    width: 40px;
    cursor: pointer;
  }

  .technology-trusted .technology-trusted-arraw svg {
    display: block;
    width: 100%;
    height: auto;
  }

  .technology-trusted .swiper-button-disabled {
    opacity: 0.25;
    cursor: default;
  }
}

.technology-compare {
  padding: 50px 0;
}

.technology-compare .technology-compare-h3 {
  color: #190a0a;
  text-align: center;
  font-size: 32px;
  line-height: 1.25;
  font-weight: normal;
  font-family: var(--heading-font-family);
  margin: 0;
}

.technology-compare .technology-compare-h4 {
  color: #190a0a;
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  font-weight: normal;
  font-family: var(--heading-font-family);
  margin: 0;
  margin-top: 24px;
}

.technology-compare .technology-compare-p {
  color: #190a0a;
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  margin-top: 16px;
}

.technology-compare .technology-compare-cont {
  background: #fbfbfb;
  padding: 16px;
  margin-top: 40px;
}

.technology-compare .technology-compare-flex {
  max-width: 1018px;
  margin: 0 auto;
  display: flex;
  gap: 7.86%;
}

.technology-compare .technology-compare-flex > .technology-compare-column {
  width: 180px;
  color: #000;
  font-size: 16px;
  line-height: 1.9;
  font-family: var(--heading-font-family);
}

.technology-compare
  .technology-compare-flex
  > .technology-compare-column
  .technology-compare-item:first-child {
  font-size: 24px;
}

.technology-compare .technology-compare-item {
  padding: 15px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.technology-compare .technology-compare-item p {
  margin: 0;
}

.technology-compare .technology-compare-right {
  flex: 1;
  display: flex;
  gap: 20px;
}

.technology-compare .technology-compare-right > .technology-compare-column {
  flex: 1;
  text-align: center;
}

.technology-compare .img {
  height: 100px;
  width: auto;
  display: block;
  margin: 0 auto;
}

.technology-compare .technology-compare-name {
  color: #545454;
  font-size: 20px;
  line-height: 2.7;
  margin-top: 8px;
}

.technology-compare
  .technology-compare-right
  .technology-compare-column:first-child
  .technology-compare-name {
  color: #e0004d;
}

.technology-compare .technology-compare-right .technology-compare-item {
  color: #545454;
  font-size: 16px;
  line-height: 1.75;
  background: #f6f6f6;
}

.technology-compare
  .technology-compare-right
  .technology-compare-item:first-child {
  background: none !important;
}

.technology-compare
  .technology-compare-right
  .technology-compare-item:nth-child(2) {
  border-radius: 4px 4px 0 0;
}

.technology-compare
  .technology-compare-right
  .technology-compare-item:last-child {
  border-radius: 0 0 4px 4px;
}

.technology-compare
  .technology-compare-right
  .technology-compare-column:first-child
  .technology-compare-item {
  color: #000;
  font-family: var(--heading-font-family);
  background: #fff3f7;
}

.technology-compare .technology-compare-right .technology-compare-item strong {
  font-weight: normal;
  color: #e0004d;
}

@media (max-width: 991px) {
  .technology-compare {
    overflow: hidden;
  }
  .technology-compare .technology-compare-h3 {
    font-size: 20px;
  }

  .technology-compare .technology-compare-h4 {
    font-size: 16px;
    margin-top: 32px;
  }

  .technology-compare .technology-compare-p {
    font-size: 14px;
    text-align: left;
  }

  .technology-compare .technology-compare-cont {
    margin: 0 -24px;
    margin-top: 24px;
    padding-left: 0;
  }

  .technology-compare .technology-compare-flex {
    gap: 8px;
  }

  .technology-compare .technology-compare-flex > .technology-compare-column {
    width: 126px;
    font-size: 14px;
  }

  .technology-compare
    .technology-compare-flex
    > .technology-compare-column
    .technology-compare-item:first-child {
    font-size: 16px;
  }

  .technology-compare .technology-compare-item {
    padding: 16px;
  }

  .technology-compare .technology-compare-right {
    gap: 13px;
    overflow-x: auto;
  }
  .technology-compare .technology-compare-right > .technology-compare-column {
    min-width: 238px;
    flex-shrink: 0;
  }
  .technology-compare .img {
    height: 71px;
  }
  .technology-compare .technology-compare-name {
    font-size: 13px;
  }
  .technology-compare .technology-compare-right .technology-compare-item {
    font-size: 12px;
  }
}
