.container {
  padding: 0 40px;
  margin: 0 auto;
}
@media (min-width: 1600px) {
  .container {
    max-width: calc(100% - 40px);
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 1600px;
    padding: 0 24px;
    margin: 0 auto;
  }
}

.fixed-container {
  position: relative;
  z-index: 0;
  height: 100vh;
  /* background-image: var(--bg-url);
  background-attachment: fixed;
  background-position: center;
  background-size: cover; */
  clip-path: inset(0 0 0 0);
}

.fixed-container .bg-img {
  position: fixed;
  z-index: -1;
  display: block;
  margin: 0;
  min-width: 100%;
  height: 100vh;
  object-fit: cover;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.fixed-container .fixed-cont {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 765px;
  width: 100%;
  z-index: 3;
}

.fixed-container .fixed-cont .img {
  display: block;
  width: 100%;
}

.fixed-container .fixed-cont-txt {
  color: #fffffc;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  max-width: 570px;
  margin: 0 auto;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .fixed-container .fixed-cont .img {
    max-width: 247px;
    margin: 0 auto;
  }
  .fixed-container .fixed-cont-txt {
    font-size: 12px;
    max-width: 299px;
  }
}

.gift-new {
  display: flex;
  position: relative;
}

.gift-new .gift-new-item {
  width: 50%;
  position: relative;
  z-index: 1;
  min-height: 420px;
}

.gift-new .bg-img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gift-new .gift-new-item-txt {
  position: absolute;
  width: 44.79%;
  top: 60px;
  left: 60px;
  z-index: 2;
  color: #fffffc;
}

.gift-new .gift-new-h3 {
  font-size: 32px;
  font-family: var(--heading-font-family);
  line-height: 1.15;
}

.gift-new .gift-new-p {
  font-size: 18px;
  line-height: 1.15;
  margin-top: 10px;
}

.gift-new .gift-new-link {
  display: inline-block;
  font-size: 14px;
  line-height: 1.15;
  font-family: var(--heading-font-family);
  margin-top: 20px;
  cursor: pointer;
  background: linear-gradient(#fffffc, #fffffc) no-repeat;
  background-size: 100% 1px;
  background-position: left bottom;
  transition: all 0.3s ease-in;
}

.gift-new .gift-new-link:hover {
  opacity: 0.6;
}

.gift-new .img {
  display: block;
  max-width: 100%;
  position: relative;
  pointer-events: none;
  margin-top: -20px;
}

.gift-new .gift-new-btn {
  width: 207px;
  height: 52px;
  color: #000;
  background: #fff;
  font-size: 14px;
  margin-top: 30px;
  cursor: pointer;
}

.gift-new .gift-new-btn::after {
  background: #000;
}

.gift-new .gift-new-btn .btn-txt::before {
  color: #fff;
}

.gift-new .gift-new-user {
  position: absolute;
  z-index: 2;
  width: 17.2%;
  left: 29.1%;
  top: 50%;
  transform: translateY(-50%);
}

.gift-new .gift-new-user-cont {
  border: 1px solid #e5c29a;
  background: #fffffc;
  padding: 20px;
  padding-top: 80px;
  max-height: 290px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.gift-new .gift-new-user-cont::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 85%);
  z-index: 2;
}

.gift-new .gift-new-user-sw {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.gift-new .gift-new-user-list {
  will-change: transform;
  display: flex;
  flex-direction: column;
}

.gift-new .gift-new-user-title {
  color: #190a0a;
  text-align: center;
  font-size: 24px;
  line-height: 1.15;
  font-family: var(--heading-font-family);
  position: absolute;
  left: 50%;
  top: 27px;
  transform: translateX(-50%);
  z-index: 2;
}

.gift-new .gift-new-user-txt {
  color: #fffffc;
  font-size: 14px;
  line-height: 1.15;
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  text-align: center;
}
.gift-new .gift-new-user-item {
  text-align: center;
  margin-bottom: 35px;
}
.gift-new .gift-new-user-label {
  display: inline-block;
  padding: 2px 22px;
  border: 1px solid #e7d6c4;
  background: linear-gradient(
    96deg,
    #ffebd4 8.31%,
    #e5c29a 21.62%,
    #b18f68 45.22%,
    #e5c29a 78.63%,
    #ffeedc 93.23%
  );
  color: #190a0a;
  font-size: 14px;
  line-height: 1;
  font-family: var(--heading-font-family);
}

.gift-new .gift-new-user-p {
  color: #3f3636;
  font-size: 16px;
  line-height: 1.25;
  margin-top: 10px;
}
.gift-new .gift-new-user-p p {
  margin: 0;
}

.gift-new .gift-new-user-p strong {
  font-weight: normal;
  font-family: var(--heading-font-family);
}

@media (max-width: 1600px) {
  .gift-new .gift-new-h3 {
    font-size: 26px;
  }
  .gift-new .gift-new-p {
    font-size: 16px;
  }
  .gift-new .gift-new-user {
    width: 19%;
  }
  .gift-new .gift-new-user-title {
    font-size: 18px;
    top: 20px;
  }
  .gift-new .gift-new-user-p {
    font-size: 14px;
  }
  .gift-new .gift-new-user-cont {
    padding-top: 60px;
  }
  .gift-new .gift-new-user-item {
    margin-bottom: 25px;
  }
}

@media (max-width: 991px) {
  .gift-new {
    flex-wrap: wrap;
  }
  .gift-new .gift-new-item {
    min-height: auto;
  }
  .gift-new .gift-new-user {
    background: var(--bg-url) no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    top: auto;
    left: auto;
    transform: none;
    padding: 25px 20px;
  }
  .gift-new .gift-new-user-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .gift-new .gift-new-user-title {
    position: relative;
    left: auto;
    top: auto;
    transform: translateX(0);
    color: #fffffc;
    font-size: 14px;
  }
  .gift-new .gift-new-user-txt {
    position: relative;
    bottom: auto;
    left: auto;
    width: auto;
    font-size: 12px;
  }
  .gift-new .gift-new-user-sw {
    display: flex;
  }
  .gift-new .gift-new-user-list {
    flex-direction: row;
    gap: 30px;
    flex-shrink: 0;
  }

  .gift-new .gift-new-user-item {
    margin-bottom: 0;
    width: 180px;
    flex-shrink: 0;
  }
  .gift-new .gift-new-user-cont {
    padding: 20px 0;
  }
  .gift-new .gift-new-user-cont::after {
    display: none;
  }
  .gift-new .gift-new-user-label {
    font-size: 12px;
  }
  .gift-new .gift-new-user-p {
    font-size: 12px;
  }
  .gift-new .gift-new-item-txt {
    width: 100%;
    left: 0;
    top: 25px;
    padding: 0 20px;
    text-align: center;
  }
  .gift-new .gift-new-h3 {
    font-size: 14px;
  }
  .gift-new .gift-new-p {
    font-size: 12px;
    margin-top: 6px;
  }
  .gift-new .gift-new-link {
    font-size: 12px;
    margin-top: 11px;
  }
  .gift-new .img {
    margin-top: 15px;
    width: 100%;
  }
  .gift-new .gift-new-btn {
    width: 110px;
    height: 30px;
    font-size: 12px;
    margin: 0 auto;
    margin-top: 8px;
  }
}

.step-box-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.step-box-popup .step-box-popup-cont {
  position: absolute;
  width: 1100px;
  max-width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 0 20px;
  border-radius: 10px;
}
.step-box-popup .step-popup-close {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
}
.step-box-popup .step-popup-close svg {
  display: block;
  width: 25px;
}

.step-box-popup .step-box-popup-text {
  max-width: 800px;
  padding: 80px 0 40px 0;
  margin: 0 auto;
}

.step-box-popup .step-box-popup-title {
  color: #000;
  font-size: 36px;
  line-height: 1.1;
  font-family: var(--heading-font-family);
  text-align: center;
}

.step-box-popup .step-box-popup-scoll {
  max-height: 50vh;
  overflow-x: hidden;
  overflow-y: auto;
  color: #000;
  font-size: 16px;
  line-height: 1.3;
  margin-top: 40px;
  padding-right: 10px;
  margin-right: -10px;
}

.step-box-popup .step-box-popup-scoll::-webkit-scrollbar {
  width: 5px;
}

.step-box-popup .step-box-popup-scoll::-webkit-scrollbar-thumb {
  background-color: #959595;
  border-radius: 6px;
}

.step-box-popup .step-box-popup-scoll::-webkit-scrollbar-thumb:hover {
  background-color: #959595;
}

.step-box-popup .step-box-popup-scoll p {
  margin: 0;
}

.step-box-popup .step-box-popup-scoll strong {
  font-weight: normal;
  font-size: 18px;
  line-height: 3;
  font-family: var(--heading-font-family);
  margin-bottom: 10px;
}
.step-box-popup .step-box-popup-btn {
  width: 100%;
  height: 54px;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--heading-font-family);
  display: none;
  align-items: center;
  justify-content: center;
  background: #000;
  position: absolute;
  left: 0;
  bottom: -65px;
}
@media screen and (max-width: 992px) {
  .step-box-popup .step-box-popup-cont {
    border-radius: 0;
  }
  .step-box-popup .step-box-popup-text {
    padding: 37px 0 15px 0;
  }
  .step-box-popup .step-popup-close {
    top: 15px;
    right: 15px;
    display: none;
  }
  .step-box-popup .step-popup-close svg {
    width: 18px;
  }
  .step-box-popup .step-box-popup-title {
    font-size: 28px;
  }
  .step-box-popup .step-box-popup-scoll {
    margin-top: 10px;
  }
  .step-box-popup .step-box-popup-scoll {
    font-size: 14px;
  }
  .step-box-popup .step-box-popup-scoll::-webkit-scrollbar-thumb {
    background-color: #000;
  }
  .step-box-popup .step-box-popup-scoll::-webkit-scrollbar {
    width: 3px;
  }
  .step-box-popup .step-box-popup-scoll strong {
    font-size: 16px;
  }
  .step-box-popup .step-box-popup-btn {
    display: flex;
  }
}

.product-list-new {
  padding: 95px 0 120px 0;
  overflow: hidden;
}

.product-list-new .container {
  max-width: 1600px;
}

.product-list-new .product-list-new-h3 {
  color: #190a0a;
  text-align: center;
  font-size: 44px;
  line-height: 1.25;
  font-family: var(--heading-font-family);
}

.product-list-new .product-list-new-sw {
  margin-top: 40px;
}

.product-list-new .product-list-new-list {
  display: flex;
  gap: 20px;
}

.product-list-new .product-list-new-item {
  width: calc(33.333% - 13.33px);
}

.product-list-new .img {
  display: block;
  width: 100%;
}

.product-list-new .product-list-new-text {
  margin-top: 22px;
}

.product-list-new .product-list-new-h4 {
  color: #190a0a;
  font-size: 24px;
  line-height: 1.25;
  font-family: var(--heading-font-family);
}

.product-list-new .product-list-new-p {
  color: #190a0a;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 7px;
}

.product-list-new .product-list-new-btn {
  width: 236px;
  height: 48px;
  max-width: 100%;
  background: #000;
  color: #fff;
  margin-top: 22px;
  cursor: pointer;
  border: 1.5px solid #000;
}
.product-list-new .product-list-new-price {
  color: #e0004d;
  font-size: 20px;
  line-height: 1.3;
  font-family: var(--heading-font-family);
  margin-top: 10px;
}
.product-list-new .product-list-new-btn .btn-txt::before {
  color: #000;
}

@media (max-width: 991px) {
  .product-list-new {
    padding: 47px 0;
  }
  .product-list-new .product-list-new-h3 {
    font-size: 26px;
  }
  .product-list-new .product-list-new-sw {
    margin-top: 25px;
  }
  .product-list-new .product-list-new-text {
    margin-top: 20px;
  }
  .product-list-new .product-list-new-h4 {
    font-size: 18px;
  }
  .product-list-new .product-list-new-p {
    font-size: 12px;
    margin-top: 10px;
  }
  .product-list-new .product-list-new-price {
    font-size: 14px;
    margin-top: 10px;
  }
  .product-list-new .product-list-new-btn {
    font-size: 12px;
    width: 137px;
    height: 38px;
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .product-list-new .product-list-new-list {
    gap: 0;
  }
  .product-list-new .product-list-new-item {
    width: 250px;
  }
}

.christmas-swiper {
  overflow: hidden;
}
.christmas-swiper .christmas-swiper-cont {
  display: flex;
}

.christmas-swiper .christmas-swiper-left,
.christmas-swiper .christmas-swiper-right {
  width: 50%;
}

.christmas-swiper .christmas-swiper-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}
.christmas-swiper .christmas-swiper-img .img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}
.christmas-swiper .christmas-swiper-img.active {
  position: relative;
  opacity: 1;
  height: 100%;
  margin-right: -60px;
}

.christmas-swiper .christmas-swiper-left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  padding-right: 60px;
}

.christmas-swiper .christmas-swiper-text {
  max-width: 570px;
}

.christmas-swiper .christmas-swiper-text-item {
  display: none;
  text-align: center;
  color: #3f3636;
}

.christmas-swiper .christmas-swiper-text-item.active {
  display: block;
}

.christmas-swiper .christmas-swiper-h3 {
  font-size: 44px;
  line-height: 1.2;
  font-family: var(--heading-font-family);
}

.christmas-swiper .christmas-swiper-p {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 20px;
}

.christmas-swiper .christmas-swiper-sm-img {
  margin-top: 58px;
  overflow: hidden;
  width: 68.889%;
  max-width: 620px;
}

.christmas-swiper .christmas-swiper-sm-list {
  display: flex;
  align-items: center;
  padding: 7% 0;
  padding-bottom: calc(7% + 35px);
}

.christmas-swiper .christmas-swiper-sm-item {
  flex-shrink: 0;
  width: 22.58%;
  cursor: pointer;
  height: auto;
}

.christmas-swiper .christmas-swiper-sm-txt {
  color: #3f3636;
  text-align: center;
  font-size: 16px;
  line-height: 1.3;
  font-family: var(--heading-font-family);
  white-space: nowrap;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -55%;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.christmas-swiper .christmas-swiper-sm-item.swiper-slide-active {
  cursor: default;
}
.christmas-swiper
  .christmas-swiper-sm-item.swiper-slide-active
  .christmas-swiper-sm-txt {
  opacity: 1;
}
.christmas-swiper .christmas-swiper-sm-item .sm-img {
  transition: transform 0.4s ease;
}

.christmas-swiper .christmas-swiper-sm-item.swiper-slide-active .sm-img {
  transform-origin: center center;
  transform: scale(1.628);
}
.christmas-swiper .sm-img {
  display: block;
  width: 100%;
}

.christmas-swiper .christmas-swiper-tab {
  margin-top: 118px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
}

.christmas-swiper .christmas-swiper-tab-list {
  display: flex;
  gap: 10px;
  max-width: 100%;
  overflow-x: auto;
}

.christmas-swiper .christmas-swiper-tab-list::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.christmas-swiper .christmas-swiper-tab-item {
  padding: 0 19px;
  height: 43px;
  display: inline-flex;
  align-items: center;
  border-radius: 45px;
  border: 1px solid #d9d9d9;
  color: #333;
  font-size: 18px;
  line-height: 1;
  cursor: pointer;
  transition: all 0.4s ease;
  flex-shrink: 0;
  user-select: none;
}

.christmas-swiper .christmas-swiper-tab-item.active {
  border-color: #000;
  color: #000;
  font-family: var(--heading-font-family);
}

.christmas-swiper .christmas-swiper-arraws {
  position: absolute;
  width: calc(100% - 60px);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  pointer-events: none;
  display: flex;
  justify-content: space-between;
}

.christmas-swiper .christmas-swiper-arraw {
  cursor: pointer;
  pointer-events: all;
  outline: none;
}
.christmas-swiper .christmas-swiper-arraw svg {
  display: block;
  max-width: 100%;
}
@media (max-width: 1600px) {
  .christmas-swiper .christmas-swiper-left {
    padding-right: 40px;
  }
  .christmas-swiper .christmas-swiper-sm-img {
    width: 84%;
  }
  .christmas-swiper .christmas-swiper-arraws {
    width: calc(100% - 40px);
  }
  .christmas-swiper .christmas-swiper-arraw {
    width: 40px;
  }
  .christmas-swiper .christmas-swiper-sm-txt {
    bottom: -55%;
  }
}

@media (max-width: 991px) {
  .christmas-swiper {
    padding: 45px 0;
  }
  .christmas-swiper .christmas-swiper-left {
    padding: 0;
    gap: 22px;
  }
  .christmas-swiper .christmas-swiper-arraws {
    display: none;
  }
  .christmas-swiper .christmas-swiper-cont {
    flex-direction: column;
    gap: 22px;
  }
  .christmas-swiper .christmas-swiper-left,
  .christmas-swiper .christmas-swiper-right {
    width: 100%;
  }
  .christmas-swiper .christmas-swiper-img.active {
    margin-right: 0;
  }
  .christmas-swiper .christmas-swiper-h3 {
    font-size: 26px;
    line-height: 1.25;
  }
  .christmas-swiper .christmas-swiper-p {
    font-size: 12px;
    margin-top: 10px;
  }
  .christmas-swiper .christmas-swiper-sm-img {
    width: 100%;
    margin-top: 0;
  }
  .christmas-swiper .christmas-swiper-tab {
    margin-top: 0;
  }
  .christmas-swiper .christmas-swiper-sm-item.swiper-slide-active .sm-img {
    transform: scale(1);
  }
  .christmas-swiper .christmas-swiper-sm-img {
    max-width: 100%;
  }
  .christmas-swiper .christmas-swiper-sm-list {
    padding: 0;
  }
  .christmas-swiper .christmas-swiper-sm-txt {
    font-size: 12px;
    position: relative;
    bottom: auto;
    left: auto;
    transform: translateX(0);
    white-space: normal;
    flex: 1;
    text-align: left;
    opacity: 1;
  }
  .christmas-swiper .christmas-swiper-sm-item {
    display: flex;
    gap: 15px;
    align-items: center;
    width: 255px;
  }
  .christmas-swiper .christmas-swiper-sm-item .sm-img {
    width: 128px;
  }
  .christmas-swiper .christmas-swiper-tab-item {
    font-size: 14px;
    height: 37px;
  }
  .christmas-swiper .christmas-swiper-text,
  .christmas-swiper .christmas-swiper-tab {
    order: -1;
  }
}
