.container {
  max-width: 1600px;
  padding: 0 40px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .container {
    max-width: 1600px;
    padding: 0 24px;
  }
}

.expenditures {
  padding: 40px 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.expenditures .expenditures-h3 {
  color: #190a0a;
  text-align: center;
  font-size: 50px;
  line-height: 1.1;
  letter-spacing: -0.64px;
  font-weight: normal;
  margin: 0;
  font-family: var(--heading-font-family);
  margin-bottom: 80px;
}

.expenditures .expenditures-sub {
  color: #190a0a;
  text-align: center;
  font-size: 32px;
  line-height: 1.2;
  font-family: var(--heading-font-family);
  margin-bottom: 30px;
}

.expenditures .expenditures-tab-cont {
  display: flex;
  overflow-x: auto;
  margin-bottom: 70px;
}

.expenditures .expenditures-tab {
  display: inline-flex;
  justify-content: center;
  border-radius: 80px;
  border: 1px solid #000;
  margin: 0 auto;
}

.expenditures .expenditures-tab-item {
  min-width: clamp(10px, 7.8125vw, 150px);
  height: clamp(40px, 3.75vw, 72px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: clamp(12px, 1.0417vw, 20px);
  line-height: 1;
  border-radius: 80px;
  padding: 0 15px;
  cursor: pointer;
}

.expenditures .expenditures-tab-item:hover {
  background-color: #eee;
}

.expenditures .expenditures-tab-item.active {
  background-color: #000;
  color: #fff;
}

.expenditures .expenditures-h4 {
  color: #190a0a;
  text-align: center;
  font-size: 32px;
  line-height: 1.2;
  font-family: var(--heading-font-family);
  font-weight: normal;
  margin: 0;
  margin-bottom: 60px;
}

.expenditures .expenditures-num {
  border-radius: 8px;
  border: 2px solid var(--Ulike-, #b3adad);
  display: block;
  width: 435px;
  height: 165px;
  margin: 0 auto;
  color: #190a0a;
  font-size: 96px;
  text-align: center;
}

.expenditures .expenditures-num::placeholder {
  color: #b3adad;
}

.expenditures .expenditures-num::-webkit-inner-spin-button,
.expenditures .expenditures-num::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.expenditures .expenditures-num {
  -moz-appearance: textfield;
}

.expenditures .expenditures-btn {
  display: flex;
  width: 484px;
  height: 56px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #e0004d;
  color: #fff;
  font-size: 20px;
  line-height: 1;
  font-family: var(--heading-font-family);
  margin: 0 auto;
  margin-top: 70px;
  cursor: pointer;
}

.expenditures .expenditures-btn:hover {
  background: #bc0047;
}

.expenditures .expenditures-dispatch {
  max-width: 1125px;
  margin: 0 auto;
  display: none;
}

.expenditures .expenditures-dispatch .expenditures-h3 {
  margin-bottom: 20px;
}

.expenditures .expenditures-dispatch-top {
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  background: #000;
  padding: 10px 10px 16px 10px;
  border-radius: 4px 4px 0px 0px;
}

.expenditures .expenditures-dispatch-top span {
  font-family: var(--heading-font-family);
}

.expenditures .expenditures-dispatch-cont {
  border-radius: 4px;
  background: #fbfaf4;
  padding: 12px;
  margin-top: -6px;
}

.expenditures .expenditures-dispatch-num {
  color: #190a0a;
  text-align: center;
  font-size: 48px;
  line-height: 1.1;
  font-family: var(--heading-font-family);
  margin-bottom: 24px;
}

.expenditures .expenditures-dispatch-num strong {
  font-weight: normal;
  color: #e0004d;
}

.expenditures .expenditures-dispatch-list {
  max-width: 415px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.expenditures .expenditures-dispatch-item {
  display: none;
}

.expenditures .expenditures-dispatch-item.active {
  display: block;
}

.expenditures .expenditures-dispatch-l {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #190a0a;
  font-size: 20px;
  line-height: 1.5;
}

.expenditures .expenditures-dispatch-l svg {
  display: block;
  width: 22px;
  height: auto;
}

.expenditures .expenditures-dispatch-product {
  max-width: 686px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.expenditures .expenditures-dispatch-arraws {
  position: absolute;
  width: calc(100% + 112px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.expenditures .expenditures-dispatch-arraw {
  border-radius: 50%;
  width: 56px;
  cursor: pointer;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.12);
}

.expenditures .expenditures-dispatch-arraw svg {
  display: block;
  width: 100%;
  height: auto;
}

.expenditures .expenditures-dispatch-arraw:hover circle {
  fill: #000;
}

.expenditures .expenditures-dispatch-arraw:hover path {
  fill: #fff;
}

.expenditures .expenditures-dispatch-product-list {
  position: relative;
  z-index: 1;
  display: flex;
}

.expenditures .expenditures-dispatch-product-item {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #b3adad;
  background: #fff;
  overflow: hidden;
}

.expenditures .expenditures-dispatch-product-item.active {
  border: 1px solid #e0004d;
}

.expenditures .expenditures-dispatch-product-img {
  width: 255px;
  position: relative;
  z-index: 1;
}

.expenditures .expenditures-dispatch-product-tag {
  position: absolute;
  top: 11px;
  left: 11px;
  z-index: 2;
  height: 18px;
  display: flex;
  align-items: center;
  padding: 0 4px;
  background: #e0004d;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.697px;
  font-family: var(--heading-font-family);
}

.expenditures .expenditures-dispatch-product-img img {
  width: 100%;
  position: relative;
  z-index: 1;
}

.expenditures .expenditures-dispatch-product-info {
  flex: 1;
  padding: 20px;
}

.expenditures .expenditures-dispatch-product-h3 {
  color: #190a0a;
  font-size: 30px;
  line-height: 1.1;
  font-family: var(--heading-font-family);
  font-weight: normal;
  margin: 0;
  margin-bottom: 12px;
}

.expenditures .expenditures-dispatch-product-price {
  display: flex;
  gap: 8px;
  color: #190a0a;
  font-size: 28px;
  line-height: 1.5;
}

.expenditures .d-price {
  color: #756b6e;
  text-decoration: line-through;
}

.expenditures .expenditures-dispatch-product-btn {
  display: inline-flex;
  align-items: center;
  color: #e0004d;
  font-size: 28px;
  line-height: 1.5;
  gap: 16px;
  background: linear-gradient(#e0004d, #e0004d) no-repeat;
  background-size: 100% 1px;
  background-position: left bottom;
  margin-top: 16px;
  cursor: pointer;
}

.expenditures .expenditures-dispatch-product-btn svg {
  display: block;
  width: 28px;
}

.expenditures .expenditures-dispatch-product-btn:hover {
  color: #bc0047;
  background: linear-gradient(#bc0047, #bc0047) no-repeat;
  background-size: 100% 1px;
  background-position: left bottom;
}

.expenditures .expenditures-dispatch-btn {
  display: flex;
  width: 484px;
  height: 56px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #e0004d;
  color: #fff;
  font-size: 20px;
  line-height: 1;
  font-family: var(--heading-font-family);
  margin: 0 auto;
  margin-top: 20px;
  cursor: pointer;
}

.expenditures .expenditures-dispatch-btn:hover {
  background: #bc0047;
}

@media (max-width: 991px) {
  .expenditures {
    padding: 20px 0 40px 0;
  }

  .expenditures .expenditures-h3 {
    font-size: 28px;
    line-height: 1.5;
    margin-bottom: 35px;
  }

  .expenditures .expenditures-sub {
    font-size: 16px;
    margin-bottom: 16px;
  }

  .expenditures .expenditures-tab-cont {
    margin-bottom: 30px;
  }

  .expenditures .expenditures-h4 {
    font-size: 16px;
    margin-bottom: 24px;
  }

  .expenditures .expenditures-num {
    width: 145px;
    height: 55px;
    border-radius: 3px;
    border-width: 1px;
    font-size: 32px;
  }

  .expenditures .expenditures-btn {
    width: 290px;
    height: 48px;
    font-size: 15px;
    margin-top: 44px;
  }

  .expenditures .expenditures-dispatch {
    margin: 0 -24px;
  }

  .expenditures .expenditures-dispatch-top {
    font-size: 14px;
    border-radius: 20px 20px 0 0;
    padding: 10px 24px 16px 24px;
  }

  .expenditures .expenditures-dispatch-cont {
    padding: 12px 24px;
  }

  .expenditures .expenditures-dispatch .expenditures-h3 {
    margin-bottom: 16px;
    padding: 0 24px;
  }

  .expenditures .expenditures-dispatch-num {
    font-size: 24px;
    margin-bottom: 12px;
  }

  .expenditures .expenditures-dispatch-list {
    padding: 0 8px;
    margin-bottom: 12px;
  }

  .expenditures .expenditures-dispatch-l {
    gap: 12px;
    font-size: 15px;
  }

  .expenditures .expenditures-dispatch-product-img {
    width: 127px;
  }

  .expenditures .expenditures-dispatch-product-tag {
    top: 6px;
    left: 6px;
    font-size: 12px;
  }

  .expenditures .expenditures-dispatch-product-info {
    padding: 10px;
  }

  .expenditures .expenditures-dispatch-product-h3 {
    font-size: 16px;
    margin-bottom: 6px;
  }

  .expenditures .expenditures-dispatch-product-price {
    font-size: 14px;
    gap: 4px;
  }

  .expenditures .expenditures-dispatch-product-btn {
    font-size: 14px;
    margin-top: 8px;
    gap: 8px;
  }

  .expenditures .expenditures-dispatch-product-btn svg {
    width: 14px;
  }

  .expenditures .expenditures-dispatch-arraws {
    width: 100%;
  }
  .expenditures .expenditures-dispatch-arraw {
    width: 32px;
    box-shadow: 0 0 15px rgba(224, 0, 77, 0.2);
  }

  .expenditures .expenditures-dispatch-btn {
    width: 290px;
    height: 48px;
    font-size: 15px;
    margin-top: 16px;
  }
}
