.container {
  max-width: 1920px;
  padding: 0 40px;
}

@media (max-width: 991px) {
  .container {
    padding: 0 24px;
  }
}

.reglow-a1 {
  padding: 8.3vw 0 9.9vw 0;
  position: relative;
  z-index: 1;
}

.reglow-a1 .reglow-a1-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.reglow-a1 .reglow-a1-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.reglow-a1 .container {
  position: relative;
  z-index: 2;
}

.reglow-a1 .reglow-a1-cont {
  width: calc(50% - 38px);
  display: flex;
  flex-direction: column;
  gap: 11.4vw;
}

.reglow-a1 .reglow-a1-h3 {
  font-size: 80px;
  line-height: 1.2;
  background: linear-gradient(278deg, #1a1a1a 14.87%, #846341 85.13%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: normal;
  margin: 0;
  margin-bottom: 16px;
  max-width: 700px;
}

.reglow-a1 .reglow-a1-p {
  color: #1a1a1a;
  font-size: 32px;
  line-height: 2.4;
}

.reglow-a1 .reglow-a1-bottom {
  display: flex;
  gap: 24px;
}

.reglow-a1 .reglow-a1-item {
  flex: 1;
  padding: 24px;
  border-radius: 16px;
  backdrop-filter: blur(20px);
  background: rgba(0, 0, 0, 0.006);
  box-shadow: 0 4px 4px 0 rgba(102, 33, 8, 0.1);
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  color: #1a1a1a;
  font-size: 24px;
  line-height: 1.1;
}

.reglow-a1 .icon-img {
  width: 85px;
}

@media (max-width: 1920px) {
  .reglow-a1 .reglow-a1-item {
    padding: 24px 15px;
    gap: 15px;
    font-size: 20px;
    border-radius: 10px;
  }
  .reglow-a1 .icon-img {
    width: 60px;
  }
}

@media (max-width: 1600px) {
  .reglow-a1 .reglow-a1-h3 {
    font-size: 60px;
  }
  .reglow-a1 .reglow-a1-p {
    font-size: 24px;
    line-height: 1.5;
  }

  .reglow-a1 .reglow-a1-bottom {
    gap: 16px;
  }

  .reglow-a1 .reglow-a1-item {
    gap: 10px;
    padding: 20px 10px;
    font-size: 14px;
    border-radius: 8px;
    text-align: center;
  }
  .reglow-a1 .icon-img {
    width: 40px;
  }
}

@media (max-width: 991px) {
  .reglow-a1 {
    padding: 40px 0 0;
  }

  .reglow-a1 .reglow-a1-bg {
    display: none;
  }

  .reglow-a1 .container {
    position: static;
  }

  .reglow-a1 .reglow-a1-cont {
    width: 100%;
    gap: 0;
  }

  .reglow-a1 .reglow-a1-h3 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 12px;
  }

  .reglow-a1 .reglow-a1-p {
    font-size: 12px;
    line-height: 1.2;
    text-align: center;
  }

  .reglow-a1 .reglow-a1-img {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 24px;
  }

  .reglow-a1 .reglow-a1-bottom {
    position: absolute;
    left: 0;
    bottom: 40px;
    z-index: 2;
    width: 100%;
    padding: 0 24px;
    gap: 9px;
  }
  .reglow-a1 .reglow-a1-item {
    padding: 10px 5px;
    font-size: 12px;
    color: #fff;
    gap: 7px;
    border-color: rgba(255, 255, 255, 0.2);
    border-radius: 6.294px;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(5px);
    box-shadow: 0 1.573px 1.573px 0 rgba(102, 33, 8, 0.1);
  }
}

.reglow-a2 {
  padding: 90px 0;
  overflow: hidden;
}

.reglow-a2 .reglow-a2-h3 {
  color: #190a0a;
  text-align: center;
  font-size: 50px;
  line-height: 1.25;
  font-weight: normal;
  margin: 0;
}

.reglow-a2 .reglow-a2-p {
  color: #190a0a;
  text-align: center;
  font-size: 18px;
  line-height: 1.2;
  margin-top: 16px;
}

.reglow-a2 .reglow-a2-warp {
  margin-top: 60px;
}

.reglow-a2 .reglow-a2-list {
  display: flex;
}

.reglow-a2 .reglow-a2-item {
  width: calc(33.333% - 20px);
  flex-shrink: 0;
}

.reglow-a2 .reglow-a2-img {
  display: flex;
  gap: 6px;
  border-radius: 30px;
  overflow: hidden;
}

.reglow-a2 .reglow-a2-img-item {
  position: relative;
  z-index: 1;
  flex: 1;
}

.reglow-a2 .reglow-a2-img img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reglow-a2 .reglow-a2-tag {
  backdrop-filter: blur(16px);
  border-radius: 40px;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 24px;
  line-height: 1;
  width: 160px;
  height: 37px;
  max-width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  z-index: 2;
}

.reglow-a2 .reglow-a2-img-item:last-child .reglow-a2-tag {
  background: rgba(255, 255, 255, 0.2);
  color: #000;
}

.reglow-a2 .reglow-a2-text {
  margin-top: 40px;
}

.reglow-a2 .reglow-a2-h4 {
  color: #000;
  font-size: 28px;
  line-height: 1.2;
  font-family: var(--heading-font-family);
  font-weight: normal;
  margin: 0;
}

.reglow-a2 .reglow-a2-sub {
  color: #909090;
  font-size: 24px;
  line-height: 1.2;
  margin-top: 30px;
}

.reglow-a2 .reglow-a2-star {
  font-size: 30px;
  line-height: 1;
  color: #e0004d;
  margin-top: 24px;
}

.reglow-a2 .reglow-a2-des {
  color: #1a1a1a;
  font-size: 24px;
  line-height: 1.2;
  margin-top: 32px;
}

.reglow-a2 .reglow-a2-pagination {
  position: relative;
  width: 100%;
  height: 2px;
  background: rgba(164, 164, 164, 0.5);
  margin-top: 30px;
  display: none;
}

.reglow-a2 .swiper-pagination-progressbar-fill {
  background: #000;
}

@media (max-width: 1600px) {
  .reglow-a2 .reglow-a2-img {
    border-radius: 15px;
  }
  .reglow-a2 .reglow-a2-tag {
    width: 140px;
    height: 30px;
    font-size: 16px;
  }
  .reglow-a2 .reglow-a2-text {
    margin-top: 20px;
  }
  .reglow-a2 .reglow-a2-h4 {
    font-size: 22px;
  }
  .reglow-a2 .reglow-a2-sub {
    font-size: 18px;
    margin-top: 10px;
  }
  .reglow-a2 .reglow-a2-star {
    font-size: 20px;
    margin-top: 10px;
  }
  .reglow-a2 .reglow-a2-des {
    font-size: 16px;
    margin-top: 10px;
  }
}

@media (max-width: 991px) {
  .reglow-a2 {
    padding: 40px 0;
  }

  .reglow-a2 .reglow-a2-h3 {
    font-size: 28px;
  }

  .reglow-a2 .reglow-a2-p {
    font-size: 12px;
    margin-top: 12px;
  }

  .reglow-a2 .reglow-a2-item {
    width: 307px;
  }

  .reglow-a2 .reglow-a2-warp {
    margin-top: 24px;
  }

  .reglow-a2 .reglow-a2-img {
    gap: 3px;
  }

  .reglow-a2 .reglow-a2-tag {
    width: 85px;
    height: 19px;
    font-size: 12px;
    bottom: 16px;
  }

  .reglow-a2 .reglow-a2-h4 {
    font-size: 16px;
  }

  .reglow-a2 .reglow-a2-sub {
    font-size: 12px;
    margin-top: 12px;
  }

  .reglow-a2 .reglow-a2-star {
    font-size: 16px;
    margin-top: 10px;
  }

  .reglow-a2 .reglow-a2-des {
    font-size: 12px;
    margin-top: 12px;
  }
  .reglow-a2 .reglow-a2-pagination {
    display: block;
  }
}

.reglow-a3 {
  padding: 4.69vw 0;
  position: relative;
  z-index: 1;
}

.reglow-a3 .reglow-a3-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.reglow-a3 .container {
  position: relative;
  z-index: 2;
}

.reglow-a3 .reglow-a3-cont {
  width: calc(50% - 50px);
  display: flex;
  flex-direction: column;
  gap: 8.54vw;
}

.reglow-a3 .reglow-a3-h3 {
  font-size: 64px;
  line-height: 1.25;
  background: linear-gradient(278deg, #1a1a1a 14.87%, #846341 85.13%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: normal;
  margin: 0;
}

.reglow-a3 .reglow-a3-p {
  color: #909090;
  font-size: 16px;
  line-height: 1.2;
  margin-top: 24px;
}

.reglow-a3 .icon-img {
  width: 100%;
}

@media (max-width: 1600px) {
  .reglow-a3 .reglow-a3-h3 {
    font-size: 45px;
  }
  .reglow-a3 .reglow-a3-cont {
    gap: 5vw;
  }
}

@media (max-width: 991px) {
  .reglow-a3 {
    padding: 40px 0 45% 0;
  }

  .reglow-a3::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(
      180deg,
      rgba(248, 248, 248, 0) 0%,
      #f8f8f8 19.71%
    );
    z-index: 0;
  }

  .reglow-a3 .reglow-a3-h3 {
    font-size: 28px;
    text-align: center;
  }

  .reglow-a3 .container {
    position: static;
  }

  .reglow-a3 .reglow-a3-cont {
    width: 100%;
    gap: 0;
  }
  .reglow-a3 .reglow-a3-bg {
    position: relative;
    height: auto;
    margin-top: 24px;
  }
  .reglow-a3 .reglow-a3-bottom {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 48px);
    padding: 18px 14px;
    z-index: 2;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 3px 3px 0 rgba(102, 33, 8, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  .reglow-a3 .reglow-a3-p {
    font-size: 12px;
    margin-top: 10px;
  }
}

.reglow-a4 {
  background: #f8f8f8;
}

.reglow-a4 .reglow-a4-cont {
  display: flex;
  gap: 56px;
  align-items: center;
}

.reglow-a4 .reglow-a4-img {
  width: calc(50% - 28px);
}

.reglow-a4 .reglow-a4-img .img {
  width: 100%;
}

.reglow-a4 .reglow-a4-text {
  padding: 20px 0;
  flex: 1;
  max-width: 688px;
}

.reglow-a4 .reglow-a4-item {
  padding: 36px 0;
  border-bottom: 1px solid #b2b2b2;
}

.reglow-a4 .reglow-a4-item:last-child {
  border-bottom: none;
}

.reglow-a4 .reglow-a4-h3 {
  color: #1a1a1a;
  font-size: 30px;
  line-height: 1.1;
  font-weight: normal;
  font-family: var(--heading-font-family);
  margin: 0;
}

.reglow-a4 .reglow-a4-p {
  color: #1a1a1a;
  font-size: 28px;
  line-height: 1.2;
  margin-top: 24px;
}

.reglow-a4 .reglow-a4-p svg {
  display: block;
  width: 100%;
  height: auto;
  max-width: 590px;
  margin: 0;
}

@media (max-width: 1500px) {
  .reglow-a4 .reglow-a4-item {
    padding: 22px 0;
  }
  .reglow-a4 .reglow-a4-h3 {
    font-size: 24px;
  }
  .reglow-a4 .reglow-a4-p {
    font-size: 22px;
    margin-top: 16px;
  }
  .reglow-a4 .reglow-a4-p svg {
    max-width: 420px;
  }
}

@media (max-width: 991px) {
  .reglow-a4 {
    padding-bottom: 10px;
  }
  .reglow-a4 .reglow-a4-cont {
    flex-direction: column;
    gap: 0;
  }
  .reglow-a4 .reglow-a4-img {
    width: 100%;
  }

  .reglow-a4 .reglow-a4-text {
    width: 100%;
    max-width: none;
    padding: 0;
  }
  .reglow-a4 .reglow-a4-item {
    padding: 16px 0;
  }
  .reglow-a4 .reglow-a4-h3 {
    font-size: 16px;
  }
  .reglow-a4 .reglow-a4-p {
    font-size: 12px;
    margin-top: 10px;
  }
  .reglow-a4 .reglow-a4-p svg {
    max-width: none;
  }
}
