.container {
  max-width: 1600px;
  padding: 0 40px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .container {
    max-width: 1600px;
    padding: 0 24px;
  }
}

.free-gifts {
  padding: 60px 0 90px 0;
}

.free-gifts .free-gifts-h3 {
  color: #000;
  font-size: 60px;
  line-height: 1.2;
  font-weight: normal;
  text-align: center;
  margin: 0;
  font-family: var(--heading-font-family);
  margin-bottom: 70px;
}

.free-gifts .free-gifts-cont {
  display: flex;
  gap: 30px;
}

.free-gifts .free-gifts-item {
  position: relative;
  z-index: 1;
  width: calc(50% - 15px);
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
}
.free-gifts picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.free-gifts .img-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.free-gifts .img {
  width: 43.4%;
  position: relative;
  z-index: 1;
}

.free-gifts .free-gifts-text {
  position: relative;
  z-index: 1;
  max-width: 350px;
}

.free-gifts .free-gifts-p {
  color: #000;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 8px;
}

.free-gifts .free-gifts-h4 {
  color: #000;
  font-size: 30px;
  line-height: 1.2;
  font-weight: normal;
  margin: 0;
  font-family: var(--heading-font-family);
}

.free-gifts .free-gifts-tag {
  position: absolute;
  z-index: 2;
  width: 88px;
  height: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 1;
  border-radius: 50%;
  top: 15px;
  right: 15px;
  background: linear-gradient(180deg, #e0004d -25%, #ff7595 125%);
}

.free-gifts .free-gifts-tag p {
  margin: 0;
}

.free-gifts .free-gifts-tag strong {
  display: block;
  font-weight: normal;
  font-size: 35px;
}

@media (max-width: 1500px) {
  .free-gifts .free-gifts-tag {
    zoom: 0.6;
  }
}

@media (max-width: 1300px) {
  .free-gifts .free-gifts-p {
    font-size: 14px;
  }
  .free-gifts .free-gifts-h4 {
    font-size: 24px;
  }
}

@media (max-width: 991px) {
  .free-gifts .free-gifts-item {
    flex-direction: column;
    text-align: center;
  }
  .free-gifts .img {
    width: 80%;
  }
}

@media (max-width: 640px) {
  .free-gifts .free-gifts-cont {
    flex-direction: column;
  }
  .free-gifts .free-gifts-item {
    width: 100%;
    padding-top: 10px;
  }
  .free-gifts .free-gifts-text {
    max-width: 260px;
  }
  .free-gifts .free-gifts-h4 {
    font-size: 20px;
  }
}
