.container{
  max-width:1600px;
  padding: 0 40px;
  margin: 0 auto;
}

@media (max-width:991px) {
  .container{
    max-width:1600px;
    padding: 0 24px;
  }
}

.text-animation{
  padding: 182px 0;
  background: #FFF;
  border-bottom: 1px solid #DADADA;
  position: relative;
  z-index: 1;
}

.text-animation .text-animation-cont{
  max-width: 1000px;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.20);
  font-size: 50px;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
}

.text-animation .text-animation-cont span{
  color: rgba(0, 0, 0, 0.20);
  background-clip: text;
  background-size: var(--num-backgroundSize) 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(90deg, #E0004D, #E0004D);
}

@media (max-width:991px) {
  .text-animation{
    padding: 90px 0;
  }
  .text-animation .text-animation-cont{
    font-size: 28px;
  }
}

.slide-diy{
  padding: 100px 0;
  background: #fff;
  position: relative;
  z-index: 1;
}

.slide-diy .slide-diy-title{
  color: #000;
  text-align: center;
  font-size: 50px;
  line-height: 1.25;
}

.slide-diy .slide-diy-sub{
  color: #000;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  max-width: 750px;
  margin: 0 auto;
  margin-top: 15px;
}

.slide-diy .slide-diy-cont{
  margin-top: 80px;
  display: flex;
  flex-direction: row-reverse;
}

.slide-diy .slide-diy-left{
  width: 56.5%;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}

.slide-diy .slide-diy-left::after{
  position: absolute;
  content: '';
  display: none;
  height: 100%;
  width: 1px;
  background: #fff;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 2;
}

.slide-diy .slide-diy-img{
  width: 50%;
  position: relative;
  z-index: 1;
}

.slide-diy .slide-diy-img-item{
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.slide-diy .slide-diy-img-item .img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-diy .slide-diy-img-item.close{
  left: 0;
  top: 0;
  z-index: 3;
  overflow: hidden;
  width: 0;
  transition: width 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.slide-diy .slide-diy-img-item.close .img{
  width: auto;
}

.slide-diy .slide-diy-img-item.active{
  position: relative;
  z-index: 2;
}

.slide-diy .slide-diy-img-txt{
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 1px;
  font-family: var(--heading-font-family);
  position: absolute;
  z-index: 4;
  left: 20px;
  top: 20px;
  background: rgba(0, 0, 0, 0.30);
  padding: 8px 10px;
}

/* .slide-diy .slide-diy-img:nth-child(2) .slide-diy-img-txt{
  background: #E0004D;
} */

.slide-diy .slide-diy-right{
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(43.5% - 100px);
}

.slide-diy .slide-diy-img-list{
  overflow: hidden;
  position: relative;
}

.slide-diy .slide-diy-img-list::after {
  position: absolute;
  content: '';
  display: none;
  width: 70%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 3;
  --background: 255,255,255;
  background: linear-gradient(to left, rgb(var(--background)), rgba(var(--background), 0));
  pointer-events: none;
}

.slide-diy .slide-diy-list{
  display: flex;
}

.slide-diy .slide-diy-list .img{
  display: block;
  width: calc(25% - 7.5px);
  flex-shrink: 0;
  margin-right: 10px;
  border-radius: 3px;
  cursor: pointer;
  opacity: .4;
  transition: all .4s ease;
}

.slide-diy .slide-diy-list .img.active{
  opacity: 1;
}

.slide-diy .slide-diy-bottom{
  display: flex;
  align-items: flex-end;
  gap: 42px;
  margin-top: 30px;
}

.slide-diy .slide-diy-arraw{
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  margin-top: 18px;
}

.slide-diy .slide-diy-arraw-item{
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.slide-diy .slide-diy-arraw-item svg{
  display: block;
}

.slide-diy .slide-diy-text{
  flex: 1;
  position: relative;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.slide-diy .slide-diy-text::before{
  position: absolute;
  content: '“';
  display: none;
  font-size: 200px;
  line-height: 1;
  color: #E6E6E6;
  left: 25px;
  top: -10px;
  z-index: 0;
}

.slide-diy .slide-diy-txt-item{
  position: relative;
  z-index: 2;
  color: #3F3636;
  flex-shrink: 0;
  width: 100%;
  margin-right: 100px;
}

.slide-diy .slide-diy-txt-h3{
  font-size: 21px;
  font-family: var(--heading-font-family);
  line-height: 1.25;
}

.slide-diy .slide-diy-txt-p{
  color: #3F3636;
  font-size: 28px;
  line-height: 1.5;
  margin-top: 20px;
}

.slide-diy .slide-diy-dot{
  display: none;
  align-items: center;
  justify-content: center;
  margin-top: 26px;
}

.slide-diy .slide-diy-dot-item{
  width: 5px;
  height: 5px;
  background: #D9D9D9;
  margin: 0 5px;
  border-radius: 50%;
}

.slide-diy .slide-diy-dot-item.active{
  background: #7A7A7A;
}

@media (max-width:1300px) {
  .slide-diy .slide-diy-right{
    margin-left: 30px;
    width: calc(53.2% - 30px);
  }
  .slide-diy .slide-diy-text{
    font-size: 14px;
  }
  .slide-diy .slide-diy-text::before{
    font-size: 160px;
    left: 12px;
    top: -17px;
  }
}

@media (max-width:991px) {
  .slide-diy{
    padding: 50px 0 70px 0;
  }
  .slide-diy .slide-diy-title{
    font-size: 28px;
  }
  .slide-diy .slide-diy-sub{
    margin-top: 20px;
    font-size: 14px;
  }

  .slide-diy .slide-diy-cont{
    display: block;
    margin-top: 25px;
  }
  .slide-diy .slide-diy-left{
    width: 100%;
    pointer-events: none;
  }
  
  .slide-diy .slide-diy-right{
    margin-left: 0;
    width: 100%;
  }

  .slide-diy .slide-diy-img-list{
    margin-top: 15px;
  }
  .slide-diy .slide-diy-bottom{
    margin-top: 20px;
  }

  .slide-diy .slide-diy-txt-h3{
    font-size: 12px;
  }
  .slide-diy .slide-diy-txt-p{
    font-size: 16px;
  }

}

.module-full{
  position: relative;
  min-height: calc(100vh - 80px);
  z-index: 0;
}

.module-full .img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.module-full .mb-img{
  display: none;
}

.module-full .module-full-cont{
  position: absolute;
  width: 100%;
  height: calc(100vh - 80px);
  left: 0;
  top: 0;
  transform: translateY(var(--num-translateY));
  z-index: 0;
}

.module-full .module-full-text{
  position: absolute;
  width: 100%;
  top: 160px;
  left: 0;
  z-index: 2;
  color: #000;
}

.module-full .module-full-h3{
  font-size: 50px;
  line-height: 1.25;
}

.module-full .module-full-p{
  font-size: 16px;
  line-height: 1.5;
  max-width: 605px;
  margin-top: 20px;
}

@media (max-width:991px) {
  .module-full .mb-img{
    display: block;
  }
  .module-full .pc-img{
    display: none;
  }
  .module-full .module-full-text{
    top: 48px;
  }
  .module-full .module-full-h3{
    font-size: 28px;
  }

  .module-full .module-full-p{
    font-size: 16px;
  }
}

.module-list{
  padding: 105px 0 50px 0;
  background: #fff;
}

.module-list .module-list-h3{
  color: #000;
  text-align: center;
  font-size: 50px;
  line-height: 1.25;
}

.module-list .module-list-box{
  display: flex;
  gap: 40px;
  margin-top: 60px;
}

.module-list .module-list-item{
  flex: 1;
}

.module-list .module-list-item .img{
  display: block;
  width: 100%;
}

.module-list .module-list-text{
  margin-top: 40px;
  max-width: 395px;
}

.module-list .module-list-sub{
  color: #E7004C;
  font-size: 14px;
  line-height: 1;
}

.module-list .module-list-h5{
  color: #000;
  font-size: 35px;
  line-height: 1.25;
}

.module-list .module-list-p{
  color: #888;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 20px;
}

@media (max-width:991px) {
  .module-list{
    padding: 65px 0 35px 0;
    overflow: hidden;
  }
  .module-list .module-list-box{
    gap: 20px;
    margin-top: 40px;
  }
  .module-list .module-list-h3{
    font-size: 28px;
    max-width: 205px;
    text-align: left;
  }
  .module-list .module-list-text{
    max-width: 250px;
    margin-top: 20px;
  }
  .module-list .module-list-sub{
    font-size: 12px;
  }
  .module-list .module-list-h5{
    font-size: 21px;
  }
  .module-list .module-list-p{
    font-size: 12px;
    margin-top: 35px;
  }
}

@media (max-width:865px) {
  .module-list .module-list-item{
    flex: none;
    flex-shrink: 0;
    width: 275px;
  }
  .module-list .module-list-dot{
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  .module-list .module-list-dot-item{
    width: 5px;
    height: 5px;
    background: #D9D9D9;
    margin: 0 5px;
  }
  .module-list .module-list-dot-item.active{
    background: #7A7A7A;
  }
}

.module-image-icon{
  padding: 68px 0 132px 0;
  background: #fff;
}

.module-image-icon .module-image-icon-box{
  position: relative;
}

.module-image-icon .img{
  position: relative;
  z-index: 1;
  width: 100%;
  display: block;
}

.module-image-icon .mb-img{
  display: none;
}

.module-image-icon .module-image-icon-text{
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  padding-left: 115px;
  color: #000;
}

.module-image-icon .module-image-icon-h3{
  font-size: 50px;
  line-height: 1.25;
}

.module-image-icon .module-image-icon-p{
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
}

.module-image-icon .svg-img{
  width: 13.2%;
  display: block;
  margin-top: 90px;
}

@media (max-width:1300px) {
  .module-image-icon .module-image-icon-h3{
    font-size: 40px;
  }
  .module-image-icon .module-image-icon-p{
    font-size: 14px;
  }
  .module-image-icon .svg-img{
    margin-top: 60px;
  }
  .module-image-icon .module-image-icon-text{
    padding-left: 60px;
  }
}

@media (max-width:991px) {
  .module-image-icon{
    padding: 75px 0;
  }
  .module-image-icon .module-image-icon-text{
    position: relative;
    left: auto;
    top: auto;
    transform: translateY(0);
    padding-left: 0;
    text-align: center;
    margin-bottom: 40px;
  }
  .module-image-icon .svg-img{
    display: none;
  }
  .module-image-icon .mb-img{
    display: block;
  }
  .module-image-icon .pc-img{
    display: none;
  }
  .module-image-icon .module-image-icon-h3{
    font-size: 28px;
  }
  .module-image-icon .module-image-icon-p{
    max-width: 210px;
    margin: 0 auto;
    margin-top: 10px;
  }
}

.module-pcos-image{
  position: relative;
}

.module-pcos-image .img{
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
}

.module-pcos-image .mb-img{
  display: none;
}

.module-pcos-image .module-pcos-image-text{
  position: absolute;
  z-index: 2;
  width: 100%;
  max-width: 800px;
  left: 50%;
  top: 85px;
  transform: translateX(-50%);
  color: #000;
  text-align: center;
}

.module-pcos-image .module-pcos-image-h3{
  font-size: 50px;
  line-height: 1.25;
}

.module-pcos-image .module-pcos-image-p{
  font-size: 16px;
  line-height: 1.5;
  margin-top: 20px;
}

.module-pcos-image .module-pcos-image-link{
  width: 256px;
  height: 52px;
  background: #000;
  color: #fff;
  margin: 0 auto;
  margin-top: 20px;
}

.module-pcos-image .module-pcos-image-link .btn-txt::before{
  color: #000;
}


@media (max-width:1600px) {
  .module-pcos-image .module-pcos-image-text{
    top: 50px;
  }
}

@media (max-width:1300px) {
  .module-pcos-image .module-pcos-image-text{
    zoom: .75;
  }
}

@media (max-width:991px) {
  .module-pcos-image .module-pcos-image-text{
    zoom: 1;
    top: 78px;
    max-width: 260px;
    left: 24px;
    transform: translateX(0);
    text-align: left;
  }
  .module-pcos-image .mb-img{
    display: block;
  }
  .module-pcos-image .pc-img{
    display: none;
  }
  .module-pcos-image .module-pcos-image-h3{
    font-size: 28px;
  }
  .module-pcos-image .module-pcos-image-p{
    font-size: 14px;
  }
  .module-pcos-image .module-pcos-image-link{
    width: 160px;
    height: 35px;
    margin: 0;
    margin-top: 30px;
    font-size: 12px;
  }
}






